Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

CRITICAL FIX: Deshabilitar generateBuildId dinamico y webpack personalizado que causaban 404 en chunks
  next.config.js
Owners: @rent360/devops-team

DIAGNOSTIC: Script mejorado para limpiar cache y verificar chunks de Next.js
  src/app/layout.tsx
Owners: @rent360/frontend-team

DIAGNOSTIC: Script mejorado para capturar errores especÃ­ficos de Next.js y React
  src/app/layout.tsx
Owners: @rent360/frontend-team

CRITICAL FIX: Habilitar output standalone para usar servidor estandar de Next.js y generar __NEXT_DATA__
  next.config.js
Owners: @rent360/devops-team

CRITICAL FIX: Cambiar start script para usar servidor estandar de Next.js en lugar de server.ts personalizado
  package.json
Owners: @rent360/maintainers

DIAGNOSTIC: Script mejorado para verificar si __NEXT_DATA__ script existe en el HTML
  src/app/layout.tsx
Owners: @rent360/frontend-team

FIX: Corregir error de sintaxis en expresion regular del script de diagnostico
  src/app/layout.tsx
Owners: @rent360/frontend-team

FIX: Simplificar script de diagnostico eliminando expresiones regulares problemÃ¡ticas
  src/app/layout.tsx
Owners: @rent360/frontend-team

CRITICAL FIX: Corregir script de inicio para usar servidor standalone correcto en lugar de next start
  package.json
Owners: @rent360/maintainers

REVERT: Volver a next start y deshabilitar output standalone que causaba 404 en archivos estaticos
  next.config.js
  package.json
Owners: @rent360/devops-team, @rent360/maintainers

ELIMINAR: Script de diagnÃ³stico que podrÃ­a interferir con __NEXT_DATA__
  src/app/layout.tsx
Owners: @rent360/frontend-team

AGREGAR: Script de diagnÃ³stico simple para verificar React hydration y event listeners
  src/app/layout.tsx
Owners: @rent360/frontend-team

SIMPLIFICAR: AuthProvider para evitar llamadas API que causan problemas de hidrataciÃ³n
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

DESHABILITAR: Todos los Service Workers que causan errores 404 y problemas de hidrataciÃ³n
  src/hooks/useOffline.ts
  src/lib/notifications/firebase-service.ts
  src/lib/pwa.ts
Owners: @rent360/frontend-team, @rent360/backend-team

ELIMINAR: Script de diagnÃ³stico que podrÃ­a interferir con la hidrataciÃ³n de React
  src/app/layout.tsx
Owners: @rent360/frontend-team

SIMPLIFICAR: AuthProvider completamente para evitar problemas de hidrataciÃ³n - eliminar useEffect automÃ¡tico
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Optimizar performance de event handlers para eliminar violaciones
  src/hooks/use-accessibility.ts
  src/hooks/use-mobile.ts
  src/hooks/useOffline.ts
  src/lib/notifications/firebase-service.ts
  src/lib/pwa.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Restaurar AuthProvider completo con manejo seguro de hidratacion
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Restaurar Service Workers con manejo seguro de errores y optimizaciones
  public/sw.js
  src/hooks/useOffline.ts
  src/lib/pwa.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

Restaurar headers de seguridad basicos y rate limiting con limites altos
  src/middleware.ts
Owners: @rent360/maintainers

Corregir error de TypeScript en PWAService - agregar propiedades faltantes
  src/lib/pwa.ts
Owners: @rent360/backend-team

Corregir AuthProvider - simplificar useEffect para evitar problemas de hidratacion
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Corregir problemas de imÃ¡genes y detalles de propiedades
  src/app/api/placeholder/[...params]/route.ts
  src/app/api/properties/[id]/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

Corregir error de build: agregar campo occupancyRate faltante en fallbacks del dashboard del propietario
  runtime logs
  src/app/owner/dashboard/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Corregir datos mock y persistencia de documentos en todos los roles de usuario
  src/app/api/documents/upload/route.ts
  src/app/api/owner/tenants/route.ts
  src/app/api/properties/[id]/route.ts
  src/app/owner/contracts/page.tsx
  src/app/owner/tenants/page.tsx
Owners: @rent360/frontend-team

feat: Implementar funcionalidades reales para casos legales
  src/app/admin/legal-cases/page.tsx
  src/app/api/legal/cases/[id]/expediente/route.ts
  src/app/api/legal/cases/[id]/route.ts
Owners: @rent360/frontend-team

feat: Implementar funcionalidades reales para recordatorios de pagos, mantenimiento y mensajes
  src/app/admin/reports/payments/page.tsx
  src/app/api/maintenance/properties/[id]/jobs/route.ts
  src/app/api/maintenance/properties/route.ts
  src/app/api/messages/[id]/read/route.ts
  src/app/api/owner/payment-reminders/[id]/cancel/route.ts
  src/app/api/owner/payment-reminders/bulk-send/route.ts
  src/app/api/owner/payment-reminders/pending/route.ts
  src/app/api/owner/payment-reminders/route.ts
  src/app/api/owner/payment-reminders/send/route.ts
  src/app/broker/messages/page.tsx
  src/app/maintenance/properties/page.tsx
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/payments/page.tsx
  src/app/tenant/payments/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de TypeScript en build
  src/app/admin/reports/payments/page.tsx
  src/app/api/maintenance/properties/[id]/jobs/route.ts
  src/app/api/maintenance/properties/route.ts
  src/app/api/owner/payment-reminders/bulk-send/route.ts
  src/app/api/owner/payment-reminders/send/route.ts
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/payments/page.tsx
  src/app/tenant/payments/page.tsx
Owners: @rent360/frontend-team

feat: Completar funcionalidades faltantes y corregir errores
  src/app/admin/legal-cases/page.tsx
  src/app/api/admin/legal-cases/[id]/admin-documents/download/route.ts
  src/app/api/admin/notifications/send/route.ts
  src/app/api/owner/payment-reminders/[id]/cancel/route.ts
  src/app/api/owner/payment-reminders/bulk-send/route.ts
  src/app/api/owner/payment-reminders/pending/route.ts
  src/app/api/owner/payment-reminders/route.ts
  src/app/api/owner/payment-reminders/send/route.ts
  src/app/api/payments/[id]/mark-paid/route.ts
  src/app/owner/contracts/page.tsx
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/payments/page.tsx
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

feat: Complete all 4 pending points - maintenance, messages, ratings, and reports
  src/app/admin/reports/maintenance/page.tsx
  src/app/admin/reports/page.tsx
  src/app/api/admin/reports/route.ts
  src/app/broker/messages/page.tsx
  src/app/maintenance/ratings/page.tsx
  src/app/owner/maintenance/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/runner/messages/page.tsx
  src/app/tenant/maintenance/page.tsx
  src/app/tenant/messages/page.tsx
  src/app/tenant/ratings/page.tsx
  src/app/tenant/reports/maintenance/page.tsx
Owners: @rent360/frontend-team

Fix: Complete implementation of real data functionality across all user roles
  package-lock.json
  package.json
  src/app/admin/reports/page.tsx
  src/app/api/admin/legal-cases/[id]/admin-documents/download/route.ts
  src/app/api/admin/notifications/send/route.ts
  src/app/api/payments/[id]/mark-paid/route.ts
  src/app/owner/payments/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/runner/messages/page.tsx
  src/app/tenant/messages/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Fix: Add local archiver type declarations to resolve DigitalOcean build error
  src/types/archiver.d.ts
Owners: @rent360/maintainers

feat: Implementar funcionalidades completas en legal-cases y messages
  src/app/owner/legal-cases/page.tsx
  src/app/owner/messages/chat-page.tsx
Owners: @rent360/frontend-team

feat: Implementar funcionalidades reales de configuraciÃ³n y guardado de documentos
  src/app/api/owner/payment-reminders/settings/route.ts
  src/app/broker/settings/page.tsx
  src/app/maintenance/settings/page.tsx
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/settings/page.tsx
  src/app/provider/settings/page.tsx
  src/app/runner/settings/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

fix: Agregar logging detallado para diagnosticar error 400 en subida de documentos
  src/app/api/documents/upload/route.ts
  src/lib/file-validation.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir error 400 en subida de documentos - validacion inteligente por tipo de archivo
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Corregir error 401 en configuraciones de usuario - usar API correcta
  src/app/broker/settings/page.tsx
  src/app/maintenance/settings/page.tsx
  src/app/owner/settings/page.tsx
  src/app/provider/settings/page.tsx
  src/app/runner/settings/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir persistencia de documentos y agregar todas las regiones de Chile
  src/app/owner/settings/page.tsx
  src/components/ui/location-selectors.tsx
  src/lib/chile-locations.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: ImplementaciÃ³n completa de tour virtual 360Â° y sistema de retenciÃ³n de plataforma
  prisma/schema.prisma
  public/uploads/properties/.gitkeep
  public/uploads/virtual-tours/.gitkeep
  src/app/admin/properties/reported/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/api/admin/platform-retention-config/route.ts
  src/app/api/admin/platform-retention-stats/route.ts
  src/app/api/properties/[id]/virtual-tour/route.ts
  src/app/api/properties/[id]/virtual-tour/upload/route.ts
  src/app/api/properties/route.ts
  src/app/api/uploads/[...path]/route.ts
  src/app/api/user/bank-accounts/[accountId]/route.ts
  src/app/api/user/bank-accounts/[accountId]/verify/route.ts
  src/app/api/user/bank-accounts/[id]/route.ts
  src/app/api/user/profile/route.ts
  src/app/owner/payments/page.tsx
  src/app/tenant/contracts/page.tsx
  src/components/admin/PlatformRetentionSettings.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/components/payments/BankAccountManager.tsx
  src/components/virtual-tour/VirtualTour360.tsx
  src/hooks/useVirtualTour.ts
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team, @rent360/maintainers, @rent360/frontend-team

fix: Correcciones crÃ­ticas para admin de producciÃ³n - Dashboard con datos reales, configuraciones guardan correctamente, APIs reales en lugar de mock
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/api/admin/dashboard-stats/route.ts
  src/app/api/admin/properties/reports/route.ts
  src/app/api/admin/providers/list/route.ts
  src/app/api/admin/tickets/list/route.ts
  src/hooks/useDashboardSync.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
