Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: Usar window.console.error y notificaciÃ³n visual para debug imposible de perder
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

Cambiar console.log a window.console.error para logs visibles en navegador
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

Add comprehensive diagnostic logs to AuthProvider and UnifiedDashboardLayout
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/frontend-team

Add re-render log to diagnose why useEffect is not retriggering
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

CRITICAL FIX: Use useAuth directly instead of useDashboardUser to ensure component re-renders
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Corregir listado de usuarios y persistencia de configuraciones
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

feat(diagnostics): Agregar logs detallados para depuraciÃ³n de usuarios y configuraciones
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Corregir bugs crÃ­ticos en usuarios y configuraciones
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Resolver filtro de usuarios y rate limit en configuraciones
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar conversiones de roles a minÃºsculas en endpoints de API
  src/app/api/users/[id]/route.ts
  src/app/api/users/route.ts
Owners: @rent360/frontend-team

fix: Actualizar validacion de roles para usar mayusculas
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

debug: Agregar logs detallados para funcion deleteUser
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Implementar solucion integral de permisos - carga automatica de usuario
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

fix: Corregir pagina de creacion de propiedades /owner/properties/new
  src/app/api/properties/route.ts
  src/app/owner/properties/new/page.tsx
Owners: @rent360/frontend-team

Fix property creation for ADMIN and BROKER roles
  src/app/admin/properties/page.tsx
  src/app/api/properties/route.ts
  src/app/broker/properties/new/page.tsx
Owners: @rent360/frontend-team

fix: Corregir problemas de autenticacion inicial, carga de propiedades y manejo de imagenes
  public/uploads/.gitkeep
  src/app/api/properties/route.ts
  src/app/owner/dashboard/page.tsx
  src/app/owner/properties/page.tsx
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Resolver problemas de autenticacion y bucle infinito en dashboard
  src/app/owner/dashboard/page.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/lib/db.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: resolve authentication timing issues and reduce excessive re-renders
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

fix: correct role comparison in properties list endpoint
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

fix: authentication and property creation issues
  middleware.ts
  src/app/api/test-cookies/route.ts
  src/app/auth/login/page.tsx
  src/app/owner/properties/new/page.tsx
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

feat: add comprehensive property features and enhance platform functionality
  prisma/schema.prisma
  src/app/admin/properties/reported/page.tsx
  src/app/api/properties/list/route.ts
  src/app/api/properties/route.ts
  src/app/owner/contracts/page.tsx
  src/app/owner/payments/page.tsx
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/tenant/contracts/page.tsx
  src/lib/validations.ts
  src/types/index.ts
Owners: @rent360/backend-team, @rent360/frontend-team, @rent360/maintainers

fix: authentication and property creation issues
  src/app/owner/contracts/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/payments/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/owner/properties/page.tsx
  src/app/tenant/contracts/page.tsx
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: TypeScript error in property creation form
  src/app/owner/properties/new/page.tsx
Owners: @rent360/frontend-team

Fix authentication persistence, property creation visibility, and dashboard loading issues
  src/app/admin/properties/reported/page.tsx
  src/app/api/auth/me/route.ts
  src/app/api/properties/list/route.ts
  src/app/auth/login/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/owner/properties/page.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/lib/auth.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Fix critical dashboard render crash and type errors
  src/app/owner/dashboard/page.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/frontend-team

Fix critical production issues from DigitalOcean runtime logs
  runtime logs
  src/app/owner/dashboard/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/owner/properties/page.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/lib/rate-limiter.ts
  src/middleware/security.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

docs: Add DigitalOcean deploy instructions for runtime issues
  DIGITALOCEAN_DEPLOY_INSTRUCTIONS.md
Owners: @rent360/docs-team

EMERGENCY FIX: Disable rate limiting completely to unblock production
  EMERGENCY_FIX.md
  middleware-BACKUP-WITH-RATE-LIMIT.ts
  middleware-NO-RATE-LIMIT.ts
Owners: @rent360/docs-team, @rent360/maintainers

FIX: Disable rate limiting in src/middleware.ts - Root cause identified
  src/middleware.ts
Owners: @rent360/maintainers

DOCS: Add exhaustive root cause analysis document
  ANALISIS_EXHAUSTIVO_CAUSA_RAIZ.md
Owners: @rent360/docs-team

FIX CRITICAL: Prisma query error - Cannot use select and include together + Clean unused middleware files
  middleware-BACKUP-WITH-RATE-LIMIT.ts
  middleware-NO-RATE-LIMIT.ts
  middleware.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

DOCS: Add critical Prisma fix documentation with exhaustive log analysis
  FIX_CRITICO_PRISMA_16_OCT_2025.md
Owners: @rent360/docs-team

DOCS: Add post-fix log analysis - System fully operational
  ANALISIS_LOGS_POST_FIX_16_OCT.md
Owners: @rent360/docs-team

FIX CRITICAL: Infinite loop in dashboard + Cache persistence error
  src/app/owner/dashboard/page.tsx
  src/lib/cache-manager.ts
Owners: @rent360/frontend-team, @rent360/backend-team

DOCS: Add comprehensive documentation of infinite loop and cache fixes
  FIX_LOOP_INFINITO_CACHE_16_OCT.md
Owners: @rent360/docs-team

FIX: Disable CSP in production temporarily for debugging JavaScript issues
  src/middleware.ts
Owners: @rent360/maintainers

DEBUG: Add comprehensive diagnostic script to identify JavaScript execution issues
  src/app/layout.tsx
Owners: @rent360/frontend-team

FIX CRITICAL: Disable COEP/COOP headers blocking Next.js chunks
  next.config.js
Owners: @rent360/devops-team

CRITICAL FIX: Deshabilitar COEP/COOP/CORP en middleware que bloqueaban ejecucion de React/Next.js
  src/middleware.ts
Owners: @rent360/maintainers

EMERGENCY FIX: Middleware ultra-simplificado - deshabilitado auth, security, CORS, CSP y Service Worker eliminado
  public/sw.js
  src/middleware.ts
Owners: @rent360/maintainers
