Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: corregir errores críticos en producción
  diagnostico-completo.js
  middleware.ts
  src/app/api/debug-simple/route.ts
  src/app/api/health/route.ts
  src/app/api/ping/route.ts
  src/app/api/users/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

cleanup: eliminar archivos de diagnóstico temporales
  diagnostico-completo.js
  src/app/api/debug-simple/route.ts
  src/app/api/ping/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: corregir problemas críticos de frontend en producción
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: corregir verificación de roles de administrador
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: resolver problema crítico de autenticación en APIs
  debug-frontend-detailed.js
  middleware.ts
  package-lock.json
  package.json
  src/app/api/auth-status/route.ts
  src/app/api/settings/route.ts
  src/lib/auth.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

build: completar solución final y limpieza
  debug-frontend-detailed.js
  package-lock.json
  package.json
Owners: @rent360/maintainers

fix: agregar @types/bcrypt a devDependencies
  package.json
Owners: @rent360/maintainers

fix: sincronizar versiones de @types/bcrypt en package.json y package-lock.json
  package-lock.json
  package.json
Owners: @rent360/maintainers

fix: resolver problema de bcrypt en producción
  package-lock.json
  package.json
  src/lib/auth.ts
Owners: @rent360/maintainers, @rent360/backend-team

Correcciones críticas para producción Rent360
  check-users.js
  debug-auth.js
  debug-frontend-complete.js
  debug-simple.js
  package-lock.json
  test-login.js
Owners: @rent360/maintainers

CORRECCIÓN CRÍTICA: Autenticación completa arreglada
  src/app/admin/users/page.tsx
  src/app/auth/login/page.tsx
  src/hooks/useUserState.ts
  test-browser-login.js
  test-full-flow.js
Owners: @rent360/frontend-team, @rent360/maintainers

CORRECCIÓN: Labels de accesibilidad en formularios
  check-users.js
  debug-auth.js
  debug-frontend-complete.js
  debug-simple.js
  src/app/admin/users/page.tsx
  test-browser-login.js
  test-full-flow.js
  test-login.js
Owners: @rent360/maintainers, @rent360/frontend-team

DIAGNÓSTICO COMPLETO: Sistema funcionando correctamente
  public/browser-debug.html
Owners: @rent360/maintainers

CONFIGURACIÓN COMPLETA PARA PRODUCCIÓN
  PRODUCTION_SETUP.md
  src/lib/auth.ts
Owners: @rent360/docs-team, @rent360/backend-team

CORRECCIÓN: Iconos y Screenshots PWA válidos
  public/icons/contracts-96x96.png
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/maintenance-96x96.png
  public/icons/payment-96x96.png
  public/icons/search-96x96.png
  public/screenshots/desktop-home.png
  public/screenshots/desktop-properties.png
  public/screenshots/mobile-home.png
  public/screenshots/mobile-properties.png
Owners: @rent360/maintainers

CORRECCIÓN: Configuración de cookies para producción
  src/lib/auth.ts
Owners: @rent360/backend-team

MIDDLEWARE SIMPLIFICADO: Resolviendo errores 503 en producción
  middleware.ts
Owners: @rent360/maintainers

CORRECCIÓN: Errores de TypeScript en middleware.ts
  middleware.ts
Owners: @rent360/maintainers

HERRAMIENTAS DE DIAGNÓSTICO: Resolviendo errores 401/503 persistentes
  middleware.ts
  public/debug-auth.html
  src/app/api/debug-auth/route.ts
  src/app/api/debug-users/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

CORRECCIÓN: Error TypeScript en debug-users/route.ts
  src/app/api/debug-users/route.ts
Owners: @rent360/frontend-team

CORRECCIÓN CRÍTICA: Middleware intlMiddleware causando errores 503
  middleware.ts
Owners: @rent360/maintainers

CORRECCIÓN CRÍTICA: useUserState causando crashes en producción
  public/simple-debug.html
  src/hooks/useUserState.ts
Owners: @rent360/maintainers, @rent360/frontend-team

SERVICE WORKER: Corregido bloqueo de APIs críticas
  public/sw.js
Owners: @rent360/maintainers

HERRAMIENTAS DIAGNÓSTICO: Función para actualizar Service Worker
  public/simple-debug.html
Owners: @rent360/maintainers

CORRECCIÓN CRÍTICA: Header duplicado causando errores 503
  src/components/header.tsx
Owners: @rent360/frontend-team

useUserState mejorado: Robustez para errores de servidor
  src/hooks/useUserState.ts
Owners: @rent360/frontend-team

CORRECCIONES CRÍTICAS: CSP y AuthProvider
  middleware.ts
  next.config.js
  src/components/auth/AuthProvider.tsx
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team

CORRECCIÓN CRÍTICA TypeScript AuthProvider
  src/components/auth/AuthProvider.tsx
Owners: @rent360/frontend-team

HERRAMIENTAS DE DEBUG PARA CSP Y CACHE
  middleware.ts
  public/simple-debug.html
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

REFACTOR CRÍTICO: useUserState AuthProvider
  src/hooks/useUserState.ts
Owners: @rent360/frontend-team

CORRECCIONES FINALES COMPLETADAS
  src/components/auth/AuthProvider.tsx
Owners: @rent360/frontend-team

REFACTOR CRÍTICO: Sistema de Tipos Unificado
  src/components/auth/AuthProvider.tsx
  src/types/index.ts
Owners: @rent360/frontend-team, @rent360/maintainers

Limpieza: Remover scripts temporales de migración
  fix-imports.js
  fix-useUserState.ps1
  src/app/admin/payments/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Páginas de diagnóstico: Error Test y Simple Test
  src/app/error-test/page.tsx
  src/app/simple-test/page.tsx
Owners: @rent360/frontend-team

AuthProvider simplificado para resolver crashes
  src/components/auth/AuthProvider.tsx
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Cambiar a AuthProviderSimple en layout.tsx
  src/app/layout.tsx
Owners: @rent360/frontend-team

Agregar directiva 'use client' al AuthProviderSimple
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Páginas de debug adicionales para diagnóstico profundo
  fix-doubled.js
  fix-imports.js
  src/app/debug-layout/layout.tsx
  src/app/debug-layout/page.tsx
  src/app/debug-minimal/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Corregir páginas de debug - quitar HTML completo y usar solo contenido
  src/app/debug-layout/layout.tsx
  src/app/debug-minimal/page.tsx
Owners: @rent360/frontend-team

SOLUCIÓN CRÍTICA: Dependencias circulares resueltas
  config/production.env
  middleware.ts
  next.config.js
  src/app/api/health/route.ts
  src/app/debug-layout/page.tsx
  src/app/debug-minimal/page.tsx
  src/app/error-test/page.tsx
  src/app/simple-test/page.tsx
  src/components/error/ErrorBoundary.tsx
  src/lib/error-fallback.ts
  src/lib/logger.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team, @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
