Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: Correcciones criticas para sistema de mensajeria en produccion
  src/middleware.ts
  src/middleware/auth.ts
  verify-messaging-fix.js
Owners: @rent360/maintainers

fix: Corregir matcher del middleware para capturar todas las rutas API
  src/middleware.ts
  verify-messaging-fix.js
Owners: @rent360/maintainers

debug: Agregar logs detallados para diagnosticar problema del middleware
  src/middleware.ts
  test-middleware-production.js
Owners: @rent360/maintainers

fix: Corregir decodificaciÃ³n JWT en middleware usando jsonwebtoken
  src/middleware.ts
  src/middleware/auth.ts
  test-jwt-fix.js
  test-middleware-production.js
Owners: @rent360/maintainers

fix: corregir middleware auth para Edge Runtime y agregar logs de debugging
  src/middleware.ts
  src/middleware/auth.ts
  test-jwt-fix.js
Owners: @rent360/maintainers

debug: agregar logs detallados para diagnosticar middleware auth
  src/app/api/messages/conversations/route.ts
  src/app/api/messages/route.ts
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/frontend-team, @rent360/maintainers

debug: agregar logs ultra-detallados para diagnosticar por quÃ© middleware no se ejecuta
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers

fix: corregir error de scope en middleware auth - variable payload
  src/middleware/auth.ts
Owners: @rent360/maintainers

debug: agregar logs ultra-especÃ­ficos para diagnosticar middleware no ejecutÃ¡ndose
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers

debug: logs ultra-especÃ­ficos y matcher simplificado para diagnosticar middleware
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers

fix: corregir filtro de mensajes para conversaciones bidireccionales
  src/app/api/messages/route.ts
Owners: @rent360/frontend-team

docs: agregar instrucciones para migracion UserReport en produccion
  INSTRUCCIONES_MIGRATION_USER_REPORTS.md
Owners: @rent360/docs-team

chore: eliminar script temporal de aplicacion de contadores
  apply-unread-counter-all-dashboards.js
Owners: @rent360/maintainers

fix: Correcciones de build - estado unreadMessagesCount en admin dashboard, useEffect return en owner dashboard, y ajustes en API de reportes
  src/app/admin/dashboard/page.tsx
  src/app/api/messages/report/route.ts
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

feat: Refresh silencioso de mensajes - experiencia fluida sin interrupciones
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

feat: Polling inteligente basado en actividad + modal de reporte mejorado con estilos corregidos
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: Marcar mensajes como leidos + migracion SQL para tabla user_reports + instrucciones
  INSTRUCCIONES_APLICAR_MIGRACION_USER_REPORTS.md
  prisma/migrations/20241022_add_user_reports/migration.sql
  src/app/api/messages/mark-read/route.ts
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/frontend-team

docs: Resumen completo de correcciones del sistema de mensajeria
  RESUMEN_CORRECCIONES_MENSAJERIA.md
Owners: @rent360/docs-team

feat(user-reports): Agregar sistema completo de reportes de conducta de usuarios
  src/app/admin/user-reports/page.tsx
  src/app/api/admin/user-reports/route.ts
  src/app/support/user-reports/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

docs: Agregar documentaciÃ³n completa del sistema de reportes de conducta
  SISTEMA_REPORTES_CONDUCTA_USUARIOS.md
Owners: @rent360/docs-team

fix(user-reports): Agregar dynamic='force-dynamic' y corregir rutas de login
  src/app/admin/user-reports/page.tsx
  src/app/support/user-reports/page.tsx
Owners: @rent360/frontend-team

docs: Agregar documentaciÃ³n del fix del error 404 en user-reports
  FIX_ERROR_404_USER_REPORTS.md
Owners: @rent360/docs-team

fix: Corregir acceso a reportes de conducta para admin
  apply-user-reports-migration.js
  src/app/api/admin/user-reports/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir problemas de admin/tickets y user-reports
  src/app/admin/tickets/page.tsx
  src/app/api/tickets/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir errores de admin user-reports y tickets
  apply-user-reports-migration.js
  create-admin-user.js
  src/app/admin/tickets/[id]/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

debug: Agregar pÃ¡gina de debug para autenticaciÃ³n
  src/app/debug-auth/page.tsx
  test-prod-users.js
  test-user-reports-access.js
Owners: @rent360/frontend-team, @rent360/maintainers

cleanup: Limpiar archivos temporales de debug
  create-admin-user.js
  test-prod-users.js
  test-user-reports-access.js
Owners: @rent360/maintainers

fix: Corregir error TypeScript en build de tickets
  src/app/admin/tickets/[id]/page.tsx
  src/app/api/tickets/[id]/route.ts
Owners: @rent360/frontend-team

cleanup: Remover pÃ¡gina de debug temporal
  src/app/debug-auth/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error toISOString en tickets - quitar llamadas innecesarias
  src/app/admin/tickets/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Build exitoso - corregir errores TypeScript en tickets
  src/app/admin/tickets/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Corregir mÃºltiples problemas reportados
  next-intl.config.ts
  src/app/[locale]/layout.tsx
  src/app/admin/tickets/page.tsx
  src/app/debug-auth/page.tsx
Owners: @rent360/devops-team, @rent360/frontend-team

feat: Agregar API de estadÃ­sticas de tickets y corregir cÃ¡lculo de stats
  src/app/admin/tickets/[id]/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/api/admin/tickets/stats/route.ts
Owners: @rent360/frontend-team

debug: Agregar logs detallados a pÃ¡gina de user-reports para investigar redirecciÃ³n a login
  src/app/admin/user-reports/page.tsx
Owners: @rent360/frontend-team

feat: Conectar mÃ©tricas de rendimiento reales y mejorar debugging de user-reports
  src/app/admin/tickets/page.tsx
  src/app/admin/user-reports/page.tsx
  src/app/api/admin/tickets/performance/route.ts
Owners: @rent360/frontend-team

fix: Corregir formato de cÃ³digo en tickets page
  src/app/admin/tickets/page.tsx
Owners: @rent360/frontend-team

fix: Excluir /api/auth/me del middleware para evitar conflicto de autenticaciÃ³n
  src/middleware.ts
Owners: @rent360/maintainers

cleanup: Limpiar logs de debugging de user-reports
  src/app/admin/user-reports/page.tsx
Owners: @rent360/frontend-team

fix: Corregir problema persistente de redirecciÃ³n en user-reports
  src/app/admin/user-reports/page.tsx
  src/app/api/auth/me/route.ts
  src/app/support/user-reports/page.tsx
  src/lib/auth.ts
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/frontend-team, @rent360/backend-team, @rent360/maintainers

fix: Corregir middleware que estaba rompiendo autenticaciÃ³n
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers
