Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: broker contact from property search - include broker info in API
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: provider profile editing and responseTime conversion
  src/app/api/provider/profile/route.ts
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

debug: add comprehensive client-side logging for WebSocket and messages
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

debug: add highly visible console logs for message debugging
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: provider profile avatar saving and serviceTypes data cleaning
  src/app/api/provider/profile/route.ts
  src/app/provider/profile/page.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/socket-client.ts
  src/lib/websocket/socket-server.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: multiple issues with provider profile and messaging
  src/app/api/messages/route.ts
  src/app/api/provider/profile/route.ts
  src/app/provider/profile/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: avatar display and add highly visible debugging logs
  src/app/provider/profile/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: service request system corrections
  src/app/api/provider/requests/[id]/route.ts
  src/app/api/services/request/route.ts
  src/app/provider/requests/[id]/page.tsx
  src/app/provider/requests/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: complete service request system improvements
  src/app/api/provider/requests/route.ts
  src/app/api/services/quote/route.ts
  src/app/api/services/request/route.ts
  src/app/tenant/services/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: integrate service requests into tenant services page
  src/app/api/services/request/[id]/route.ts
  src/app/provider/dashboard/page.tsx
  src/app/provider/requests/page.tsx
  src/app/tenant/service-requests/[id]/page.tsx
  src/app/tenant/service-requests/page.tsx
  src/app/tenant/services/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Pusher WebSocket integration
  package-lock.json
  package.json
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: Pusher server library installation and auth endpoint debugging
  package-lock.json
  package.json
  src/app/api/pusher/auth/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Pusher auth endpoint data parsing
  src/app/api/pusher/auth/route.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: Pusher auth endpoint - comprehensive request logging
  src/app/api/pusher/auth/route.ts
Owners: @rent360/frontend-team

fix: Pusher timing issue - wait for connection before subscribing
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team

fix: Pusher configuration fixes - deprecated options and auth params
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team

debug: Pusher connection - additional logging and validation
  src/app/api/pusher/auth/route.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: Pusher ultra-detailed logging with console traces
  src/app/api/pusher/auth/route.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Pusher auth debugging - custom authorizer and detailed error logging
  src/app/api/pusher/auth/route.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Pusher connection state detection
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team

debug: Connection status detection - add pusherChannel assignment and event logging
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: File loading verification - add ultra-visible logs to verify code execution
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: Enhanced browser console logging - module-level logs and constructor tracking
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Simplified Pusher auth - removed custom authorizer, back to standard authEndpoint
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team

fix: improve Pusher auth body parsing for form-urlencoded
  src/app/api/pusher/auth/route.ts
Owners: @rent360/frontend-team

fix: add window.console.log for production debugging
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team

debug: add extensive logging for event propagation
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: register Pusher event listeners before connect() to prevent event loss
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: Comprehensive fixes for user experience improvements
  src/app/api/services/quote/route.ts
  src/app/provider/requests/[id]/page.tsx
  src/lib/websocket/pusher-client.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Complete quote details display and notification delivery
  src/app/api/services/quote/route.ts
  src/app/api/services/request/[id]/route.ts
  src/app/tenant/service-requests/[id]/page.tsx
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Complete quote acceptance/rejection functionality with provider notifications
  src/app/api/services/request/[id]/accept/route.ts
  src/app/api/services/request/[id]/reject/route.ts
  src/app/tenant/service-requests/[id]/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Complete quote acceptance/rejection with provider notifications
  src/app/tenant/service-requests/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Provider dashboard and quote acceptance issues
  src/app/api/services/request/[id]/accept/route.ts
  src/app/api/services/request/[id]/reject/route.ts
  src/app/provider/dashboard/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Complete workflow continuity and notification delivery
  prisma/schema.prisma
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/provider/jobs/[id]/route.ts
  src/app/api/provider/jobs/route.ts
  src/app/api/services/request/[id]/accept/route.ts
  src/app/provider/dashboard/page.tsx
  src/app/provider/jobs/[id]/page.tsx
  src/app/tenant/service-requests/[id]/page.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Build errors and TypeScript issues
  src/app/api/provider/jobs/[id]/route.ts
  src/app/api/services/request/[id]/accept/route.ts
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Service request endpoint - provider vs serviceProvider inconsistency
  src/app/api/services/request/route.ts
Owners: @rent360/backend-team

fix: Unify provider types - eliminate SERVICE_PROVIDER/MAINTENANCE_PROVIDER confusion
  src/app/admin/dashboard/page.tsx
  src/app/admin/users/[id]/page.tsx
  src/app/api/admin/providers/list/route.ts
  src/app/api/admin/user-role/route.ts
  src/app/api/auth/register-provider/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/contracts/route.ts
  src/app/api/documents/[id]/access/route.ts
  src/app/api/payments/provider/route.ts
  src/app/api/payments/route.ts
  src/app/api/provider/recurring-services/[id]/execute/route.ts
  src/app/api/provider/services/route.ts
  src/app/auth/register/page.tsx
  src/app/client/rate-service/[jobId]/page.tsx
  src/app/rate/provider/[providerId]/page.tsx
  src/app/support/users/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/lib/auth.ts
  src/lib/chatbot-context-service.ts
  src/lib/ratings/rating-service.ts
  src/lib/referrals/referral-service.ts
  src/lib/types.ts
  src/lib/validations.ts
  src/types.ts
Owners: @rent360/frontend-team, @rent360/backend-team, @rent360/maintainers

fix: Service request endpoint - correct serviceProviderId references
  src/app/api/services/request/route.ts
Owners: @rent360/backend-team

fix: Remove progress field temporarily - database schema not migrated
  prisma/schema.prisma
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/provider/jobs/[id]/route.ts
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Restore progress tracking functionality for jobs
  prisma/schema.prisma
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/provider/jobs/[id]/route.ts
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
