Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix(virtual-tour): Corregir mapeo de campos isEnabled/enabled y agregar logging
  src/app/api/properties/[id]/virtual-tour/route.ts
Owners: @rent360/frontend-team

fix(virtual-tour): Sincronizar virtualTourEnabled de propiedad al guardar tour
  src/app/api/properties/[id]/virtual-tour/route.ts
Owners: @rent360/frontend-team

fix(virtual-tour): Corregir carga de escenas en todas las vistas
  src/app/api/admin/virtual-tours/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/properties/[id]/tour/page.tsx
  src/app/properties/search/page.tsx
  src/app/signatures/page.tsx
Owners: @rent360/frontend-team

fix(properties): Agregar virtualTourEnabled a tipo Property y API de busqueda
  src/app/api/properties/route.ts
  src/types/index.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix(virtual-tour): Permitir acceso publico a tours virtuales habilitados
  src/app/api/properties/[id]/virtual-tour/route.ts
Owners: @rent360/frontend-team

feat(virtual-tour): Experiencia inmersiva de pantalla completa para tour 360
  src/app/properties/search/page.tsx
Owners: @rent360/frontend-team

feat(virtual-tour): Agregar zoom, pan y controles colapsables
  src/app/properties/search/page.tsx
Owners: @rent360/frontend-team

feat(virtual-tour): Implementar navegación estilo Street View con hotspots
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/app/properties/search/page.tsx
Owners: @rent360/frontend-team

feat(virtual-tour): Integrar visor 360° real con Pannellum
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/app/properties/search/page.tsx
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

style: Cambiar icono de camara por boton verde esmeralda 360°
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/app/properties/search/page.tsx
  src/components/virtual-tour/VirtualTourSection.tsx
Owners: @rent360/frontend-team

fix: Hacer pitch/yaw opcionales en tipos Hotspot para compatibilidad
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

fix(virtual-tour): Mejorar estilos y funcionalidad de hotspots en Pannellum
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

fix(virtual-tour): Corregir funcionalidad de clicks en hotspots
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

fix(virtual-tour): Corregir mapeo de IDs en hotspots al guardar tour
  src/app/api/properties/[id]/virtual-tour/route.ts
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

feat(virtual-tour): Agregar transiciones suaves y optimizar carga de escenas
  src/components/virtual-tour/Viewer360.tsx
Owners: @rent360/frontend-team

feat(broker): Agregar funcionalidad completa de hotspots para tours virtuales
  src/app/broker/properties/[propertyId]/virtual-tour/page.tsx
Owners: @rent360/frontend-team

fix(broker): Mostrar información del cliente en tab Estado del Cliente
  src/app/broker/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

feat(broker): Mejorar tab Propiedades para inquilinos y arreglar botón de favorito
  src/app/api/broker/clients/[clientId]/favorites/route.ts
  src/app/api/broker/clients/[clientId]/share-property/route.ts
  src/app/broker/clients/[clientId]/page.tsx
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

fix(build): Mejorar verificación de tipos en share-property endpoint
  src/app/api/broker/clients/[clientId]/favorites/route.ts
  src/app/api/broker/clients/[clientId]/share-property/route.ts
Owners: @rent360/frontend-team

fix(build)
  src/app/broker/clients/[clientId]/page.tsx
Owners: @rent360/frontend-team

Fix heart butom
  src/app/tenant/advanced-search/page.tsx
Owners: @rent360/frontend-team

Fix calificaciones
  src/app/tenant/property-comparison/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/tenant/property-comparison/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/tenant/property-comparison/page.tsx
Owners: @rent360/frontend-team

correccion selectitem
  src/app/tenant/advanced-search/page.tsx
Owners: @rent360/frontend-team

correccion headers duplicados
  src/app/broker/analytics/market-analysis/page.tsx
  src/app/broker/analytics/page.tsx
  src/app/broker/appointments/page.tsx
  src/app/broker/commissions/page.tsx
  src/app/broker/contracts/page.tsx
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

correccion 404 appointments y reports
  src/app/api/broker/appointments/route.ts
  src/app/broker/commissions/page.tsx
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

correcion filtro reports
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

FIX BUILD
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

correccion de filtro en pagina reportes
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

correccion reportedissues soporte
  src/app/support/properties/page.tsx
Owners: @rent360/frontend-team

correciones
  src/app/support/properties/page.tsx
Owners: @rent360/frontend-team

fix linter
  prisma/schema.prisma
  src/app/api/support/knowledge/route.ts
  src/app/support/knowledge/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

correccion runner reports
  src/app/runner/reports/performance/page.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

correcciones runner
  src/app/runner/profile/page.tsx
  src/app/runner/ratings/page.tsx
  src/app/runner/settings/page.tsx
Owners: @rent360/frontend-team

correccion notificacion de bienvenida y envio de respuestas en tickets
  src/app/api/tickets/[id]/comments/route.ts
  src/lib/notifications.ts
Owners: @rent360/frontend-team, @rent360/backend-team

agregadas creador y notificacion en tickets de soporte
  src/app/api/tickets/[id]/comments/route.ts
  src/app/support/tickets/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/api/tickets/[id]/comments/route.ts
Owners: @rent360/frontend-team
