Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: actualizar API route para usar enum RunnerIncentiveStatus
  src/app/api/runner/incentives/route.ts
Owners: @rent360/frontend-team

fix: cambiar campos JSON a tipo Json en Prisma schema
  prisma/schema.prisma
Owners: @rent360/backend-team

fix: corregir cast de campos JSON usando unknown
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: mapear resultado Prisma a RunnerIncentive en claimIncentive
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: agregar relaciones faltantes para RunnerIncentive
  prisma/schema.prisma
Owners: @rent360/backend-team

fix: agregar verificaciones null para campos JSON rewardsGranted y achievementData
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: castear incentiveRule de Prisma a IncentiveRule en leaderboard
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: cambiar undefined por null en consultas Prisma
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: mapear resultado Prisma a RunnerIncentive en grantIncentive
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: agregar verificación null para incentive en leaderboard
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: usar compound unique key visitId_clientId en consulta findUnique
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: corregir acceso a propiedad inexistente en Visit model
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: convertir objeto Prisma a RunnerRating para notifyRunnerOfRating
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: retornar objeto RunnerRating convertido en createRunnerRating
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: convertir array de Prisma a RunnerRating[] en getRunnerRatings
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

refactor: crear función helper para conversión Prisma RunnerRating
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: corregir consulta findUnique en canRateVisit para usar clave compuesta visitId_clientId
  src/lib/runner-rating-service.ts
Owners: @rent360/backend-team

fix: corregir errores en runner-reports-service y normalizar valores enum
  src/app/api/runner/bank-account/route.ts
  src/app/api/runner/incentives/[incentiveId]/claim/route.ts
  src/app/api/runner/incentives/route.ts
  src/app/api/runner/leaderboard/route.ts
  src/app/api/runner/reports/route.ts
  src/lib/runner-incentives-service.ts
  src/lib/runner-reports-service.ts
  src/lib/validations.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir tipos opcionales incompatibles con exactOptionalPropertyTypes
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/base-bank-integration.ts
  src/lib/bank-integrations/paypal-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
  src/lib/banking/base-bank.ts
  src/lib/kyc-service.ts
  src/lib/logger.ts
  src/lib/math-validation.ts
  src/lib/payout-service.ts
  src/lib/provider-payouts-service.ts
  src/lib/rut-validation.ts
  src/lib/types.ts
Owners: @rent360/backend-team

fix: corregir asignaciones problemáticas de undefined a propiedades opcionales
  src/lib/banking/banco-estado.ts
  src/lib/banking/bci.ts
  src/lib/kyc-service.ts
  src/lib/runner-incentives-service.ts
  src/lib/rut-validation.ts
Owners: @rent360/backend-team

fix: corregir spread operator problemático en integraciones bancarias
  src/lib/banking/banco-estado.ts
  src/lib/banking/bci.ts
Owners: @rent360/backend-team

fix: corregir tipos de retorno en funciones validateAccount bancarias
  src/lib/banking/banco-estado.ts
  src/lib/banking/bci.ts
Owners: @rent360/backend-team

Update input-validator.ts
  src/lib/security/input-validator.ts
Owners: @rent360/security-team

fix: corregir validación de RUT en DigitalSign provider
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/backend-team

fix: corregir tipo de retorno en getSignatureStatus de DigitalSign
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/backend-team

fix: corregir validaciones de RUT para prevenir errores de undefined
  src/lib/bank-account-service.ts
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/backend-team

fix: corregir errores de linting en bank-account-service.ts
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

fix: corregir asignación de body en llamadas fetch con exactOptionalPropertyTypes
  src/lib/bank-integrations/base-bank-integration.ts
  src/lib/signature/providers/trustfactory.ts
Owners: @rent360/backend-team

fix: corregir acceso a propiedad typeName en validadores Zod
  src/lib/validation/runtime-validators.ts
Owners: @rent360/backend-team

fix: resolver conflicto de identificadores en WebSocket client
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: agregar importación faltante de Socket en socket-server.ts
  src/lib/websocket/socket-server.ts
Owners: @rent360/backend-team

fix: corregir configuración del servidor Socket.IO
  src/lib/websocket/socket-server.ts
Owners: @rent360/backend-team

fix: corregir tipo de propiedad opcional en ValidationError
  src/middleware/error-handler.ts
Owners: @rent360/maintainers

fix: resolver conflicto de identificadores duplicados en SignatureStatus
  src/app/api/signatures/callback/firmapro/route.ts
  src/app/api/signatures/callback/trustfactory/route.ts
  src/app/api/signatures/route.ts
  src/types.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: eliminar definición duplicada de RefundStatus
  src/types.ts
Owners: @rent360/maintainers

fix: resolver error de tipo Contract no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers

fix: resolver error de tipo Property no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers

fix: resolver error de tipo User no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers

fix: resolver error de tipo Payment no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers

fix: resolver error de tipo TicketComment no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers
