Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

debug: agregar logging detallado para investigar error 500 en creación de tickets
  src/app/api/runner/tasks/[taskId]/route.ts
  src/app/api/tickets/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/tenant/broker-services/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: corregir error TypeScript en runner/tasks/[taskId]/route.ts
  src/app/api/runner/tasks/[taskId]/route.ts
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: corregir rutas de API en página de soporte y agregar validación de descripción
  src/app/support/tickets/page.tsx
Owners: @rent360/frontend-team

feat: implementar endpoint completo de exportación de tickets
  src/app/api/tickets/export/route.ts
  src/app/support/tickets/page.tsx
Owners: @rent360/frontend-team

feat: crear páginas de tickets específicas por rol
  src/app/broker/tickets/page.tsx
  src/app/owner/tickets/page.tsx
  src/app/tenant/tickets/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

feat: completar páginas de tickets para todos los roles
  src/app/maintenance/tickets/page.tsx
  src/app/provider/tickets/page.tsx
  src/app/runner/tickets/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: corregir manejo de respuestas en creación de tickets
  src/app/broker/tickets/page.tsx
  src/app/maintenance/tickets/page.tsx
  src/app/owner/tickets/page.tsx
  src/app/provider/tickets/page.tsx
  src/app/runner/tickets/page.tsx
  src/app/tenant/tickets/page.tsx
Owners: @rent360/frontend-team

feat: Integrate broker invitations within broker-services pages
  src/app/api/broker/discover/invitations/route.ts
  src/app/api/invitations/[id]/accept/route.ts
  src/app/api/invitations/[id]/reject/route.ts
  src/app/api/invitations/route.ts
  src/app/broker/tickets/page.tsx
  src/app/maintenance/tickets/page.tsx
  src/app/owner/broker-services/page.tsx
  src/app/owner/tickets/page.tsx
  src/app/provider/tickets/page.tsx
  src/app/runner/tickets/page.tsx
  src/app/tenant/broker-services/page.tsx
  src/app/tenant/tickets/page.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: Implement complete broker client acquisition flow
  prisma/schema.prisma
  src/app/admin/tickets/[id]/page.tsx
  src/app/api/invitations/[id]/accept/route.ts
  src/app/api/owner/broker-clients/[clientId]/manage-properties/route.ts
  src/app/api/owner/broker-clients/[clientId]/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/owner/broker-services/select-properties/page.tsx
  src/app/support/tickets/[id]/page.tsx
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Complete broker client acquisition flow fixes
  src/app/api/invitations/[id]/accept/route.ts
  src/app/api/owner/broker-clients/[clientId]/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/owner/broker-services/select-properties/page.tsx
  src/app/support/tickets/[id]/page.tsx
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/frontend-team

fix: Improve property dashboard refresh and cache management
  src/app/[locale]/layout.tsx
  src/app/api/properties/list/route.ts
  src/app/layout.tsx
  src/app/owner/properties/page.tsx
  src/components/notifications/NotificationSystem.tsx
  src/components/ui/notification-provider.tsx
Owners: @rent360/frontend-team

feat: Implement automatic property dashboard refresh
  src/app/owner/properties/new/page.tsx
  src/app/owner/properties/page.tsx
  src/app/tenant/broker-services/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/NotificationSystem.tsx
  src/components/ui/notification-provider.tsx
Owners: @rent360/frontend-team

fix: Correct service request creation and clean up residual files
  src/app/api/services/request/route.ts
  src/app/services/request/page.tsx
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Replace mock data with real service providers in tenant services page
  src/app/api/service-providers/route.ts
  src/app/api/services/request/route.ts
  src/app/tenant/broker-services/page.tsx
  src/app/tenant/services/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Remove invalid contactName field from ServiceProvider select
  src/app/api/services/request/route.ts
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Correct domestic service request creation and real data loading
  src/app/api/services/request/route.ts
Owners: @rent360/backend-team

fix: Correct AuthProvider context error during login
  src/app/[locale]/layout.tsx
  src/app/layout.tsx
Owners: @rent360/frontend-team

fix: Correct broker authorization check in discover users API
  src/app/api/broker/discover/users/route.ts
  src/app/broker/discover/page.tsx
Owners: @rent360/frontend-team

fix: Improve broker discover page UX and functionality
  src/app/broker/discover/page.tsx
  src/lib/commission-validator.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Complete broker discover page improvements
  src/app/broker/discover/page.tsx
Owners: @rent360/frontend-team

fix: Properties not showing in broker selection page
  src/app/api/owner/properties/route.ts
  src/app/owner/broker-services/select-properties/page.tsx
Owners: @rent360/frontend-team

fix: Complete messaging and prospect management system
  src/app/api/broker/clients/active/route.ts
  src/app/api/invitations/[id]/accept/route.ts
  src/app/api/users/search/route.ts
  src/app/broker/prospects/[prospectId]/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: Client details and prospect navigation issues
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/broker/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Client details and messaging contact buttons
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/broker/clients/[clientId]/page.tsx
  src/app/broker/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

feat: Add diagnostic endpoints for client data investigation
  src/app/api/debug/active-clients-source/route.ts
  src/app/api/debug/client-investigation/route.ts
Owners: @rent360/frontend-team

fix: TypeScript errors in client details page
  src/app/broker/clients/[clientId]/page.tsx
Owners: @rent360/frontend-team

fix: Correct broker client details navigation
  src/app/api/broker/clients/active/route.ts
  src/app/broker/clients/active/page.tsx
Owners: @rent360/frontend-team

debug: Add logs to track broker client navigation issue
  src/app/api/broker/clients/active/route.ts
  src/app/broker/clients/active/page.tsx
Owners: @rent360/frontend-team

debug: Add comprehensive logging to broker client flow
  src/app/api/broker/clients/active/route.ts
  src/app/broker/clients/active/page.tsx
Owners: @rent360/frontend-team

fix: Complete broker invitation and client relationship flow
  cleanup-corrupted-relationship.js
  src/app/api/invitations/[id]/accept/route.ts
  src/app/api/owner/broker-services/complete-setup/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/owner/broker-services/select-properties/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: Broker invitation flow corrections
  cleanup-corrupted-relationship.js
  cleanup-invitations.js
  src/app/api/invitations/[id]/cancel/route.ts
  src/app/api/owner/properties/route.ts
  src/app/owner/broker-services/select-properties/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: API endpoints permissions for broker invitation flow
  cleanup-invitations.js
  src/app/api/broker/prospects/[prospectId]/route.ts
  src/app/api/invitations/[id]/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

COMPLETADO: Sistema completo de captación de clientes para corredores
  analyze-broker-system.js
  check-broker-client-details.js
  check-broker-client-id.js
  check-invitation-status.js
  find-owner-properties.js
  fix-broker-relationship.js
  src/app/api/broker/dashboard/route.ts
  src/app/api/broker/properties/route.ts
  src/app/api/owner/broker-services/complete-setup/route.ts
  src/app/broker/properties/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Cleanup: Remove temporary debug files
  analyze-broker-system.js
  check-broker-client-details.js
  check-broker-client-id.js
  check-invitation-status.js
  find-owner-properties.js
  fix-broker-relationship.js
Owners: @rent360/maintainers

CORRECCIONES FINALES: Sistema de captación de clientes completamente funcional
  debug-relationships.js
  reset-test-data.js
  src/app/api/owner/broker-services/complete-setup/route.ts
  test-broker-properties.js
  test-client-details.js
  test-complete-flow.js
Owners: @rent360/maintainers, @rent360/frontend-team

Cleanup: Remove debug scripts after final corrections
  debug-relationships.js
  reset-test-data.js
  test-broker-properties.js
  test-client-details.js
  test-complete-flow.js
Owners: @rent360/maintainers

DEBUG: Agregar logs de debug a APIs de corredor para investigar problemas
  debug-auth-issues.js
  debug-current-state.js
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/api/broker/clients/active/route.ts
  src/app/api/broker/dashboard/route.ts
  src/app/api/broker/properties/route.ts
  src/app/api/debug/auth-test/route.ts
  test-apis.js
Owners: @rent360/maintainers, @rent360/frontend-team

FIX: Limpiar logs de debug de APIs de corredor
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/api/broker/clients/active/route.ts
  src/app/api/broker/dashboard/route.ts
  src/app/api/broker/properties/route.ts
Owners: @rent360/frontend-team

FIX: Corregir respuesta de API en propiedades del corredor
  debug-auth-issues.js
  debug-current-state.js
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/api/broker/clients/active/route.ts
  src/app/api/debug/auth-test/route.ts
  src/app/broker/properties/page.tsx
  test-apis.js
  test-broker-apis.js
Owners: @rent360/maintainers, @rent360/frontend-team

Analizar problemas en el dashboard del corredor
  test-broker-apis.js
Owners: @rent360/maintainers

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
