Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: Corregir masivamente argumentos faltantes en funciones useToast
  fix-logger-errors.js
  src/components/admin/PerformanceMonitor.tsx
  src/components/admin/SystemSettings.tsx
  src/components/chat/RealTimeChat.tsx
  src/components/contracts/SignerManager.tsx
  src/components/legal/LegalCasesManagement.tsx
  src/components/ml/PropertyPricePredictor.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/components/refunds/RefundManagement.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir 'Not all code paths return a value' en useEffect
  src/components/admin/PerformanceMonitor.tsx
  src/components/admin/SystemMetricsDashboard.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedad 'key' duplicada en SystemSettings
  src/components/admin/SystemSettings.tsx
Owners: @rent360/frontend-team

fix: Corregir acceso a propiedad inexistente 'usage' en SystemStats
  src/components/admin/SystemStats.tsx
Owners: @rent360/frontend-team

fix: Corregir acceso por índice a arrays con Math.random()
  src/components/ai/Chatbot.tsx
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/base-bank-integration.ts
  src/lib/bank-integrations/paypal-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir tipo 'string | undefined' en Chatbot GREETING_MESSAGES
  src/components/ai/Chatbot.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedad opcional suggestions en ChatbotMessage
  src/components/ai/Chatbot.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedad opcional suggestions en respuesta IA del Chatbot
  src/components/ai/Chatbot.tsx
Owners: @rent360/frontend-team

fix: Corregir acceso seguro a propiedad time opcional en AppointmentCalendar
  src/components/calendar/AppointmentCalendar.tsx
Owners: @rent360/frontend-team

fix: Corregir acceso seguro a split(':')[0] en AppointmentCalendar
  src/components/calendar/AppointmentCalendar.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedades opcionales en EnhancedDashboardLayout
  src/components/dashboard/EnhancedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Corregir iconos Signature no válidos de lucide-react
  src/components/documents/DigitalSignature.tsx
  src/components/documents/DocumentManager.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedades opcionales en DigitalSignature
  src/components/documents/DigitalSignature.tsx
Owners: @rent360/frontend-team

feat: Implementar sistema híbrido de firmas electrónicas
  src/app/admin/signatures/page.tsx
  src/app/documents/page.tsx
  src/app/owner/contracts/page.tsx
  src/app/tenant/contracts/page.tsx
  src/components/contracts/ElectronicSignature.tsx
Owners: @rent360/frontend-team

fix: Eliminar imports duplicados de useState en páginas de documentos y contratos
  src/app/documents/page.tsx
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir uso de useToast en archivos de admin y contratos
  src/app/admin/signatures/page.tsx
  src/components/admin/SystemStats.tsx
  src/components/contracts/ElectronicSignature.tsx
Owners: @rent360/frontend-team

fix: Agregar propiedades views e inquiries a interfaz Property
  src/app/tenant/contracts/page.tsx
  src/types/index.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir import de useToast en SystemStats.tsx
  src/components/admin/SystemStats.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos de eventos en DigitalSignature
  src/components/documents/DigitalSignature.tsx
Owners: @rent360/frontend-team

fix: Corregir verificación de touches array en DigitalSignature
  src/components/documents/DigitalSignature.tsx
Owners: @rent360/frontend-team

fix: Type safety completa en eventos touch/mouse DigitalSignature
  src/components/documents/DigitalSignature.tsx
Owners: @rent360/frontend-team

fix: Type safety definitiva con non-null assertion
  src/components/documents/DigitalSignature.tsx
Owners: @rent360/frontend-team

fix: Corregir exactOptionalPropertyTypes en DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

fix: Corregir warnings opcional en DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

fix: Corregir id opcional en AppointmentForm
  src/components/calendar/AppointmentForm.tsx
Owners: @rent360/frontend-team

fix: Corregir yearBuilt opcional en PropertyPricePredictor
  src/components/ml/PropertyPricePredictor.tsx
Owners: @rent360/frontend-team

fix: Corregir avatar opcional en EnhancedDashboardLayout
  src/components/dashboard/EnhancedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Corregir optional chaining para user props en EnhancedDashboardLayout
  src/components/dashboard/EnhancedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Type assertion definitiva para user en EnhancedDashboardLayout
  src/components/dashboard/EnhancedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Forzar string | undefined para avatar en AvatarImage
  src/components/dashboard/EnhancedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Agregar estado isUploading faltante en DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

fix: Agregar estado uploadProgress faltante en DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

fix: Agregar verificación segura para acceso a files[0] en DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

fix: Corregir acceso seguro a files[0] en logger de DocumentUpload
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

Corrección masiva de accesos inseguros a arrays
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/broker/commissions/page.tsx
  src/app/broker/properties/page.tsx
  src/app/properties/search/page.tsx
  src/app/runner/visits/new/page.tsx
  src/components/LanguageSelector.tsx
  src/components/analytics/PredictiveAnalytics.tsx
  src/components/calendar/AppointmentCalendar.tsx
  tatus
Owners: @rent360/frontend-team, @rent360/maintainers

Corrección masiva de asignaciones string | undefined a propiedades string
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/broker/commissions/page.tsx
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

Corrección masiva de accesos inseguros a arrays con non-null assertions
  src/app/broker/commissions/page.tsx
  src/app/broker/properties/page.tsx
  src/components/documents/DocumentUpload.tsx
Owners: @rent360/frontend-team

Corrección de asignación de undefined a propiedades opcionales en ErrorBoundary
  src/components/error/ErrorBoundary.tsx
Owners: @rent360/frontend-team

Corrección masiva de variables no definidas en RecordForm
  src/components/forms/RecordForm.tsx
Owners: @rent360/frontend-team

Corrección masiva de parámetros implícitos 'any' en funciones useState
  src/app/broker/commissions/page.tsx
  src/app/broker/properties/page.tsx
  src/components/documents/DocumentUpload.tsx
  src/components/forms/RecordForm.tsx
Owners: @rent360/frontend-team
