Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: corregir filtros de roles en APIs de contratos
  src/app/api/contracts/route.ts
Owners: @rent360/frontend-team

fix: eliminar verificaciÃ³n problemÃ¡tica ownerId que bloqueaba contratos de propietarios
  src/app/api/owner/contracts/route.ts
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: resolver problema crÃ­tico de contratos de propietarios no visibles
  dev-error.txt
  dev-output.txt
  src/app/api/owner/contracts/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: resolver problema crÃ­tico de configuraciÃ³n de producciÃ³n
  app.yaml
  generate-production-secrets.js
  verify-production-config.js
Owners: @rent360/maintainers

feat: actualizar script de inicializaciÃ³n para crear base de datos automÃ¡ticamente
  init-production-db.js
Owners: @rent360/maintainers

feat: agregar endpoint temporal /api/init-db para inicializar base de datos
  src/app/api/init-db/route.ts
Owners: @rent360/frontend-team

feat: crear endpoints web para verificar y migrar base de datos
  init-production-db.js
  src/app/api/create-db/route.ts
  src/app/api/migrate-db/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

cleanup: eliminar endpoints temporales de inicializaciÃ³n de BD
  src/app/api/create-db/route.ts
  src/app/api/init-db/route.ts
  src/app/api/migrate-db/route.ts
Owners: @rent360/frontend-team

debug: agregar endpoint de diagnÃ³stico exhaustivo de contratos
  src/app/api/debug-contracts/route.ts
Owners: @rent360/frontend-team

fix: corregir error de TypeScript en endpoint de diagnÃ³stico
  src/app/api/debug-contracts/route.ts
Owners: @rent360/frontend-team

test: agregar endpoint para probar consulta exacta de contratos del propietario
  src/app/api/test-owner-contracts/route.ts
Owners: @rent360/frontend-team

fix: agregar import faltante NextRequest en endpoint de prueba
  src/app/api/test-owner-contracts/route.ts
Owners: @rent360/frontend-team

debug: agregar logs detallados al frontend para diagnosticar problema de contratos no visibles
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

cleanup: eliminar endpoint de diagnÃ³stico temporal debug-contracts
  src/app/api/debug-contracts/route.ts
Owners: @rent360/frontend-team

debug: agregar logs exhaustivos al componente de contratos del propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: mejorar manejo de autenticaciÃ³n en contratos del propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: corregir timing de carga de contratos - problema de autenticaciÃ³n
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

cleanup: eliminar endpoint de prueba test-owner-contracts
  src/app/api/test-owner-contracts/route.ts
Owners: @rent360/frontend-team

fix: corregir error de prerendering en owner/contracts
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores criticos de React hooks (#300, #310)
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

docs: Agregar diagnostico completo para problema de visualizacion de contratos
  SOLUCION_CONTRATOS_PROPIETARIO.md
  diagnostico-contrato-propietario.js
  test-owner-contracts-endpoint.js
Owners: @rent360/docs-team, @rent360/maintainers

debug: Agregar logs detallados para diagnosticar problema de visualizacion de contratos del propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

docs: Agregar instrucciones detalladas de debug para problema de contratos
  INSTRUCCIONES_DEBUG_CONTRATOS_PROPIETARIO.md
Owners: @rent360/docs-team

fix: Cambiar window.location.reload() por refreshContracts() para evitar perdida de sesion en dashboard de contratos
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

docs: Agregar resumen completo del fix de contratos
  FIX_FINAL_CONTRATOS_PROPIETARIO.md
Owners: @rent360/docs-team

Fix: Agregar export dynamic a owner/contracts page para forzar renderizado dinÃ¡mico
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

Fix: Agregar export dynamic a owner/contracts page para forzar renderizado dinÃ¡mico
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

Docs: Agregar documentaciÃ³n de fix crÃ­tico para renderizado dinÃ¡mico en owner/contracts
  FIX_CRITICO_OWNER_CONTRACTS_DYNAMIC_RENDERING.md
Owners: @rent360/docs-team

Fix: Forzar renderizado dinÃ¡mico en APIs protegidas para evitar pre-renderizado estÃ¡tico
  src/app/api/admin/dashboard-stats/route.ts
  src/app/api/admin/disputes/route.ts
  src/app/api/admin/performance/route.ts
  src/app/api/admin/recent-activity/route.ts
  src/app/api/owner/contracts/route.ts
  src/app/api/owner/tenants/route.ts
  src/app/api/support/disputes/route.ts
Owners: @rent360/frontend-team

Docs: Documentar fix crÃ­tico de APIs protegidas marcadas como estÃ¡ticas
  FIX_APIS_ESTATICAS_CORREGIDO.md
Owners: @rent360/docs-team

Fix: Forzar renderizado dinÃ¡mico en APIs de broker + anÃ¡lisis de pÃ¡ginas estÃ¡ticas
  ANALISIS_PAGINAS_ESTATICAS_NEXTJS14.md
  src/app/api/broker/disputes/route.ts
  src/app/api/broker/legal-cases/route.ts
Owners: @rent360/docs-team, @rent360/frontend-team

Docs: Resumen final completo del fix de APIs estÃ¡ticas
  RESUMEN_FINAL_FIX_APIS_ESTATICAS.md
Owners: @rent360/docs-team

fix: optimizar cards de contratos - remover texto largo y agregar dialog de detalles
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: optimizar cards de contratos del inquilino - remover texto largo del contrato
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

fix: mostrar comisiÃ³n de plataforma calculada en modal de contratos del propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: corregir estilos del modal de contrataciÃ³n de runners
  src/app/owner/maintenance/page.tsx
  src/app/owner/runners/page.tsx
Owners: @rent360/frontend-team

fix: reemplazar datos mock por datos reales en /owner/ratings
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

fix: eliminar datos mock y agregar mensajes motivadores en ratings
  src/app/owner/ratings/page.tsx
  src/app/provider/ratings/page.tsx
Owners: @rent360/frontend-team

fix: completar correcciÃ³n de datos mock en todos los roles de ratings
  src/app/maintenance/ratings/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

fix: completar correcciÃ³n completa del rol broker
  src/app/broker/appointments/page.tsx
  src/app/broker/clients/active/page.tsx
  src/app/broker/clients/page.tsx
  src/app/broker/commissions/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/new/page.tsx
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team
