Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

Corrección de acceso inseguro a array 'items' en UnifiedSidebar
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Corrección de identificador duplicado 'assignedLawyer' en LegalCasesManagement
  src/components/legal/LegalCasesManagement.tsx
Owners: @rent360/frontend-team

Corrección de retorno de objeto incompleto en PropertyPricePredictor
  src/components/ml/PropertyPricePredictor.tsx
Owners: @rent360/frontend-team

Corrección de useEffect sin retorno en ToastNotifications
  src/components/notifications/ToastNotifications.tsx
Owners: @rent360/frontend-team

Corrección de useEffect sin retorno en PWAInstallPrompt
  src/components/pwa/PWAInstallPrompt.tsx
Owners: @rent360/frontend-team

Corrección de importación de tipos en ThemeProvider
  src/components/theme-provider.tsx
Owners: @rent360/frontend-team

Corrección de asignación de undefined a propiedades opcionales en LoadingStates
  src/components/ui/LoadingStates.tsx
Owners: @rent360/frontend-team

Corrección masiva de useEffect sin retorno en componentes UI
  src/components/ui/SplashScreen.tsx
  src/components/ui/calendar.tsx
  src/components/ui/carousel.tsx
Owners: @rent360/frontend-team

Corrección de tipos en ChartTooltipContent
  src/components/ui/chart.tsx
Owners: @rent360/frontend-team

Corrección adicional de tipos en ChartTooltipContent
  src/components/ui/chart.tsx
Owners: @rent360/frontend-team

Corrección de tipos en ChartLegendContent
  src/components/ui/chart.tsx
Owners: @rent360/frontend-team

Corrección de tipos en ContextMenuCheckboxItem
  src/components/ui/context-menu.tsx
Owners: @rent360/frontend-team

Corrección de tipos en DropdownMenuCheckboxItem
  src/components/ui/dropdown-menu.tsx
Owners: @rent360/frontend-team

Corrección completa de todos los componentes CheckboxItem
  src/components/ui/menubar.tsx
Owners: @rent360/frontend-team

Corrección completa de funciones de notificación con exactOptionalPropertyTypes
  src/components/ui/notification-provider.tsx
Owners: @rent360/frontend-team

Corrección de tipos en Slider component
  src/components/ui/slider.tsx
Owners: @rent360/frontend-team

Corrección completa de propiedades opcionales en Slider component
  src/components/ui/slider.tsx
Owners: @rent360/frontend-team

Corrección de tipo en Sonner Toaster component
  src/components/ui/sonner.tsx
Owners: @rent360/frontend-team

Corrección de tipo en useAccessibility hook
  src/hooks/use-accessibility.ts
Owners: @rent360/frontend-team

Corrección de tipos en useToast hook
  src/hooks/use-toast.ts
Owners: @rent360/frontend-team

Corrección de tipos en useValidation hook
  src/hooks/useValidation.ts
Owners: @rent360/frontend-team

Corrección completa de validación de errores en useValidation hook
  src/hooks/useValidation.ts
Owners: @rent360/frontend-team

Corrección completa de llamadas logger.error en AIChatbotService
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Corrección de tipos en AuditService con exactOptionalPropertyTypes
  src/lib/audit.ts
Owners: @rent360/backend-team

Corrección completa de todas las funciones de auditoría con exactOptionalPropertyTypes
  src/lib/audit.ts
Owners: @rent360/backend-team

Corrección completa de llamadas fs en BackupManager
  src/lib/backup-manager.ts
Owners: @rent360/backend-team

Corrección de propiedad duplicada en CHILEAN_BANK_CODES
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

Corrección de validación de RUT en BankAccountService
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

ok
  src/lib/bank-account-service.ts
  src/lib/rut-validation.ts
  src/lib/signature/providers/digitalsign.ts
  src/lib/validation/runtime-validators.ts
  src/lib/validations.ts
  tatus
  ter
Owners: @rent360/backend-team, @rent360/maintainers

Update bank-account-service.ts
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

Update bank-account-service.ts
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

ok
  analyze-logger-errors.js
  fix-all-logger-errors.js
  fix-logger-batch.js
  fix-logger-commit.js
  simple-commit.js
  src/lib/bank-account-service.ts
Owners: @rent360/maintainers, @rent360/backend-team

ok
  fix-bank-integrations.js
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/paypal-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
  tatus --porcelain
Owners: @rent360/maintainers, @rent360/backend-team

ok
  final-fix-commit.js
  fix-all-bank-integrations-logger.js
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/bank-integration-factory.ts
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/maintainers, @rent360/backend-team

ok
  fix-variable-shadowing.js
  src/lib/bank-integrations/banco-estado-integration.ts
Owners: @rent360/maintainers, @rent360/backend-team

ok
  comprehensive-fix.js
  final-comprehensive-commit.js
  ive-fix.js
  src/lib/bank-integrations/banco-estado-integration.ts
  tatus
Owners: @rent360/maintainers, @rent360/backend-team

ok
  fix-headers-issue.js
  src/lib/bank-integrations/banco-estado-integration.ts
Owners: @rent360/maintainers, @rent360/backend-team

Update banco-estado-integration.ts
  src/lib/bank-integrations/banco-estado-integration.ts
Owners: @rent360/backend-team

Update bank-integration-factory.ts
  src/lib/bank-integrations/bank-integration-factory.ts
Owners: @rent360/backend-team

ok
  src/lib/bank-integrations/bank-integration-factory.ts
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
