Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: resolver error de tipo MaintenanceProvider no encontrado en types.ts
  src/types.ts
Owners: @rent360/maintainers

fix: corregir ruta de importación en types/generated.ts
  src/types/generated.ts
Owners: @rent360/maintainers

fix: excluir directorio tests/ del build de producción
  tsconfig.json
Owners: @rent360/maintainers

fix: corregir errores de build para Digital Ocean
  DEPLOYMENT_DIGITALOCEAN.md
  src/app/demo-fase1/page.tsx
  src/app/features/page.tsx
  src/app/offline/page.tsx
Owners: @rent360/docs-team, @rent360/frontend-team

fix: resolver errores de prerendering SSR en páginas dinámicas
  h origin master
  next.config.js
  src/app/demo-fase1/page.tsx
  src/lib/pwa.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team, @rent360/backend-team

fix: resolver colisión de nombres 'dynamic' en demo-fase1 page
  src/app/demo-fase1/page.tsx
Owners: @rent360/frontend-team

fix: corregir orden de declaraciones export/import en demo-fase1
  src/app/demo-fase1/page.tsx
Owners: @rent360/frontend-team

fix: resolver definitivamente colisión de nombres 'dynamic'
  src/app/demo-fase1/page.tsx
Owners: @rent360/frontend-team

fix: corregir comando de start para configuración standalone
  package.json
Owners: @rent360/maintainers

Update middleware.ts
  src/middleware.ts
Owners: @rent360/maintainers

Fix CSP to allow 'unsafe-eval' for Stripe and Google Maps scripts
  src/middleware.ts
Owners: @rent360/maintainers

Fix authentication middleware to allow public routes
  src/middleware/auth.ts
Owners: @rent360/maintainers

fix: Add missing PWA assets and force rebuild
  public/icons/icon-16x16.png
  public/icons/icon-32x32.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/screenshots/desktop-home.png
  public/screenshots/desktop-properties.png
  public/screenshots/mobile-home.png
  public/screenshots/mobile-properties.png
Owners: @rent360/maintainers

fix: Enable static file serving in custom server
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  server.ts
Owners: @rent360/maintainers

fix: Change to custom server instead of standalone
  next.config.js
  package.json
  server.ts
Owners: @rent360/devops-team, @rent360/maintainers

fix: Configure production server deployment
  Dockerfile
  package.json
Owners: @rent360/maintainers

fix: Resolve API errors and PWA manifest issues
  public/manifest.json
  src/lib/auth.ts
  src/lib/db.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: UI colors and API fixes
  src/app/api/properties/route.ts
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/app/globals.css
Owners: @rent360/frontend-team

fix: API error handling for unauthenticated users
  src/app/api/contracts/route.ts
  src/app/api/payments/route.ts
Owners: @rent360/frontend-team

fix: Resolve UI and API errors
  public/sw.js
  src/hooks/useOffline.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Add database initialization and improve error handling
  init-db.js
  package.json
  server.ts
Owners: @rent360/maintainers

feat: Add development setup script
  setup-dev.sh
Owners: @rent360/maintainers

fix: Production-ready configuration for DigitalOcean
  DIGITALOCEAN_ENV_SETUP.md
  app.yaml
  public/sw.js
  src/hooks/useOffline.ts
  src/lib/auth.ts
  src/lib/db.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: Critical fixes for production deployment
  fix-build.js
  src/app/api/properties/route.ts
  src/app/globals.css
  tailwind.config.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/devops-team

fix: Fix compilation error in properties API
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

feat: Add production secrets and setup instructions
  DIGITALOCEAN_ENV_SETUP.md
  app.yaml
  generate-secrets.js
Owners: @rent360/docs-team, @rent360/maintainers

fix: Simplify properties API and add debug tools
  debug-css.js
  src/app/api/health/route.ts
  src/app/api/properties/route.ts
  test-css.html
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Add fallback for properties API and fix Edge Runtime compatibility
  src/app/api/health/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Fix login API 500 error and JWT configuration
  src/app/api/auth/login/route.ts
  src/lib/auth.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Simplify login API to avoid dependency issues
  src/app/api/auth/login/route.ts
Owners: @rent360/frontend-team

feat: Add login debug script
  debug-login.js
Owners: @rent360/maintainers

fix: Restore robust login functionality with proper error handling
  src/app/api/auth/login/route.ts
Owners: @rent360/frontend-team

fix: Fix ES6 module syntax error in login API
  src/app/api/auth/login/route.ts
Owners: @rent360/frontend-team

feat: Add comprehensive production setup and troubleshooting guide
  DIGITALOCEAN_ENV_SETUP.md
  app.yaml
  debug-login.js
  init-production-db.js
  src/lib/auth.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/backend-team

feat: Improve database connection stability for production
  DIGITALOCEAN_ENV_SETUP.md
  app.yaml
  src/app/api/health/route.ts
  src/lib/db.ts
  test-db-connection.js
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: Add missing logger import in health API
  src/app/api/health/route.ts
Owners: @rent360/frontend-team

ok
  src/lib/db.ts
  src/lib/logger.ts
Owners: @rent360/backend-team

fix: Correct DATETIME to TIMESTAMPTZ in all migrations for PostgreSQL compatibility
  ole.log(require('crypto').randomBytes(32).toString('hex'))
  prisma/migrations/20250826193915_add_provider_roles_and_documents/migration.sql
  prisma/migrations/20250828144606_update_contract_signature_fields/migration.sql
  prisma/migrations/20250901173301_add_deposit_refund_system/migration.sql
  prisma/migrations/20250901193326_add_legal_management_system/migration.sql
  prisma/migrations/migration_lock.toml
Owners: @rent360/maintainers, @rent360/backend-team

fix: Remove process.on Edge Runtime warning from db.ts
  check_tables.sql
  src/lib/db.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: Update db:migrate script to use deploy for production
  check_tables.sql
  package.json
Owners: @rent360/maintainers
