Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: Corregir property.owner -> property.ownerId en filtros de busqueda
  src/app/admin/properties/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/runner/properties/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos en funcion handleCreateProperty
  src/app/admin/properties/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos en funcion handleCreateProperty
  en funcion handleCreateProperty
  property.ownerId
  push-contract-missing-fields.cmd
  push-contract-status-fix.cmd
  push-contract-title-fix.cmd
  push-contract-types-fix-final.cmd
  push-contract-types-fix.cmd
  push-contracts-cleanup.cmd
  push-contracts-fixes.cmd
  push-final-property-type-fix.cmd
  push-final-type-conversion-fix.cmd
  push-final-typescript-fix.cmd
  push-interface-conflicts-fix.cmd
  push-never-array-fix.cmd
  push-owner-property-fixes.cmd
  push-properties-fix.cmd
  push-syntax-error-fix.cmd
  push-type-inference-fix.cmd
  push-typescript-fixes-complete.cmd
  simple-commit.bat
Owners: @rent360/maintainers

ok
  MANUAL_DEPLOY_INSTRUCTIONS.txt
  commit-fix.bat
  force-deploy.bat
  h origin master
  src/app/admin/properties/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

ok
  FINAL_DEPLOY_INSTRUCTIONS.txt
  final-fix.bat
  src/app/admin/properties/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir llamadas formatDate con objetos Date
  src/app/admin/properties/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/broker/contracts/page.tsx
  src/app/owner/contracts/page.tsx
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

Create push-date-format-fixes.cmd
  push-date-format-fixes.cmd
Owners: @rent360/maintainers

fix: Corregir property.ownerId -> property.owner en PropertySummary
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/runner/properties/page.tsx
Owners: @rent360/frontend-team

Create push-property-summary-owner-fixes.cmd
  push-property-summary-owner-fixes.cmd
Owners: @rent360/maintainers

fix: Quitar .toISOString() de PropertySummary.createdAt
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
Owners: @rent360/frontend-team

Create push-final-property-summary-fixes.cmd
  push-final-property-summary-fixes.cmd
Owners: @rent360/maintainers

fix: Correccion de emergencia - quitar .toISOString() de ticket.createdAt
  push-emergency-fix.cmd
  src/app/admin/tickets/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir error de tipo description en platform-config
  src/app/api/admin/platform-config/route.ts
Owners: @rent360/frontend-team

Create push-platform-config-fix.cmd
  push-platform-config-fix.cmd
Owners: @rent360/maintainers

fix: Tipificar variable payouts en providers/payouts API
  src/app/api/admin/providers/payouts/route.ts
Owners: @rent360/frontend-team

Create push-payouts-type-fix.cmd
  push-payouts-type-fix.cmd
Owners: @rent360/maintainers

fix: Tipificar error en catch block de providers/payouts/stats
  src/app/api/admin/providers/payouts/stats/route.ts
Owners: @rent360/frontend-team

Create push-payouts-stats-error-fix.cmd
  push-payouts-stats-error-fix.cmd
Owners: @rent360/maintainers

fix: Correccion completa de errores de tipo 'unknown' en catch blocks
  src/app/api/admin/executive-dashboard/route.ts
  src/app/api/admin/performance/route.ts
  src/app/api/admin/platform-config/route.ts
  src/app/api/admin/runners/payouts/[transactionId]/approve/route.ts
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/provider-payouts-service.ts
  src/lib/runner-rating-service.ts
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Create push-all-error-type-fixes.cmd
  push-all-error-type-fixes.cmd
Owners: @rent360/maintainers

fix: Correccion parcial de errores de tipo 'unknown' en archivos criticos
  src/app/api/admin/runners/payouts/route.ts
  src/lib/notifications/firebase-service.ts
  src/lib/payment-config.ts
  src/lib/runner-incentives-service.ts
  src/lib/websocket/socket-client.ts
  src/lib/websocket/socket-server.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Correccion de errores de tipo 'unknown' en servicios restantes
  src/lib/commission-service.ts
  src/lib/ratings/rating-service.ts
  src/lib/recurring-services/recurring-service.ts
  src/lib/referrals/referral-service.ts
Owners: @rent360/backend-team

Create fix-remaining-error-types.cmd
  fix-remaining-error-types.cmd
Owners: @rent360/maintainers

fix: Correccion masiva final de TODOS los errores de tipo 'unknown'
  src/app/api/admin/providers/payouts/route.ts
  src/app/api/admin/settings/route.ts
  src/lib/kyc-service.ts
  src/lib/notifications/firebase-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir error de campo 'isPublic' inexistente en SystemSetting
  src/app/api/admin/settings/route.ts
Owners: @rent360/frontend-team

fix: Corregir errores de tipo description en SystemSetting
  src/app/api/admin/settings/route.ts
Owners: @rent360/frontend-team

fix: Corregir operaciones Prisma en settings API - filtrar campos undefined
  src/app/api/admin/settings/route.ts
Owners: @rent360/frontend-team

fix: Resolver conflicto de nombres 'updateData' duplicado
  src/app/api/admin/settings/route.ts
Owners: @rent360/frontend-team

fix: Agregar await faltante a cacheManager.getStats() en múltiples archivos
  src/app/api/admin/database-stats/route.ts
  src/app/api/admin/system-metrics/route.ts
  src/app/api/admin/system-stats/route.ts
  src/app/api/health/route.ts
  src/lib/monitoring-advanced.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Agregar verificaciones de undefined para cacheStats y rateLimitStats
  src/app/api/admin/database-stats/route.ts
  src/app/api/admin/system-metrics/route.ts
  src/app/api/health/route.ts
  src/lib/logger.ts
  src/lib/monitoring-advanced.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Agregar verificaciones faltantes para rateLimitStats.activeKeys
  src/app/api/health/route.ts
  src/lib/logger.ts
  src/lib/monitoring-advanced.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir propiedad totalRequests inexistente en cacheStats
  src/app/api/admin/system-metrics/route.ts
Owners: @rent360/frontend-team

fix: Corregir propiedad blockedRequests inexistente en rateLimitStats
  src/app/api/admin/system-metrics/route.ts
Owners: @rent360/frontend-team

fix: Agregar await faltante a rateLimiter.getStats()
  src/app/api/admin/system-metrics/route.ts
Owners: @rent360/frontend-team

ok
  src/app/api/__tests__/monitoring.test.ts
  src/app/api/admin/performance/route.ts
  src/app/api/admin/system-metrics/route.ts
  src/app/api/admin/system-stats/route.ts
Owners: @rent360/qa-team, @rent360/frontend-team

ok
  src/app/api/audit-logs/route.ts
  src/app/api/contracts/[id]/route.ts
  src/app/api/legal/cases/[id]/court-proceedings/route.ts
  src/app/api/payments/provider/route.ts
Owners: @rent360/frontend-team

ok
  src/app/api/auth/login/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/contracts/route.ts
  src/app/api/signatures/[id]/send/route.ts
  src/app/api/user/kyc/initiate/route.ts
Owners: @rent360/frontend-team

Fix: import NextResponse in login and health endpoints
  src/app/api/auth/login/route.ts
  src/app/api/health/route.ts
Owners: @rent360/frontend-team

Fix: Prisma create for providers - map optional strings to null (exactOptionalPropertyTypes)
  src/app/api/auth/register-provider/route.ts
Owners: @rent360/frontend-team

Fix: TypeScript union type issues in provider registration and contractors
  src/app/api/auth/register-provider/route.ts
  src/app/api/contractors/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
