Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: corregir 3 problemas criticos en rol broker
  src/app/api/broker/dashboard/route.ts
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/new/page.tsx
Owners: @rent360/frontend-team

fix: corregir visualizacion de detalles de propiedades del broker
  src/app/broker/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: corregir acceso a datos de propiedad en broker
  src/app/api/properties/[id]/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: completar correccion visualizacion propiedades broker
  src/app/broker/properties/new/page.tsx
Owners: @rent360/frontend-team

feat(broker): Implementar tour virtual y corregir datos hardcodeados
  prisma/schema.prisma
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/[id]/virtual-tour/route.ts
  src/app/api/properties/[id]/virtual-tour/upload/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/broker/properties/[propertyId]/virtual-tour/page.tsx
  src/app/broker/settings/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Corregir error de TypeScript en pÃ¡gina de tour virtual del broker
  src/app/broker/properties/[propertyId]/virtual-tour/page.tsx
Owners: @rent360/frontend-team

Fix: Unificar sistema de imÃ¡genes del corredor - cloud storage Ãºnico
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

Fix: Permitir corredores crear propiedades sin propietario asignado
  prisma/schema.prisma
  src/app/api/broker/properties/route.ts
  src/app/api/maintenance/properties/route.ts
  src/app/api/properties/route.ts
  src/app/api/provider/requests/[id]/route.ts
Owners: @rent360/backend-team, @rent360/frontend-team

Fix: CorrecciÃ³n de problemas especÃ­ficos del corredor
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/page.tsx
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

Fix: Agregar tipo explÃ­cito para variable prospects
  src/app/api/broker/clients/prospects/route.ts
Owners: @rent360/frontend-team

Fix: Eliminar propiedad duplicada conversionProbability
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

Fix: Implementar API real de prospects para corredores
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

Fix: CorrecciÃ³n de mÃºltiples problemas crÃ­ticos
  check-properties.js
  debug-query.js
  src/app/api/broker/dashboard/route.ts
  src/app/broker/clients/prospects/page.tsx
  src/app/broker/properties/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Fix: Corregir pÃ¡gina broker/clients/prospects - mostrar usuarios, bÃºsqueda, NaN y modal agregar
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

Docs: Agregar documentaciÃ³n completa del fix de broker/prospects
  FIX_BROKER_PROSPECTS_COMPLETADO.md
Owners: @rent360/docs-team

Fix: CorrecciÃ³n completa de mÃºltiples problemas crÃ­ticos del corredor
  src/app/api/broker/clients/route.ts
  src/app/api/broker/reports/route.ts
  src/app/broker/analytics/page.tsx
  src/app/broker/clients/new/page.tsx
  src/app/broker/clients/page.tsx
  src/app/broker/clients/prospects/[prospectId]/page.tsx
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir endpoints broker - agregar GET a /clients, crear /active, debug en prospects
  src/app/api/broker/clients/active/route.ts
  src/app/api/broker/clients/prospects/route.ts
  src/app/api/broker/clients/route.ts
Owners: @rent360/frontend-team

Docs: Agregar documentaciÃ³n completa del fix de endpoints broker
  FIX_BROKER_ENDPOINTS_COMPLETADO.md
Owners: @rent360/docs-team

Fix: ImplementaciÃ³n completa de subida de fotos de perfil y correcciÃ³n de estilos
  src/app/api/user/avatar/route.ts
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

Implementacion completa: Conversion masiva de paginas estaticas a dinamicas
  src/app/broker/analytics/page.tsx
  src/app/broker/contracts/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/page.tsx
  src/app/broker/reports/page.tsx
  src/app/broker/settings/page.tsx
  src/app/owner/contracts/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/properties/page.tsx
  src/app/owner/settings/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/provider/settings/page.tsx
  src/app/runner/dashboard/page.tsx
  src/app/runner/settings/page.tsx
  src/app/tenant/contracts/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

Fix: Correccion error 404 en fotos de perfil
  src/app/broker/settings/page.tsx
  src/app/runner/profile/page.tsx
Owners: @rent360/frontend-team

Test: Scripts para diagnosticar API de prospects
  check-prospects-db.js
  test-prospects-api.js
Owners: @rent360/maintainers

DiagnÃ³stico: Scripts para verificar usuarios en BD DigitalOcean
  check-db-config.js
  check-real-users.js
Owners: @rent360/maintainers

DiagnÃ³stico: Scripts para migraciÃ³n de usuarios reales a DigitalOcean
  check-sqlite-db.js
  create-real-users.js
  test-user-registration.js
Owners: @rent360/maintainers

ConfiguraciÃ³n: Actualizar env.example para usar DigitalOcean por defecto
  env.example
Owners: @rent360/maintainers

DiagnÃ³stico: VerificaciÃ³n definitiva - usuarios reales NO existen en DigitalOcean
  create-real-users.js
  verify-user-existence.js
Owners: @rent360/maintainers

DiagnÃ³stico: VerificaciÃ³n del usuario admin - tampoco existe
  check-admin-user.js
Owners: @rent360/maintainers

DiagnÃ³stico: VerificaciÃ³n definitiva de autenticaciÃ³n y sesiones
  check-session-auth.js
Owners: @rent360/maintainers

Test: Script para probar flujo completo de registro y login
  test-registration-flow.js
Owners: @rent360/maintainers

Admin: Configurar script para crear usuario administrador en producciÃ³n
  create-real-users.js
  verify-admin-panel.js
Owners: @rent360/maintainers

Test: VerificaciÃ³n completa de registro en producciÃ³n
  test-production-registration.js
Owners: @rent360/maintainers

Registro: Agregar roles PROVIDER y MAINTENANCE para registro pÃºblico
  src/app/api/auth/register/route.ts
Owners: @rent360/frontend-team

VerificaciÃ³n: Confirmar que Runner360 tienen registro pÃºblico habilitado
  check-runner-registration.js
Owners: @rent360/maintainers

Admin: Agregar soporte para aprobaciÃ³n/rechazo de propiedades
  check-pending-properties.js
  src/app/api/properties/[id]/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

Fix: Resolve property creation error from owner side
  create-real-users.js
  src/lib/cloud-storage.ts
  test-digitalocean-spaces.js
  test-property-creation.js
Owners: @rent360/maintainers, @rent360/backend-team

Fix: Agregar logs debug y force-dynamic a /api/properties POST
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

Docs: Agregar documentaciÃ³n del fix de creaciÃ³n de propiedades
  FIX_CREATE_PROPERTY_ERROR_DEBUG.md
Owners: @rent360/docs-team

Fix: AprobaciÃ³n automÃ¡tica y endpoint /api/properties/list
  check-auto-approval.js
  src/app/api/properties/list/route.ts
  update-pending-properties.js
Owners: @rent360/maintainers, @rent360/frontend-team

Implement: Notificaciones en tiempo real y avatares para OWNER/TENANT
  server.ts
  src/app/layout.tsx
  src/app/owner/settings/page.tsx
  src/app/tenant/settings/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

Fix: TypeScript error en avatar window.open
  src/app/owner/settings/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
