Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

feat: Reset migrations and prepare for PostgreSQL deployment
  check-db.js
  package-lock.json
  prisma/migrations/20250826193915_add_provider_roles_and_documents/migration.sql
  prisma/migrations/20250828144606_update_contract_signature_fields/migration.sql
  prisma/migrations/20250901173301_add_deposit_refund_system/migration.sql
  prisma/migrations/20250901193326_add_legal_management_system/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/migrations/production_indexes.sql
Owners: @rent360/maintainers, @rent360/backend-team

fix: Disable CSS optimization and expand Tailwind content paths to fix styling issues
  check-db.js
  next.config.js
  tailwind.config.ts
Owners: @rent360/maintainers, @rent360/devops-team

fix: Move themeColor and viewport to viewport export in layout.tsx
  src/app/layout.tsx
Owners: @rent360/frontend-team

fix: Make PWA service SSR-compatible by lazy initialization
  src/lib/pwa.ts
Owners: @rent360/backend-team

Add test page
  src/app/test-styles/page.tsx
  tailwind.config.ts
Owners: @rent360/frontend-team, @rent360/devops-team

fix: Use direct colors in Tailwind config instead of CSS variables
  tailwind.config.ts
Owners: @rent360/devops-team

fix: Improve accent color visibility, add splash screen test, and fix border styling
  src/app/test-styles/page.tsx
  src/components/ui/SplashScreen.tsx
  src/components/ui/notification-provider.tsx
  tailwind.config.ts
Owners: @rent360/frontend-team, @rent360/devops-team

fix: Set accent color to emerald-200 pastel green and fix client component issue
  src/app/test-styles/page.tsx
  tailwind.config.ts
Owners: @rent360/frontend-team, @rent360/devops-team

fix: Replace problematic SVG logo with clean Rent360 text logo and restore dark green background
  src/components/ui/SplashScreen.tsx
Owners: @rent360/frontend-team

fix: Restore official Rent360 logo from Google Drive with improved styling
  src/components/ui/SplashScreen.tsx
  src/components/ui/notification-provider.tsx
Owners: @rent360/frontend-team

fix: Add official Rent360 logo locally and update splash screen references
  public/logo-rent360.png
  src/app/test-styles/page.tsx
  src/components/ui/notification-provider.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Update favicon to use Rent360 logo instead of z.ai favicon
  public/favicon.ico
  src/app/layout.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Add /api/user/profile API, improve register form with better components, add provider/maintenance roles
  public/icons/icon-16x16.png
  src/app/api/user/profile/route.ts
  src/app/auth/register/page.tsx
  src/components/ai/Chatbot.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Correct API imports to use requireAuth and db instead of getServerSession and prisma
  public/icons/icon-32x32-rent360.png
  src/app/api/user/profile/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Correct user profile API to use actual User model fields instead of non-existent relations
  src/app/api/user/profile/route.ts
Owners: @rent360/frontend-team

fix: Convert all register form fields to consistent UI components and improve error messages
  src/app/api/user/profile/route.ts
  src/app/auth/register/page.tsx
Owners: @rent360/frontend-team

feat: Add footer component with editable content from admin settings and improved registration error messages
  src/app/admin/settings/enhanced/page.tsx
  src/app/api/auth/register/route.ts
  src/app/auth/register/page.tsx
  src/app/cookies/page.tsx
  src/app/layout.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/ui/Footer.tsx
Owners: @rent360/frontend-team

feat: Replace generic building icon with custom Rent360 small logo in footer
  public/logo-rent360-small.png
  src/components/ui/Footer.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

feat: Add PROVIDER and MAINTENANCE user roles with full interaction capabilities
  package.json
  prisma/schema.prisma
  scripts/seed-services.ts
  scripts/seed-users.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/api/provider/jobs/route.ts
  src/app/api/services/quote/route.ts
  src/app/api/services/request/route.ts
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/app/maintenance/page.tsx
  src/app/provider/page.tsx
  src/app/services/request/page.tsx
Owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team

fix: Add MAINTENANCE role navigation and correct PROVIDER routing
  src/app/maintenance/page.tsx
  src/app/provider/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Remove duplicate provider dashboard and correct navigation routing
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/provider/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Move 'use client' directive to top of maintenance page.tsx
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Use EnhancedDashboardLayout for maintenance and provider dashboards
  h origin master
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Correct EnhancedDashboardLayout import to use default export
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Use DashboardLayout instead of EnhancedDashboardLayout to fix build errors
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Use EnhancedDashboardLayout correctly with user prop and useUserState hook
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Use correct EnhancedDashboardLayout import pattern matching working files
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Reorder imports to match working pattern - EnhancedDashboardLayout import last
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Use exact same EnhancedDashboardLayout pattern as working owner/dashboard - DashboardLayout alias
  src/app/maintenance/page.tsx
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de compilación y completar dashboard de maintenance
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir dashboard de maintenance con estadísticas correctas
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir script seed-services.ts para evitar errores de build
  scripts/seed-services.ts
Owners: @rent360/maintainers

fix: Agregar propiedades del footer a la interfaz SystemSettings
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix: Corregir propiedades del estado en dashboard de maintenance
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import de Settings en dashboard de maintenance
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import de Clock en dashboard de maintenance
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Agregar tipos TypeScript para estados en dashboard de provider
  src/app/provider/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipo de error en logger de services request
  src/app/services/request/page.tsx
Owners: @rent360/backend-team

feat: Mejorar UX y resolver warnings técnicos
  scripts/seed-services.ts
  src/components/ui/SplashScreen.tsx
  src/lib/logger.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: Quitar 'use server' del logger.ts
  src/lib/logger.ts
Owners: @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
