Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

\feat: AnÃ¡lisis exhaustivo y mejoras UX - APIs reales, BÃºsqueda Global, Notificaciones y Analytics"
  INFORME_MEJORAS_EXPERIENCIA_USUARIO_2024.md
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/api/broker/clients/route.ts
  src/app/api/broker/properties/route.ts
  src/app/api/notifications/route.ts
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/api/owner/tenants/[tenantId]/route.ts
  src/app/api/provider/requests/route.ts
  src/app/api/runner/tasks/route.ts
  src/app/api/search/global/route.ts
  src/app/api/tenant/contracts/route.ts
  src/app/api/tenant/payments/route.ts
  src/app/broker/clients/[clientId]/page.tsx
  src/app/owner/tenants/[tenantId]/page.tsx
  src/components/ui/GlobalSearch.tsx
  src/components/ui/NotificationCenter.tsx
Owners: @rent360/docs-team, @rent360/frontend-team

CORRECCIONES FINALES COMPLETADAS - Build exitoso
  src/app/api/broker/clients/route.ts
  src/app/api/export/data/route.ts
  src/app/api/notifications/route.ts
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/api/provider/payments/route.ts
  src/app/api/provider/requests/[id]/route.ts
  src/app/api/provider/requests/route.ts
  src/app/api/provider/services/[id]/route.ts
  src/app/api/provider/services/route.ts
  src/app/api/runner/payments/route.ts
  src/app/api/runner/tasks/[taskId]/route.ts
  src/app/api/runner/tasks/route.ts
  src/app/api/search/global/route.ts
  src/app/api/tenant/payments/route.ts
  src/app/tenant/contracts/page.tsx
  src/components/ai/Chatbot.tsx
  src/components/ui/DataExporter.tsx
  src/components/ui/GlobalSearch.tsx
  src/lib/ai-chatbot-service.ts
  src/lib/ai-learning-system.ts
  src/lib/cache.ts
  src/lib/commission-service.ts
  src/lib/ml/predictions.ts
  src/lib/query-optimization.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Resolver warning de datos de entrenamiento insuficientes para modelo ML
  src/lib/ml/predictions.ts
Owners: @rent360/backend-team

fix: Corregir dashboard de administración para mostrar datos reales
  src/app/api/admin/dashboard-stats/route.ts
Owners: @rent360/frontend-team

DIAGNÓSTICO DASHBOARD: Agregados endpoints de diagnóstico para verificar estado real de base de datos
  src/app/api/admin/dashboard-stats/route.ts
  src/app/api/admin/database-diagnostics/route.ts
  src/app/api/admin/quick-diagnostics/route.ts
Owners: @rent360/frontend-team

CORRECCIÓN DASHBOARD Y SIDEBAR: Implementado sistema de datos reales
  src/app/api/admin/dashboard-stats/route.ts
  src/app/api/sidebar/stats/route.ts
  src/components/layout/UnifiedSidebar.tsx
  src/hooks/useSidebarStats.ts
Owners: @rent360/frontend-team

CORRECCIÓN BUILD: Solucionados errores de compilación
  src/app/api/sidebar/stats/route.ts
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

CORRECCIÓN BASE DE DATOS: Agregados campos virtualTour a producción
  src/app/api/broker/properties/route.ts
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/api/tenant/contracts/route.ts
Owners: @rent360/frontend-team

feat: Implementación completa del tour virtual 360°
  src/app/admin/virtual-tours/page.tsx
  src/app/api/admin/virtual-tours/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/app/properties/search/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Corrección completa del sistema de imágenes de propiedades
  public/uploads/properties/property1.jpg
  public/uploads/properties/property1.json
  public/uploads/properties/property2.jpg
  public/uploads/properties/property2.json
  public/uploads/properties/property3.jpg
  public/uploads/properties/property3.json
  public/uploads/properties/property4.jpg
  public/uploads/properties/property4.json
  public/uploads/properties/property5.jpg
  public/uploads/properties/property5.json
  src/app/api/properties/list/route.ts
  src/app/api/uploads/[...path]/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corrección de tres problemas críticos del sistema
  src/app/admin/properties/page.tsx
  src/app/api/properties/route.ts
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
Owners: @rent360/frontend-team

fix: Corrección completa de cards de propiedades en admin
  src/app/admin/properties/page.tsx
Owners: @rent360/frontend-team

fix: Corrección exhaustiva de problemas en cards de propiedades admin
  src/app/admin/properties/[id]/edit/page.tsx
  src/app/admin/properties/[id]/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/users/[id]/page.tsx
  src/app/api/properties/[id]/route.ts
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corrección de errores TypeScript en build de producción
  src/app/admin/properties/[id]/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/users/[id]/page.tsx
  src/app/api/properties/[id]/route.ts
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corrección del error JSON.parse en imágenes de propiedades
  src/app/admin/properties/[id]/page.tsx
  src/app/admin/properties/page.tsx
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

fix: Corrección de errores de fechas y navegación en botones
  src/app/admin/properties/[id]/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/users/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir problemas de búsqueda de propiedades y datos del propietario
  src/app/admin/properties/page.tsx
  src/app/api/properties/list/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

SOLUCIÓN URGENTE: Corregir visualización de imágenes de propiedades
  src/app/properties/search/page.tsx
Owners: @rent360/frontend-team

SOLUCIÓN DEFINITIVA: Crear imágenes SVG de prueba funcionales
  public/uploads/properties/property1.svg
  public/uploads/properties/property2.svg
  public/uploads/properties/property3.svg
  public/uploads/properties/property4.svg
  public/uploads/properties/property5.svg
Owners: @rent360/maintainers

CORRECCIÓN: Revertir a imágenes JPG reales de prueba
  public/uploads/properties/property1.jpg
  public/uploads/properties/property1.svg
  public/uploads/properties/property2.jpg
  public/uploads/properties/property2.svg
  public/uploads/properties/property3.jpg
  public/uploads/properties/property3.svg
  public/uploads/properties/property4.jpg
  public/uploads/properties/property4.svg
  public/uploads/properties/property5.jpg
  public/uploads/properties/property5.svg
Owners: @rent360/maintainers

Fix: Corregir visualización de imágenes - cambiar de JPG a PNG válidas
  create-simple-images.js
  create-valid-jpg-images.js
  create-working-images.js
  public/uploads/properties/property1.jpg
  public/uploads/properties/property1.png
  public/uploads/properties/property2.jpg
  public/uploads/properties/property2.png
  public/uploads/properties/property3.jpg
  public/uploads/properties/property3.png
  public/uploads/properties/property4.jpg
  public/uploads/properties/property4.png
  public/uploads/properties/property5.jpg
  public/uploads/properties/property5.png
  update-to-png.js
Owners: @rent360/maintainers

Fix: Mejorar página de visualización de propiedades
  create-simple-images.js
  create-valid-jpg-images.js
  create-working-images.js
  src/app/owner/properties/[propertyId]/page.tsx
  update-to-png.js
Owners: @rent360/maintainers, @rent360/frontend-team

Fix: Solucionar problemas de visualización de propiedades
  package-lock.json
  package.json
  public/uploads/properties/property1.png
  public/uploads/properties/property2.png
  public/uploads/properties/property3.png
  public/uploads/properties/property4.png
  public/uploads/properties/property5.png
Owners: @rent360/maintainers

Fix: Solucionar problemas de visualización y navegación de propiedades
  src/app/api/properties/[id]/route.ts
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir error de TypeScript en página pública de propiedades
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Solucionar problemas críticos de propiedades
  src/app/api/properties/[id]/route.ts
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Solucionar problemas críticos de imágenes y tour virtual
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/[id]/virtual-tour/upload/route.ts
  src/app/api/uploads/[...path]/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir errores críticos de visualización y carga de datos
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/properties/[id]/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir redirección y carga de datos después de guardar
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

Implementación completa de subida de imágenes de propiedades
  src/app/api/properties/[id]/images/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
Owners: @rent360/frontend-team

Fix: Solucionar problemas de visualización de imágenes después de subida
  src/app/api/properties/[id]/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

Implementar sistema automático de directorios para propiedades
  public/uploads/properties/cmgso8wv00003p5qwva17zrmn/test_image_1760914771491.png
  src/app/api/properties/[id]/images/route.ts
  src/app/api/properties/route.ts
  src/lib/property-directory.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

feat: Implementar funcionalidad completa de eliminación de propiedades
  src/app/admin/properties/page.tsx
  src/app/api/properties/[id]/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error de build - usar modelos existentes en Prisma
  src/app/api/properties/[id]/route.ts
Owners: @rent360/frontend-team

Corregir problemas de gestión de imágenes
  src/app/api/properties/[id]/images/route.ts
  src/app/api/properties/list/route.ts
  src/app/api/properties/route.ts
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix(images): normalizar imageUrl en DELETE para ignorar query params y eliminar archivo físico correcto
  src/app/api/properties/[id]/images/route.ts
Owners: @rent360/frontend-team

fix(images): evitar 400 del optimizador de Next en edición marcando imágenes como unoptimized
  src/app/owner/properties/[propertyId]/edit/page.tsx
Owners: @rent360/frontend-team

fix(images): filtrar rutas inexistentes en APIs de propiedades y normalizar URLs sin query; mantener cache-busting
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

fix(build): asegurar imgNoQuery siempre string en APIs de propiedades (split safe)
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

chore: stage pending API edits after local build verification
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
