Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

correccion de notificaciones
  src/app/api/tickets/[id]/comments/route.ts
Owners: @rent360/frontend-team

correccion notificacion mis tickets
  src/app/api/tickets/[id]/comments/route.ts
Owners: @rent360/frontend-team

correccion eslint
  src/app/api/tickets/[id]/route.ts
  src/app/broker/tickets/page.tsx
  src/app/maintenance/tickets/page.tsx
  src/app/owner/tickets/page.tsx
  src/app/provider/tickets/page.tsx
  src/app/runner/tickets/page.tsx
  src/app/support/tickets/page.tsx
  src/app/tenant/tickets/page.tsx
Owners: @rent360/frontend-team

cirreccion eslint
  src/app/broker/tickets/page.tsx
Owners: @rent360/frontend-team

eslint fix
  src/app/tenant/tickets/page.tsx
Owners: @rent360/frontend-team

correcion .map sobre undefined
  src/app/api/tickets/[id]/route.ts
  src/app/support/tickets/page.tsx
Owners: @rent360/frontend-team

correccion error 500
  src/app/api/broker/visits/history/route.ts
  src/app/api/notifications/route.ts
  src/app/api/owner/visits/pending/route.ts
Owners: @rent360/frontend-team

creacion metas y logros runner
  prisma/schema.prisma
  src/app/api/runner/goals/[goalId]/route.ts
  src/app/api/runner/goals/route.ts
  src/app/api/runner/reports/route.ts
  src/app/runner/reports/performance/page.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix build
  src/app/runner/reports/performance/page.tsx
Owners: @rent360/frontend-team

correccion de build
  src/lib/runner-reports-service.ts
Owners: @rent360/backend-team

implementacion logros del runner
  prisma/schema.prisma
  src/app/api/runner/achievements/route.ts
  src/app/runner/profile/page.tsx
  src/app/runner/reports/performance/page.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/backend-team, @rent360/frontend-team

implementaciones faltantes
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/api/owner/maintenance/costs/route.ts
  src/app/api/owner/reports/send-email/route.ts
  src/app/api/owner/reports/tenant-analysis/route.ts
  src/app/owner/reports/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/api/owner/reports/send-email/route.ts
  src/app/api/owner/reports/tenant-analysis/route.ts
Owners: @rent360/frontend-team

correeccion del build
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/api/owner/reports/tenant-analysis/route.ts
Owners: @rent360/frontend-team

fix build
  src/app/api/owner/reports/tenant-analysis/route.ts
Owners: @rent360/frontend-team

fix build
  src/app/api/owner/reports/tenant-analysis/route.ts
Owners: @rent360/frontend-team

fix build
  src/app/owner/reports/page.tsx
Owners: @rent360/frontend-team

correccion deploy
  app.yaml
  package.json
  scripts/migrate-production.js
  server.ts
Owners: @rent360/maintainers

correccion errores 404
  src/app/owner/reports/page.tsx
Owners: @rent360/frontend-team

correccion id propiedades
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/owner/reports/page.tsx
Owners: @rent360/frontend-team

correccion tasa de ocupacion
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

correccion modal de configuracion
  src/app/owner/payments/page.tsx
Owners: @rent360/frontend-team

correccion de analiticas propietario
  src/app/api/analytics/dashboard-stats/route.ts
  src/app/api/owner/analytics/alerts/route.ts
  src/app/api/owner/analytics/goals/route.ts
  src/app/owner/analytics/page.tsx
Owners: @rent360/frontend-team

fix build
  src/app/api/analytics/dashboard-stats/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
