Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: agregar verificación de latestMetrics undefined
  src/lib/monitoring-advanced.ts
Owners: @rent360/backend-team

fix: agregar verificación de metrics vacío en getSystemOverview
  src/lib/logger.ts
Owners: @rent360/backend-team

fix: hacer getQuickMetrics async para usar await
  src/lib/monitoring-advanced.ts
Owners: @rent360/backend-team

fix: agregar tipo 'system_maintenance' a SystemNotification
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: agregar cast explícito para priority en SystemNotification
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: corregir scheduledFor opcional en SmartNotification
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: incluir scheduledFor condicionalmente con spread operator
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: descomentar import de logger en notifications.ts
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: corregir accesos inseguros a arrays en múltiples archivos
  src/app/api/admin/backups/route.ts
  src/lib/math-validation.ts
  src/lib/ml/predictions.ts
  src/lib/notifications.ts
  src/lib/notifications/firebase-service.ts
  src/lib/runner-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: usar NotificationChannel.IN_APP en lugar de string 'email'
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: corregir accesos inseguros a arrays de split() en múltiples archivos
  src/lib/chat/chat-service.ts
  src/lib/kyc-service.ts
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: verificar existencia de propiedades antes de actualizar métricas
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: corregir clave única en upsert de SystemSetting
  src/lib/payment-config.ts
Owners: @rent360/backend-team

fix: usar spread operator para propiedad opcional error
  src/lib/payment-config.ts
Owners: @rent360/backend-team

fix: corregir asignaciones de propiedades opcionales con undefined
  src/lib/math-validation.ts
  src/lib/payment-config.ts
Owners: @rent360/backend-team

fix: usar spread operator para propiedades opcionales en payout-service
  src/lib/payout-service.ts
Owners: @rent360/backend-team

fix: usar spread operator para propiedad opcional reference en Prisma update
  src/lib/payout-service.ts
Owners: @rent360/backend-team

fix: corregir nombre de campo Prisma completedAt completedDate
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir campos de precio en trabajos de proveedor
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir campos de precio por tipo de modelo
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir relación tenant requester en ServiceJob
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir relación bankAccounts bankAccount en User model
  src/lib/provider-payouts-service.ts
  tests/integration/payout-workflow.test.ts
Owners: @rent360/backend-team, @rent360/qa-team

fix: corregir campos inexistentes en ProviderTransaction
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

feat: agregar campo approvedBy a ProviderTransaction
  prisma/schema.prisma
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

feat: agregar approvedBy a payouts de runners
  src/lib/payout-service.ts
Owners: @rent360/backend-team

feat: agregar campo notes a ProviderTransaction
  prisma/schema.prisma
Owners: @rent360/backend-team

fix: corregir propagación condicional de campos opcionales en ProviderTransaction
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

feat: agregar campo notes a transacciones de runners
  src/lib/payout-service.ts
Owners: @rent360/backend-team

fix: corregir referencias restantes a bankAccounts en provider-payouts-service.ts
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir campo reference opcional en update de ProviderTransaction
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

fix: corregir acceso seguro a array ratings[0] en rating-service
  src/lib/ratings/rating-service.ts
Owners: @rent360/backend-team

fix: corregir asignación de notes opcional en cancelRecurringService
  src/lib/recurring-services/recurring-service.ts
Owners: @rent360/backend-team

fix: corregir asignaciones opcionales en completeServiceInstance
  src/lib/recurring-services/recurring-service.ts
Owners: @rent360/backend-team

fix: corregir acceso seguro a commissionConfigs en calculateReferrerLevel
  src/lib/referrals/referral-service.ts
Owners: @rent360/backend-team

fix: corregir tipo de retorno en getNextLevel
  src/lib/referrals/referral-service.ts
Owners: @rent360/backend-team

feat: agregar modelos IncentiveRule y RunnerIncentive
  prisma/schema.prisma
Owners: @rent360/backend-team

feat: agregar campos metadata faltantes a RunnerIncentive
  prisma/schema.prisma
Owners: @rent360/backend-team

fix: corregir tipos de RunnerIncentive y consultas Prisma
  prisma/schema.prisma
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: corregir tipos exactOptionalPropertyTypes en interfaces
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

fix: usar enum RunnerIncentiveStatus de Prisma en lugar de union types
  src/lib/runner-incentives-service.ts
Owners: @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
