Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

FIX: Resolver error crítico '¡Ups! Algo salió mal' en producción
  middleware.ts
  server.ts
  src/app/api/health/route.ts
  src/lib/error-fallback.ts
  src/lib/logger.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

FIX: Resolver errores críticos restantes
  src/hooks/useOffline.ts
  src/hooks/useUserState.ts
  src/lib/notifications.ts
  src/lib/pwa.ts
Owners: @rent360/frontend-team, @rent360/backend-team

FIX: Resueltos TODOS los errores críticos restantes
  src/app/demo-fase1/page.tsx
Owners: @rent360/frontend-team

FIX: Corregir página test-minimal y agregar debug de auth
  src/app/admin/debug-auth/page.tsx
  src/app/admin/payments/pending/page.tsx
  src/app/test-minimal/page.tsx
  src/components/pwa/PWAInstallPrompt.tsx
  src/middleware.ts
Owners: @rent360/frontend-team, @rent360/maintainers

FIX: Configurar renderizado dinámico para páginas protegidas críticas
  fix-all-dynamic-pages.js
  src/app/broker/messages/page.tsx
  src/app/owner/messages/chat-page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

FIX: Unificar sistema de autenticación en dashboard
  fix-all-dynamic-pages.js
  src/app/admin/users/page.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

FIX: Resolver errores 503 en avatares externos
  src/app/api/auth/register/route.ts
  src/components/ui/avatar.tsx
Owners: @rent360/frontend-team

FIX: Mejorar configuración de cookies para DigitalOcean
  src/lib/auth.ts
Owners: @rent360/backend-team

FIX: Resolver error de TypeScript en componente SmartAvatar
  src/components/ui/avatar.tsx
Owners: @rent360/frontend-team

FIX: Resolver error de prerendering en useDashboardUser
  src/components/layout/UnifiedDashboardLayout.tsx
  src/components/ui/avatar.tsx
Owners: @rent360/frontend-team

AGREGAR: Herramienta de diagnóstico para producción
  public/production-diagnostic.html
Owners: @rent360/maintainers

FIX: Resolver error 429 Too Many Requests en producción
  src/middleware/security.ts
Owners: @rent360/maintainers

CORRECCIÓN DEFINITIVA DEL ERROR 503 EN PRODUCCIÓN (SIN CREDENCIALES)
  config/production.env
  next.config.js
  src/app/api/diagnostics/route.ts
  src/components/layout/UnifiedSidebar.tsx
  src/lib/db.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team, @rent360/backend-team

CRÍTICO: Eliminar console.log de debug que causaban errores 503
  src/app/api/settings/route.ts
  src/app/api/users/route.ts
Owners: @rent360/frontend-team

CORRECCIONES CRÍTICAS: Solucionar errores 503 en producción
  src/app/api/admin/performance/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/properties/route.ts
  src/lib/logger.ts
Owners: @rent360/frontend-team, @rent360/backend-team

CORRECCIONES CRÍTICAS: Solucionar problemas de producción
  src/app/api/properties/route.ts
  src/lib/logger.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Corregir problemas de autenticacion y roles en produccion. Archivos modificados: dashboard, auth provider, role guard, sidebar layout.
  src/app/admin/dashboard/page.tsx
  src/app/api/admin/user-role/route.ts
  src/app/layout.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/components/auth/RoleGuard.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Corregir problemas ESLint y optimizar componentes de autenticacion. Correcciones finales para despliegue en produccion.
  src/app/admin/dashboard/page.tsx
  src/app/api/admin/user-role/route.ts
  src/components/auth/AuthProviderSimple.tsx
  src/components/auth/RoleGuard.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Corregir problemas de autenticacion y roles. AuthProvider mejorado, manejo de sesiones optimizado.
  src/app/admin/dashboard/page.tsx
  src/app/api/auth/me/route.ts
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Corregir import duplicado en dashboard admin
  src/app/admin/dashboard/page.tsx
Owners: @rent360/frontend-team

Corregir problemas de Edge Runtime y optimizar autenticacion
  src/app/admin/dashboard/page.tsx
  src/app/api/admin/system-stats/route.ts
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/lib/logger-edge-runtime.ts
  src/lib/logger-minimal.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Corregir problemas de autenticacion y roles en produccion
  src/app/admin/dashboard/page.tsx
  src/app/api/admin/create-test-admin/route.ts
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/frontend-team

Corregir problemas de permisos de usuario y roles existentes
  package.json
  scripts/fix-user-roles.js
  src/app/admin/dashboard/page.tsx
  src/app/api/admin/fix-user-roles/route.ts
  src/components/auth/AuthProviderSimple.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

Corregir problema de variable shadowing en AuthProvider y optimizar build
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

Corregir problema de CSP bloqueando eval y optimizar seguridad
  public/simple-debug.html
  src/middleware.ts
  src/middleware/security.ts
Owners: @rent360/maintainers

Fix: Corregir sistema de permisos de usuarios - ImplementaciÃ³n completa de 3 fases
  ANALISIS_PERMISOS_USUARIOS.md
  middleware.ts
  src/app/admin/dashboard/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/refresh/route.ts
  src/app/api/auth/register/route.ts
  src/components/auth/AuthProviderSimple.tsx
  src/components/auth/RoleGuard.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team

FIX CRITICO: Simplificacion de configuracion de cookies para DigitalOcean
  src/lib/auth.ts
Owners: @rent360/backend-team

DEBUG: Logs de depuracion en autenticacion para error 401
  src/app/api/auth/login/route.ts
  src/app/api/auth/me/route.ts
Owners: @rent360/frontend-team

FIX CRITICO: Corregir establecimiento de cookies con headers directos
  src/app/api/auth/login/route.ts
  src/app/api/auth/me/route.ts
  src/lib/auth.ts
Owners: @rent360/frontend-team, @rent360/backend-team

FIX COOKIES: Volver a usar response.cookies.set() sin dominio explicito
  src/lib/auth.ts
Owners: @rent360/backend-team

FIX MASIVO: Corregir 42 comparaciones de roles de 'admin' a 'ADMIN'
  src/app/api/admin/bank-config/route.ts
  src/app/api/admin/commissions/payouts/route.ts
  src/app/api/admin/commissions/route.ts
  src/app/api/admin/dashboard-stats/route.ts
  src/app/api/admin/disputes/route.ts
  src/app/api/admin/executive-dashboard/route.ts
  src/app/api/admin/notifications/queue/route.ts
  src/app/api/admin/payouts/process/route.ts
  src/app/api/admin/payouts/route.ts
  src/app/api/admin/recent-activity/route.ts
  src/app/api/admin/runners/payouts/[transactionId]/approve/route.ts
  src/app/api/admin/runners/payouts/route.ts
  src/app/api/admin/system-metrics/route.ts
  src/app/api/contracts/[id]/route.ts
  src/app/api/contracts/sign/route.ts
  src/app/api/documents/[id]/access/route.ts
  src/app/api/maintenance/[id]/assign-provider/route.ts
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/maintenance/[id]/schedule-visit/route.ts
  src/app/api/maintenance/route.ts
  src/app/api/notifications/route.ts
  src/app/api/properties/[id]/route.ts
  src/app/api/ratings/[id]/route.ts
  src/app/api/tickets/[id]/comments/route.ts
  src/app/api/tickets/[id]/route.ts
  src/app/api/tickets/route.ts
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir comparaciÃ³n de roles en pÃ¡gina de configuraciones (admin/settings/enhanced) - cambiar 'admin' minÃºscula a 'ADMIN' mayÃºscula para resolver problema de carga infinita
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix: Corregir guardado de configuraciones - actualizar URL y formato de datos para API /admin/settings - mapear categorÃ­as correctamente para persistencia en BD
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix: Agregar validacion de rol ADMIN en endpoint GET /api/users y corregir comparaciones de roles en minusculas a mayusculas en todos los metodos HTTP del endpoint de usuarios
  src/app/api/users/[id]/route.ts
  src/app/api/users/route.ts
Owners: @rent360/frontend-team

fix: Mejorar validacion de configuraciones para evitar valores vacios y agregar logging detallado en pagina de usuarios para diagnosticar errores de permisos
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Corregir formato de respuesta del endpoint settings y mejorar logging para diagnostico completo de errores de carga
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix: Reemplazar logger por console.log directo para mostrar logs de depuracion en consola del navegador - agregar emojis y contexto detallado para diagnostico de settings y users
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Agregar logs en nivel de archivo y componente para diagnosticar si el componente se monta correctamente
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: Service Worker auto-cleanup para forzar recarga sin cache
  public/sw.js
Owners: @rent360/maintainers

fix: Mover console.log a useEffect para garantizar ejecuciÃ³n en cliente
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
