Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

feat: Continuar desarrollo de pÃ¡ginas y correcciÃ³n de funcionalidades
  src/app/admin/providers/page.tsx
  src/app/runner/profile/page.tsx
Owners: @rent360/frontend-team

feat: Desarrollo completo del mÃ³dulo Provider
  src/app/provider/ratings/page.tsx
  src/app/provider/requests/page.tsx
  src/app/provider/services/page.tsx
  src/app/provider/settings/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

feat: Desarrollo completo de pÃ¡gina Admin Maintenance
  src/app/admin/maintenance/page.tsx
Owners: @rent360/frontend-team

feat: Desarrollo completo de pÃ¡gina Admin Integrations
  src/app/admin/integrations/page.tsx
Owners: @rent360/frontend-team

fix: Replace all alert() calls with proper UI messages and fix navigation
  src/app/admin/database-stats/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/users/page.tsx
  src/app/broker/settings/page.tsx
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/properties/page.tsx
  src/app/maintenance/reports/page.tsx
  src/app/maintenance/settings/page.tsx
  src/app/owner/messages/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/owner/settings/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/provider/earnings/page.tsx
  src/app/provider/ratings/page.tsx
  src/app/provider/requests/page.tsx
  src/app/provider/settings/page.tsx
  src/app/runner/earnings/page.tsx
  src/app/runner/profile/page.tsx
  src/app/runner/reports/page.tsx
  src/app/runner/visits/new/page.tsx
  src/app/support/properties/page.tsx
  src/app/support/tickets/page.tsx
  src/app/support/users/page.tsx
  src/app/tenant/advanced-search/page.tsx
  src/app/tenant/maintenance/page.tsx
  src/app/tenant/payments/[paymentId]/page.tsx
  src/app/tenant/payments/[paymentId]/pay/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Complete elimination of all remaining alerts across the application
  src/app/admin/payments/brokers/page.tsx
  src/app/admin/payments/owners/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/client/rate-service/[jobId]/page.tsx
  src/app/owner/payments/page.tsx
  src/app/provider/[providerId]/ratings/page.tsx
  src/app/tenant/advanced-search/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Correct backup configuration content in tenant pages
  src/app/owner/settings/page.tsx
  src/app/tenant/payments/upcoming/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

fix: Correct support/reports page with proper support analytics
  src/app/support/reports/page.tsx
  src/app/tenant/payments/methods/page.tsx
Owners: @rent360/frontend-team

fix: Correct support pages with proper content
  src/app/support/knowledge/page.tsx
Owners: @rent360/frontend-team

fix: Correct settings/notifications page with proper notification settings
  src/app/settings/notifications/page.tsx
Owners: @rent360/frontend-team

fix: Correct runner/settings page with proper runner configuration
  src/app/runner/settings/page.tsx
Owners: @rent360/frontend-team

fix: Correct multiple pages with proper functionality
  src/app/runner/properties/page.tsx
Owners: @rent360/frontend-team

fix: Replace backup configuration pages with proper functionality
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/payments/pending/page.tsx
  src/app/owner/property-comparison/page.tsx
  src/app/runner/clients/page.tsx
  src/app/runner/incentives/page.tsx
  src/app/runner/messages/page.tsx
Owners: @rent360/frontend-team

fix: Replace more backup configuration pages with proper functionality
  src/app/client/recurring-services/page.tsx
Owners: @rent360/frontend-team

fix: Complete system functionality - replace all backup config pages
  src/app/admin/executive-dashboard/page.tsx
  src/app/broker/clients/active/page.tsx
  src/app/chat/page.tsx
Owners: @rent360/frontend-team

feat: Complete button functionality implementation
  src/app/admin/executive-dashboard/page.tsx
  src/app/broker/clients/active/page.tsx
  src/app/chat/page.tsx
  src/app/client/recurring-services/page.tsx
  src/app/owner/payment-reminders/page.tsx
  src/app/owner/payments/pending/page.tsx
  src/app/owner/property-comparison/page.tsx
  src/app/runner/messages/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores de linting y recrear archivos corruptos
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/integrations/new/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/new/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/payments/brokers/new/page.tsx
  src/app/admin/payments/owners/new/page.tsx
  src/app/admin/payments/providers/new/page.tsx
  src/app/admin/providers/new/page.tsx
  src/app/admin/reports/integrations/page.tsx
  src/app/admin/reports/maintenance/page.tsx
  src/app/admin/reports/payments/page.tsx
  src/app/admin/reports/providers/page.tsx
  src/app/admin/security/page.tsx
  src/app/admin/settings/database/page.tsx
  src/app/broker/clients/[clientId]/page.tsx
  src/app/broker/contracts/[contractId]/page.tsx
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/client/providers/top-rated/page.tsx
  src/app/client/services/page.tsx
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/owner/settings/page.tsx
  src/app/owner/tenants/[tenantId]/edit/page.tsx
  src/app/owner/tenants/[tenantId]/page.tsx
  src/app/provider/profile/page.tsx
  src/app/provider/requests/[id]/page.tsx
  src/app/provider/requests/new/page.tsx
  src/app/provider/services/[id]/edit/page.tsx
  src/app/provider/services/[id]/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/runner/profile/edit/page.tsx
  src/app/runner/reports/new/page.tsx
  src/app/tenant/reports/maintenance/page.tsx
  src/app/tenant/reports/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir errores de TypeScript en build
  src/app/admin/providers/new/page.tsx
  src/app/admin/reports/integrations/page.tsx
  src/app/admin/reports/maintenance/page.tsx
  src/app/admin/reports/payments/page.tsx
  src/app/admin/security/page.tsx
  src/app/admin/settings/database/page.tsx
  src/app/owner/tenants/[tenantId]/edit/page.tsx
  src/app/provider/profile/page.tsx
  src/app/provider/requests/new/page.tsx
  src/app/provider/services/[id]/edit/page.tsx
  src/app/provider/services/[id]/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/runner/profile/edit/page.tsx
  src/app/runner/reports/new/page.tsx
  src/app/tenant/reports/maintenance/page.tsx
  src/app/tenant/reports/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

feat: completar todas las páginas faltantes y rutas 404
  src/app/admin/maintenance/[requestId]/page.tsx
  src/app/broker/clients/[clientId]/edit/page.tsx
  src/app/broker/viewings/new/page.tsx
  src/app/provider/clients/page.tsx
  src/app/runner/tasks/[taskId]/page.tsx
  src/app/runner/tasks/new/page.tsx
Owners: @rent360/frontend-team

fix: corregir botones no funcionales y mejorar distribución UI
  src/app/owner/settings/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/provider/settings/page.tsx
Owners: @rent360/frontend-team

feat: implementar funcionalidad completa para botones de cambiar contraseña y subir documentos
  src/app/owner/settings/page.tsx
  src/app/provider/settings/page.tsx
Owners: @rent360/frontend-team

refactor: optimizar imports de componentes interactivos en broker viewings
  src/app/broker/viewings/new/page.tsx
Owners: @rent360/frontend-team

feat: completar desarrollo del usuario de mantenimiento
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/jobs/new/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/messages/page.tsx
  src/app/maintenance/page.tsx
  src/app/maintenance/properties/page.tsx
  src/app/maintenance/schedule/page.tsx
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

feat: completar funcionalidades de botones estáticos en usuario mantenimiento
  src/app/maintenance/properties/page.tsx
  src/app/maintenance/reports/page.tsx
  src/app/maintenance/schedule/page.tsx
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

fix: corregir modal de ajustes de facturación - mejorar responsividad y tamaño
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

feat: actualizar workflow CI/CD para despliegue automático en DigitalOcean
  .github/workflows/ci-cd.yml
Owners: @rent360/devops-team

feat: crear workflow específico para despliegues en DigitalOcean App Platform
  .github/workflows/digitalocean-deploy.yml
Owners: @rent360/devops-team

feat: crear script automatizado de despliegue para DigitalOcean
  scripts/deploy-to-digitalocean.sh
Owners: @rent360/maintainers

docs: actualizar README.md con información de despliegue automático en DigitalOcean
  README.md
Owners: @rent360/docs-team

feat: actualizar env.example para configuración de DigitalOcean App Platform
  env.example
Owners: @rent360/maintainers

docs: crear guía completa de configuración de secrets para DigitalOcean
  docs/DIGITALOCEAN_SECRETS_SETUP.md
Owners: @rent360/docs-team

feat: implementar funcionalidades completas de botones para usuario de mantenimiento
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores de TypeScript para despliegue en DigitalOcean
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

feat: mejorar visualización de precios para servicios
  src/app/admin/contractors/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/client/services/page.tsx
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/page.tsx
  src/app/maintenance/reports/page.tsx
  src/app/maintenance/settings/page.tsx
  src/app/owner/maintenance/page.tsx
  src/app/owner/messages/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/provider/services/page.tsx
  src/app/support/signatures/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

feat: implementar funcionalidades completas para usuario soporte
  src/app/support/dashboard/page.tsx
Owners: @rent360/frontend-team

feat: análisis exhaustivo y mejora de funcionalidades en todos los usuarios
  src/app/broker/clients/active/page.tsx
  src/app/client/recurring-services/page.tsx
  src/app/maintenance/reports/page.tsx
  src/app/owner/property-comparison/page.tsx
  src/app/provider/payments/[paymentId]/page.tsx
  src/app/runner/messages/page.tsx
  src/app/tenant/payments/methods/page.tsx
Owners: @rent360/frontend-team

CHATBOT IA EXPANDIDO 1000% - Implementación Completa
  src/app/page.tsx
  src/components/ai/Chatbot.tsx
  src/lib/ai-chatbot-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

CHATBOT IA EXPANDIDO 1000% - CORRECCIÓN DE BUILD
  src/components/ai/Chatbot.tsx
Owners: @rent360/frontend-team

CHATBOT IA MEJORADO 10.000% - IMPLEMENTACIÓN REVOLUCIONARIA COMPLETA
  src/components/ai/Chatbot.tsx
  src/lib/ai-chatbot-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

CORRECCIONES CRÍTICAS DEL CHATBOT - PROBLEMAS RESUELTOS
  src/components/ai/Chatbot.tsx
  src/lib/ai-chatbot-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team
