Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

feat: add splash screen and production optimizations
  middleware.ts
  next.config.js
  src/app/auth/login/page.tsx
  src/components/ui/SplashScreen.tsx
  src/components/ui/notification-provider.tsx
  src/middleware.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team

feat: production database migration and security configurations
  config/production.env
  middleware.ts
  prisma/schema.prisma
  src/app/admin/notifications/page.tsx
Owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team

feat: update production environment variables with secure configuration
  config/production.env
  config/production.env.example
Owners: @rent360/maintainers

fix: resolve build errors for production deployment
  package.json
  src/middleware/error-handler.ts
Owners: @rent360/maintainers

fix: add missing cssnano dependency for Next.js CSS processing
  package.json
Owners: @rent360/maintainers

fix: add postcss dependency and improve postcss config for production build
  package.json
  postcss.config.js
Owners: @rent360/maintainers, @rent360/devops-team

fix: remove cssnano dependency and simplify postcss config for DigitalOcean compatibility
  package.json
  postcss.config.js
Owners: @rent360/maintainers, @rent360/devops-team

fix: resolve all build errors for DigitalOcean deployment
  package.json
  playwright.config.ts
  src/app/api/user/kyc/initiate/route.ts
  src/lib/kyc-service.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/frontend-team, @rent360/backend-team

fix: resolve final build errors for DigitalOcean deployment
  .eslintrc.json
  server.ts
  src/lib/logger-edge.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: resolve remaining build errors for DigitalOcean deployment
  .eslintrc.json
  src/app/api/admin/providers/payouts/[transactionId]/approve/route.ts
  src/app/api/admin/runners/payouts/[transactionId]/approve/route.ts
  src/app/api/payments/khipu/status/[paymentId]/route.ts
  src/app/api/user/bank-accounts/[accountId]/route.ts
  src/lib/logger-edge.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

feat: configurar despliegue completo en DigitalOcean App Platform
  .dockerignore
  DEPLOYMENT_DIGITALOCEAN.md
  Dockerfile
  app.yaml
  config/production.env
  scripts/backup-digitalocean.sh
  scripts/setup-digitalocean.sh
Owners: @rent360/maintainers, @rent360/docs-team

fix: corregir configuración de ESLint para resolver errores de build
  .eslintrc.json
  errores DigitalOcean
Owners: @rent360/maintainers

fix: resolver definitivamente errores de build en DigitalOcean App Platform
  .eslintrc.js
  .eslintrc.json
  next.config.js
  olver errores de build en DigitalOcean App Platform
  package.json
  services/README.md
  services/tsconfig.json
  src/types/express.d.ts
  tsconfig.json
  types/express.d.ts
Owners: @rent360/maintainers, @rent360/devops-team, @rent360/docs-team, @rent360/backend-team

fix: eliminar archivo mal nombrado
  olver errores de build en DigitalOcean App Platform
Owners: @rent360/maintainers

fix: corregir errores de TypeScript en acceso a arrays
  src/app/admin/backup/page.tsx
  src/lib/runner-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir error de tipos en contratos y optimizar configuración de build
  .eslintrc.json
  auto-commit-push.ps1
  fix-build.sh
  push-changes.bat
  push-to-github.cmd
  push_changes.py
  src/app/admin/contracts/page.tsx
  tado...
  tatus
Owners: @rent360/maintainers, @rent360/frontend-team

fix: correccion definitiva error TypeScript createdAt
  EMERGENCIA-GIT-UPLOAD.bat
  EXECUTE-GIT-UPLOAD.py
  LAUNCHER-FINAL.bat
  RUN-SOLUTION.cmd
  SOLUTION-FINAL.py
  auto-push.py
  direct-push.py
  execute-push.py
  final-fix.py
  final-push.bat
  git-upload-final.py
  launcher.bat
  push-critical.ps1
  push-critical.vbs
  push-final.bat
  push-final.py
  push-simple.py
  push-urgent.bat
  residuales de sesiones anteriores
  src/app/admin/contracts/page.tsx
  tatus
Owners: @rent360/maintainers, @rent360/frontend-team

fix: correccion error TypeScript en signatures page
  src/app/admin/signatures/page.tsx
Owners: @rent360/frontend-team

fix: correccion masiva errores TypeScript split('T')[0]
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/properties/page.tsx
  src/app/api/admin/executive-dashboard/route.ts
  src/app/broker/appointments/page.tsx
  src/app/broker/commissions/page.tsx
  src/app/runner/visits/new/page.tsx
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/payout-service.ts
  src/lib/provider-payouts-service.ts
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: correccion masiva propiedades memoria heapUsed/heapTotal
  src/app/api/__tests__/monitoring.test.ts
  src/app/api/admin/performance/route.ts
  src/app/api/health/route.ts
  src/components/admin/SystemStats.tsx
  src/lib/logger.ts
  src/lib/monitoring-advanced.ts
  src/lib/types.ts
Owners: @rent360/qa-team, @rent360/frontend-team, @rent360/backend-team

fix: eliminar propiedad loadAverage inexistente
  src/app/api/admin/performance/route.ts
Owners: @rent360/frontend-team

fix: eliminar propiedades inexistentes currentMetrics
  src/app/api/admin/performance/route.ts
Owners: @rent360/frontend-team

fix: correcciones masivas TypeScript - análisis completo del sistema
  src/app/broker/commissions/page.tsx
  src/app/broker/properties/page.tsx
  src/app/owner/property-comparison/page.tsx
  src/components/admin/SystemStats.tsx
  src/lib/logger-edge.ts
  src/lib/runner-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: eliminar error TypeScript 'never' en monitoring stats
  src/app/api/admin/performance/route.ts
  src/lib/logger-edge.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: correcciones finales errores TypeScript
  src/app/admin/contracts/page.tsx
  src/app/api/admin/platform-config/route.ts
  src/lib/payout-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir conflictos de TypeScript en contracts/page.tsx
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos TypeScript en mock data de contratos
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de tipos TypeScript en contratos - agregar 'as any'
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Limpiar objetos anidados problem├íticos en contracts/page.tsx
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos TypeScript en properties/page.tsx
  src/app/admin/properties/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos faltantes a mock data de contratos
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campo title faltante al estado newContract
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipo status en formulario de contratos
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir todos los errores de TypeScript en mock data
  src/app/admin/contracts/page.tsx
  src/app/admin/properties/page.tsx
  src/app/broker/properties/new/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar interfaces Property locales conflictivas
  src/app/broker/properties/page.tsx
  src/app/owner/property-comparison/page.tsx
  src/components/calendar/AppointmentForm.tsx
Owners: @rent360/frontend-team

fix: Corregir sintaxis en property-comparison/page.tsx
  src/app/owner/property-comparison/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar 'as string[]' de arrays vacios
  src/app/admin/properties/page.tsx
  src/app/broker/properties/new/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Resolver error 'Type never[] is not assignable to type string'
  src/app/admin/properties/page.tsx
  src/app/broker/properties/new/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/tenant/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Resolver problema de inferencia de tipos en mockProperties
  src/app/admin/properties/page.tsx
Owners: @rent360/frontend-team

fix: Usar conversion segura de tipos 'as unknown as Property[]'
  src/app/admin/properties/page.tsx
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
