Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

ðŸš€ Mejorar chatbot: respuestas especÃ­ficas para firmas digitales
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Correcion chatbot: deteccion de intenciones y respuestas especificas
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Scripts para configurar variables de Google AI en desarrollo local
  set-env-vars.ps1
  set-env-vars.sh
Owners: @rent360/maintainers

Correcion critica chatbot: deteccion de intenciones
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Nuevo sistema de servicios de mudanza
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

APIs soporte con datos reales - CorrecciÃ³n sintaxis
  src/app/api/support/signatures/export/route.ts
  src/app/api/support/signatures/route.ts
  src/app/support/properties/page.tsx
  src/app/support/signatures/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

Correccion paginas soporte: datos reales en lugar de mockeados
  src/app/api/support/signatures/export/route.ts
  src/app/api/support/signatures/route.ts
  src/app/support/properties/page.tsx
  src/app/support/signatures/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

Correccion paginas soporte con datos reales - Parte 2
  src/app/api/support/dashboard/route.ts
  src/app/api/support/properties/[propertyId]/route.ts
  src/app/api/support/reports/response-time/route.ts
  src/app/api/support/reports/satisfaction/route.ts
  src/app/support/dashboard/page.tsx
  src/app/support/properties/[propertyId]/page.tsx
  src/app/support/reports/response-time/page.tsx
  src/app/support/reports/satisfaction/page.tsx
  src/app/support/tickets/board/page.tsx
Owners: @rent360/frontend-team

Corregir modelo UserRating en dashboard de soporte
  src/app/api/support/dashboard/route.ts
Owners: @rent360/frontend-team

Correccion completa: Build exitoso y paginas soporte con datos reales
  src/app/api/support/dashboard/route.ts
  src/app/api/support/properties/[propertyId]/route.ts
  src/app/api/support/reports/response-time/route.ts
  src/app/api/support/reports/satisfaction/route.ts
  src/app/support/dashboard/page.tsx
  src/app/support/tickets/board/page.tsx
Owners: @rent360/frontend-team

Correccion completa de todas las rutas soporte
  src/app/api/support/reports/resolved/route.ts
  src/app/api/support/users/route.ts
  src/app/support/properties/page.tsx
  src/app/support/reports/resolved/page.tsx
  src/app/support/reports/satisfaction/page.tsx
  src/app/support/tickets/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

Sistema soporte completo: APIs reales + build exitoso
  src/app/api/support/calls/route.ts
  src/app/api/support/emails/route.ts
  src/app/api/support/knowledge/route.ts
  src/app/api/support/reports/resolved/route.ts
  src/app/api/support/settings/route.ts
  src/app/api/support/users/route.ts
  src/app/support/calls/page.tsx
  src/app/support/emails/page.tsx
  src/app/support/knowledge/page.tsx
  src/app/support/reports/page.tsx
  src/app/support/reports/satisfaction/page.tsx
  src/app/support/settings/page.tsx
  src/app/support/tickets/[id]/page.tsx
  src/app/support/tickets/new/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

feat: ImplementaciÃ³n completa de modales profesionales y correcciÃ³n de errores
  src/app/admin/users/[id]/page.tsx
  src/app/support/properties/page.tsx
  src/app/support/reports/resolved/page.tsx
  src/app/support/reports/satisfaction/page.tsx
  src/app/support/tickets/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de autenticacion y manejo de errores en soporte
  src/app/api/support/tickets/route.ts
  src/app/support/reports/resolved/page.tsx
  src/app/support/tickets/page.tsx
Owners: @rent360/frontend-team

Build completado exitosamente - actualizaciÃ³n de archivos de soporte
  src/app/api/support/reports/resolved/route.ts
  src/app/support/reports/resolved/page.tsx
Owners: @rent360/frontend-team

Fix: Permitir acceso a detalles de usuarios para rol SUPPORT en /api/users/[id]
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

Fix: Corregir visualizaciÃ³n del modal de detalles de usuario y agregar documentos y calificaciones
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir acceso a documentos desde modal de usuarios en soporte y permitir acceso SUPPORT
  src/app/api/documents/[id]/access/route.ts
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

Fix: Mejorar manejo de rutas de archivos y logging en acceso a documentos
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/frontend-team

Fix: Eliminar redirecciÃ³n y buscar archivos en mÃºltiples rutas alternativas
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/frontend-team

Fix: Agregar soporte para descargar documentos desde cloud storage cuando no existen localmente
  src/app/api/documents/[id]/access/route.ts
  src/lib/cloud-storage.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Fix: Corregir tipo de Buffer a Uint8Array en NextResponse para documentos desde cloud storage
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/frontend-team

Fix: Verificar existencia en cloud storage antes de descargar y mejorar mensajes de error
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/frontend-team

Fix: Mejorar flujo de subida de documentos - normalizar tipos, verificar guardado y corregir respuesta API
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

Fix: Sistema completo de documentos - carga, subida, acceso y visualizaciÃ³n
  src/app/api/documents/[id]/access/route.ts
  src/app/owner/settings/page.tsx
  src/app/runner/settings/page.tsx
  src/app/tenant/settings/page.tsx
  src/lib/cloud-storage.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Fix: Sistema completo de documentos - eliminaciÃ³n y permisos de soporte
  src/app/api/documents/[id]/access/route.ts
  src/app/api/documents/[id]/route.ts
  src/app/maintenance/settings/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

Fix: Simplificar permisos de acceso a documentos - ADMIN y SUPPORT tienen acceso completo
  ANALISIS_PROBLEMA_DOCUMENTOS_ADMIN_SUPPORT.md
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/docs-team, @rent360/frontend-team

ActualizaciÃ³n: Cambios en el sistema de documentos y mejoras generales
  ANALISIS_EXHAUSTIVO_DOCUMENTOS_PERDIDOS.md
  SOLUCION_IMPLEMENTADA_DOCUMENTOS.md
  src/app/api/documents/[id]/access/route.ts
  src/app/api/documents/upload/route.ts
Owners: @rent360/docs-team, @rent360/frontend-team

ActualizaciÃ³n: Mejoras en sistema de documentos y documentaciÃ³n adicional
  FIX_CORS_DOCUMENTOS_CLOUD.md
  INSTRUCCIONES_DEPLOY_DOCUMENTOS.md
  src/app/api/documents/[id]/access/route.ts
  verify-document-system.js
Owners: @rent360/docs-team, @rent360/frontend-team, @rent360/maintainers

Fix: Agregar campos faltantes al schema de Prisma y corregir errores de tipo
  AUDIT_FUNCIONALIDADES_BROKER_VS_DOCUMENTADO.md
  COMPLETADO_TODO_LISTO_PARA_PRODUCCION.md
  CORRECCION_IMPLEMENTACIONES_BROKER.md
  IMPLEMENTACIONES_BROKER_COMPLETADAS.md
  INSTRUCCIONES_INTEGRACION_TOUR360.md
  INTEGRACION_TOUR360_COMPLETADA.md
  PRESENTACION_ROL_CORREDOR_BROKER.md
  RESUMEN_FINAL_IMPLEMENTACIONES.md
  prisma/schema.prisma
  src/app/api/admin/commissions/payouts/route.ts
  src/app/api/admin/commissions/route.ts
  src/app/api/admin/executive-dashboard/route.ts
  src/app/api/broker/commissions/route.ts
  src/app/api/broker/prospects/[prospectId]/activities/route.ts
  src/app/api/broker/prospects/[prospectId]/calculate-score/route.ts
  src/app/api/broker/prospects/[prospectId]/convert/route.ts
  src/app/api/broker/prospects/[prospectId]/share-property/route.ts
  src/app/api/broker/prospects/[prospectId]/status/route.ts
  src/app/api/broker/prospects/[prospectId]/track-view/route.ts
  src/app/api/broker/prospects/route.ts
  src/app/properties/[id]/page.tsx
  src/app/properties/[id]/tour/page.tsx
  src/components/broker/CommissionAlerts.tsx
  src/components/broker/LeadScoreDisplay.tsx
  src/components/broker/PropertyViewTracking.tsx
  src/components/virtual-tour/VirtualTourSection.tsx
  src/lib/commission-service.ts
  src/lib/email-service.ts
  src/lib/lead-scoring-service.ts
  src/lib/prospect-hooks.ts
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/frontend-team

Fix: Corregir errores de tipo en market-analysis y agregar campos faltantes
  ANALISIS_MERCADO_SISTEMA_COMPLETO.md
  RESUMEN_SISTEMA_ANALISIS_MERCADO.md
  SISTEMA_ANALISIS_MERCADO_VALIDACION.md
  src/app/api/broker/market-analysis/refresh/route.ts
  src/app/api/broker/market-analysis/route.ts
  src/app/api/broker/market-analysis/summary/route.ts
  src/app/broker/analytics/market-analysis/page.tsx
  src/app/broker/analytics/page.tsx
  src/lib/market-analysis-service.ts
Owners: @rent360/docs-team, @rent360/frontend-team, @rent360/backend-team

Fix: Corregir errores de tipo en preventive-maintenance-service y analytics
  ANALISIS_EXHAUSTIVO_FUNCIONALIDADES_PROPIETARIO_2025.md
  package-lock.json
  package.json
  src/app/admin/analytics/page.tsx
  src/app/api/cron/preventive-maintenance/route.ts
  src/app/api/owner/maintenance/preventive/[id]/route.ts
  src/app/api/owner/maintenance/preventive/route.ts
  src/app/owner/analytics/page.tsx
  src/lib/preventive-maintenance-service.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

Style: Formatear código en preventive-maintenance-service
  src/app/owner/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

feat: Configuraciones dinámicas del admin + Google Maps + KYC + Fix TypeScript
  ANALISIS_CONFIGURACIONES_REALES_VS_UI.md
  ANALISIS_EXHAUSTIVO_ADMIN_2025.md
  ANALISIS_EXHAUSTIVO_RUNNER360_2025.md
  ARREGLOS_CONFIGURACIONES_ADMIN_IMPLEMENTADOS.md
  IMPLEMENTACION_MAPAS_KYC.md
  SOLUCION_EXACTOPTIONALPROPERTYTYPES.md
  package-lock.json
  package.json
  services/api-gateway/tsconfig.json
  src/app/admin/kyc/page.tsx
  src/app/api/admin/integrations/route.ts
  src/app/api/user/kyc/status/route.ts
  src/app/api/user/kyc/upload-document/route.ts
  src/app/api/user/kyc/verify/route.ts
  src/components/kyc/IdentityVerification.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/maps/RunnerMapView.tsx
  src/lib/email-service.ts
  src/lib/geolocation/geolocation-service.ts
  src/lib/google-maps-service.ts
  src/lib/identity-verification-service.ts
  src/lib/integration-config-service.ts
  src/lib/offline/indexeddb-service.ts
  src/lib/signature/providers/esign.ts
  src/lib/signature/providers/firmachile.ts
  src/lib/signature/providers/firmasimple.ts
  src/lib/signature/providers/index.ts
  src/lib/signature/signature.ts
  tsconfig.json
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team

fix(deps): Mover @types/google.maps a dependencies para producción
  package.json
Owners: @rent360/maintainers

feat(admin): Mostrar todas las integraciones KYC, Maps y Firma en config del admin
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix(documents): Corregir guardado y visualizacion de documentos en propiedades
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: corregir verificacion de archivo undefined en upload virtual tour
  src/app/api/properties/[id]/virtual-tour/upload/route.ts
Owners: @rent360/frontend-team

fix(virtual-tour): Mejorar vista previa y funcionalidad de edicion
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
Owners: @rent360/frontend-team

fix(virtual-tour): Agregar metodo PUT y corregir formato de respuesta GET
  src/app/api/properties/[id]/virtual-tour/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
