Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

Update route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Corregir referencias a providerId por serviceProviderId en ServiceJob
  src/app/api/provider/dashboard/route.ts
  tatus
  tatus opcional
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir campo price por finalPrice en agregación ServiceJob
  src/app/api/provider/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Quitar relación 'maintenance' inexistente en ServiceJob dashboard
  src/app/api/provider/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Corregir referencia price por finalPrice en asignación totalEarnings
  src/app/api/provider/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Corregir mapeo de recentJobs para usar campos disponibles en select
  src/app/api/provider/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Corregir logger.error y handleError en provider/stats
  src/app/api/provider/stats/route.ts
Owners: @rent360/frontend-team

ok
  fix_handleError_imports.ps1
  llamadas de función handleError() - handleApiError()
  src/app/api/provider/stats/route.ts
  tatus
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Correccion adicional de imports handleError en archivos criticos API
  src/app/api/admin/backups/route.ts
  src/app/api/admin/deposit-refunds/[id]/route.ts
  src/app/api/admin/settings/route.ts
  src/app/api/contracts/sign/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Cambiar llamadas handleError por handleApiError en admin/deposit-refunds/[id]
  src/app/api/admin/deposit-refunds/[id]/route.ts
Owners: @rent360/frontend-team

fix: Correccion adicional de llamadas handleError en archivos API restantes
  fix_remaining_calls.ps1
  src/app/api/admin/runners/payouts/[transactionId]/approve/route.ts
  src/app/api/signatures/[id]/cancel/route.ts
  src/app/api/user/bank-accounts/[accountId]/route.ts
  src/app/api/user/bank-accounts/[accountId]/verify/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Correccion final de llamadas handleError en archivos restantes
  src/app/api/admin/providers/payouts/[transactionId]/approve/route.ts
Owners: @rent360/frontend-team

fix: Correccion final completa de todas las llamadas handleError en archivos API
  src/app/api/admin/deposit-refunds/[id]/route.ts
  src/app/api/admin/legal-cases/[id]/route.ts
  src/app/api/contractors/[id]/route.ts
  src/app/api/maintenance/[id]/route.ts
  src/app/api/runner/incentives/[incentiveId]/claim/route.ts
Owners: @rent360/frontend-team

fix: Corregir logica de filtrado de propiedades para brokers en refunds
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Cambiar db.refund por db.depositRefund en todo el archivo refunds/route.ts
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Quitar inclusion 'admin' inexistente en modelo DepositRefund
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Corregir imports restantes de handleError en archivos API
  src/app/api/refunds/route.ts
  src/app/api/tenant/dashboard/route.ts
  src/app/api/users/favorites/route.ts
Owners: @rent360/frontend-team

fix: Cambiar type por method en filtro de payments en refunds
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Corregir manejo de documentos en refunds - quitar campo problemático
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Cambiar amount por requestedAmount en modelo DepositRefund
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Agregar campos faltantes al modelo DepositRefund
  prisma/schema.prisma
  src/app/api/refunds/route.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Agregar campos requeridos en endpoint administrativo de refunds
  src/app/api/deposits/refunds/route.ts
Owners: @rent360/frontend-team

fix: Corregir tipo Json en campos bankAccount
  src/app/api/deposits/refunds/route.ts
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Usar spread operator para campos opcionales Json
  src/app/api/deposits/refunds/route.ts
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Agregar campos requeridos faltantes en endpoint de inquilinos
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Serializar data de notificaciones como JSON string
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Remover campo adminId inexistente en modelo DepositRefund
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Remover relacion admin inexistente en include de DepositRefund
  src/app/api/refunds/route.ts
Owners: @rent360/frontend-team

fix: Corregir llamadas a logger.error en archivos de API
  src/app/api/runner/bank-account/route.ts
  src/app/api/runner/incentives/[incentiveId]/claim/route.ts
  src/app/api/user/bank-accounts/[accountId]/route.ts
  src/app/api/user/bank-accounts/[accountId]/verify/route.ts
Owners: @rent360/frontend-team

fix: Corregir mas llamadas logger.error en archivos de API
  src/app/api/user/bank-accounts/route.ts
  src/app/api/user/payment-methods/route.ts
Owners: @rent360/frontend-team

fix: Corregir mas llamadas logger.error en archivos runner
  src/app/api/runner/incentives/route.ts
  src/app/api/runner/leaderboard/route.ts
  src/app/api/runner/reports/route.ts
Owners: @rent360/frontend-team

fix: Usar db.bankAccount.update en lugar de metodo inexistente
  src/app/api/runner/bank-account/route.ts
Owners: @rent360/frontend-team

fix: Agregar importacion faltante de db en runner bank-account
  src/app/api/runner/bank-account/route.ts
Owners: @rent360/frontend-team

fix: Resolver error de exactOptionalPropertyTypes en settings
  src/app/api/settings/route.ts
Owners: @rent360/frontend-team

fix: Corregir nombre de metodo en SignatureService
  src/app/api/signatures/[id]/cancel/route.ts
Owners: @rent360/frontend-team

fix: Ajustar manejo de cancelSignatureRequest que retorna void
  src/app/api/signatures/[id]/cancel/route.ts
Owners: @rent360/frontend-team

fix: Remover relacion document inexistente en SignatureRequest
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

fix: Simplificar logica de permisos en descarga de firmas
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

fix: Remover metodo downloadSignedDocument inexistente
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

feat: Implementar funcionalidad completa de descarga de documentos firmados
  src/app/api/signatures/[id]/download/route.ts
  src/lib/signature/signature.ts
Owners: @rent360/frontend-team, @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
