Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

feat: Add progress field to ServiceJob table with proper migration
  prisma/migrations/20241110_add_progress_to_service_jobs/migration.sql
  src/app/api/provider/jobs/[id]/progress/route.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Configure automatic Prisma migrations for DigitalOcean App Platform
  Dockerfile
  package.json
Owners: @rent360/maintainers

fix: Resolve failed migrations and configure robust migration system
  Dockerfile
  package.json
  scripts/migrate-production.js
Owners: @rent360/maintainers

fix: Complete marketplace flow for tenants and fix migration execution
  package.json
Owners: @rent360/maintainers

fix: Complete service requests flow for tenants and providers
  src/app/api/services/request/route.ts
  src/app/provider/jobs/[id]/page.tsx
  src/app/tenant/service-requests/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Build compilation errors for production
  src/app/api/services/request/route.ts
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: UI and navigation corrections for service requests flow
  src/app/provider/jobs/[id]/page.tsx
  src/app/provider/requests/page.tsx
Owners: @rent360/frontend-team

fix: Correct service request flows and auto-save issues
  src/app/provider/jobs/[id]/page.tsx
  src/app/provider/requests/page.tsx
Owners: @rent360/frontend-team

feat: Add progress control for provider job management
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/frontend-team

feat: Add service rating system for completed requests
  src/app/tenant/service-requests/[id]/page.tsx
  src/app/tenant/service-requests/page.tsx
Owners: @rent360/frontend-team

fix: TypeScript error in tenant service requests logging
  src/app/tenant/service-requests/page.tsx
Owners: @rent360/frontend-team

fix: Consistent status handling between tenant and provider service requests
  src/app/api/provider/requests/route.ts
  src/app/provider/requests/page.tsx
Owners: @rent360/frontend-team

feat: Implement bidirectional rating system for service completion
  src/app/api/provider/jobs/[id]/route.ts
  src/app/api/ratings/route.ts
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Correct status badge display for COMPLETED jobs
  src/app/provider/requests/page.tsx
  src/app/tenant/service-requests/page.tsx
Owners: @rent360/frontend-team

fix: Build compilation successful - resolved JWT and DB validation errors
  src/app/tenant/service-requests/page.tsx
  src/lib/auth.ts
  src/lib/db.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Multiple rating and UI issues resolved
  src/app/api/services/request/route.ts
  src/app/tenant/service-requests/[id]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Multiple critical issues resolved
  src/app/api/services/request/route.ts
  src/app/provider/jobs/[id]/page.tsx
  src/app/tenant/services/page.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Update comments for unified provider roles
  src/lib/auth.ts
Owners: @rent360/backend-team

fix: Type error in provider jobs rating - clientId property
  src/app/provider/jobs/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Prisma query error - cannot use include and select together
  src/app/api/services/request/route.ts
Owners: @rent360/backend-team

fix: Prisma query error - cannot use select and include together
  src/app/api/services/request/route.ts
Owners: @rent360/backend-team

fix: Calificaciones bidireccionales y opciones de rating
  src/app/api/services/request/[id]/route.ts
  src/app/provider/jobs/[id]/page.tsx
  src/app/tenant/service-requests/[id]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Correccion de manejo de errores en ratings y pagina de calificaciones del tenant
  src/app/api/services/request/[id]/route.ts
  src/app/provider/jobs/[id]/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Sistema completo de calificaciones bidireccionales
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/ratings/route.ts
  src/app/api/ratings/summary/[userId]/route.ts
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

feat: Mejora sistema de calificaciones bidireccionales
  src/app/api/ratings/route.ts
  src/app/tenant/ratings/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: Mejora completa página de calificaciones del tenant
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

refactor: Remover datos mock hardcodeados de /tenant/ratings
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir flujo completo de calificaciones y tabs de provider
  src/app/api/tenant/service-jobs/route.ts
  src/app/provider/requests/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de build en API tenant service-jobs
  src/app/api/tenant/service-jobs/route.ts
Owners: @rent360/frontend-team

fix: Corregir problema de notificaciones usando fetch con URL relativa
  src/app/api/provider/jobs/[id]/progress/route.ts
Owners: @rent360/frontend-team

fix: Resolver problemas críticos de calificaciones y notificaciones
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

debug: Agregar logs detallados para diagnosticar problema de calificaciones recibidas
  src/app/api/ratings/route.ts
  src/app/api/tenant/service-jobs/route.ts
  src/app/tenant/ratings/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir error de foreign key constraint en propertyId
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

cleanup: Remover logs de debug después de corregir el problema
  src/app/api/ratings/route.ts
  src/app/tenant/ratings/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Unificar sistema de calificaciones - página /rate/provider usa API principal
  src/app/rate/provider/[providerId]/page.tsx
Owners: @rent360/frontend-team

fix: Unificar sistema de calificaciones en perfiles de provider
  src/app/provider/[providerId]/ratings/page.tsx
  src/app/tenant/ratings/page.tsx
Owners: @rent360/frontend-team

debug: Agregar logs detallados para diagnosticar sistema de notificaciones WebSocket
  src/lib/notification-service.ts
  src/lib/websocket/socket-server.ts
Owners: @rent360/backend-team

fix: Corregir errores de TypeScript y build
  src/app/provider/[providerId]/ratings/page.tsx
  src/app/rate/provider/[providerId]/page.tsx
Owners: @rent360/frontend-team

debug: Agregar logs ultra visibles para diagnosticar sistema de notificaciones
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: Agregar logs ultra específicos para trazar flujo completo de calificaciones
  src/app/api/ratings/route.ts
  src/app/tenant/ratings/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team
