Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

docs: Crear archivo CREDENCIALES_USUARIOS.md con todas las credenciales de prueba
  CREDENCIALES_USUARIOS.md
Owners: @rent360/docs-team

fix: Corregir errores de validación en registro y login
  src/app/auth/register/page.tsx
  src/lib/validations.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir errores de validación en login y API de perfil
  CREDENCIALES_USUARIOS.md
  scripts/seed-users.ts
  src/app/api/user/profile/route.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team

fix: Permitir registro con roles en mayúsculas
  src/app/api/auth/register/route.ts
Owners: @rent360/frontend-team

debug: Agregar logs de debug al UnifiedSidebar
  src/app/admin/settings/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

debug: Agregar verificación typeof window para evitar logs en servidor
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

feat: Hacer footer condicional para que solo aparezca en homepage
  src/app/layout.tsx
  src/components/ui/ConditionalFooter.tsx
Owners: @rent360/frontend-team

fix: Solucionar error 429 en /api/auth/me aumentando límites de rate limiting
  src/lib/rate-limiter.ts
  src/middleware.ts
Owners: @rent360/backend-team, @rent360/maintainers

fix: Solucionar problemas de registro y dashboard de usuarios nuevos
  src/app/auth/register/page.tsx
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Corregir navegación y sidebar para usuarios por rol
  src/app/owner/analytics/page.tsx
  src/app/owner/contracts/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/maintenance/page.tsx
  src/app/owner/messages/page.tsx
  src/app/owner/payments/page.tsx
  src/app/owner/properties/new/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/owner/reports/page.tsx
  src/app/owner/tenants/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en dashboard de propietario
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

feat: Agregar páginas de ganancias y calificaciones para usuarios de mantenimiento
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/ratings/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en páginas de mantenimiento
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Quitar props user={null} restantes en páginas de mantenimiento
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en ratings de mantenimiento
  src/app/maintenance/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en owner dashboard - split may return undefined
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Quitar prop 'user' incorrecta de DashboardLayout en owner dashboard
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Corregir SelectItem con valores vacíos que causaban error en navegación admin->soporte
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

debug: Mejorar logging para diagnosticar problemas de routing por rol
  src/components/layout/DashboardLayout.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

feat: Completar páginas faltantes del rol soporte
  src/app/support/properties/page.tsx
  src/app/support/reports/resolved/page.tsx
  src/app/support/reports/response-time/page.tsx
  src/app/support/reports/satisfaction/page.tsx
  src/app/support/settings/page.tsx
  src/app/support/tickets/page.tsx
  src/app/support/users/page.tsx
Owners: @rent360/frontend-team

feat: Aumentar duración del splash screen a 3 segundos
  src/components/ui/SplashScreen.tsx
Owners: @rent360/frontend-team

feat: Asegurar splash screen aparezca en login y registro
  src/app/auth/register/page.tsx
Owners: @rent360/frontend-team

feat: Asegurar splash screen aparezca en login y registro
  src/components/support/LegalCasesSupportDashboard.tsx
Owners: @rent360/frontend-team

fix: Agregar import faltante de Mail icon en support settings
  src/app/support/settings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir determinación de rol en UnifiedSidebar para usuarios soporte
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Corregir múltiples problemas de funcionalidad en el sistema
  src/app/admin/contracts/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/admin/system-metrics/route.ts
  src/app/support/knowledge/page.tsx
  src/app/support/legal-cases/page.tsx
  src/app/support/properties/page.tsx
  src/app/support/settings/page.tsx
  src/app/support/signatures/page.tsx
  src/app/support/users/page.tsx
  src/components/dashboard/EnhancedDashboardLayout.tsx
  src/components/support/LegalCasesSupportDashboard.tsx
Owners: @rent360/frontend-team

fix: Agregar import faltante de logger en support/knowledge/page.tsx
  src/app/support/knowledge/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import faltante de Label en support/signatures/page.tsx
  src/app/support/signatures/page.tsx
Owners: @rent360/frontend-team

fix: Implementar correcciones finales de UI y funcionalidad
  src/app/owner/contracts/page.tsx
  src/app/owner/maintenance/page.tsx
  src/app/owner/payments/page.tsx
  src/components/layout/DashboardLayout.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Agregar importación faltante del logger en contratos propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import faltante de AlertTriangle en contratos propietario
  src/app/owner/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipos de error en llamadas a logger
  src/app/owner/maintenance/page.tsx
  src/app/owner/payments/page.tsx
Owners: @rent360/frontend-team

fix: Remover propiedad user no soportada en DashboardLayout
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import faltante del icono X en mantenimiento propietario
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir sidebar inconsistente del corredor
  src/app/broker/clients/active/page.tsx
  src/app/broker/clients/page.tsx
  src/app/broker/contracts/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/broker/maintenance/page.tsx
  src/app/broker/properties/new/page.tsx
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

fix: Hacer funcionales las funcionalidades de citas del corredor
  src/app/broker/appointments/page.tsx
  src/app/broker/clients/page.tsx
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

fix: Hacer funcionales las funcionalidades estáticas de reportes corredor
  src/app/broker/reports/page.tsx
Owners: @rent360/frontend-team

feat: Agregar configuración de metas para corredor
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

feat: Agregar funcionalidad de subida de documentos para corredor
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

feat: Hacer funcionales botones de acciones rápidas en dashboard tenant
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team
