Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: Agregar scroll sutil a selectores y corregir permisos en assign-provider
  src/app/api/maintenance/[id]/assign-provider/route.ts
  src/components/ui/select.tsx
Owners: @rent360/frontend-team

fix: Agregar import MessageSquare y corregir warning de useEffect
  src/app/api/maintenance/[id]/assign-provider/route.ts
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/api/maintenance/route.ts
  src/app/api/runner/dashboard/route-DESKTOP-EQ72SSB.ts
  src/app/maintenance/jobs/page.tsx
  src/app/owner/maintenance/page.tsx
  src/lib/ai-training-data-DESKTOP-EQ72SSB.ts
  src/lib/ai-training-data.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Agregar id al select de requester en maintenance/jobs route
  src/app/api/maintenance/jobs/route.ts
Owners: @rent360/frontend-team

fix: Verificar que quoteMatch[1] existe antes de usarlo en owner/maintenance
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir mÃºltiples problemas en sistema de mantenimiento
  src/app/api/maintenance/[id]/complete/route.ts
  src/app/api/maintenance/[id]/confirm-completion/route.ts
  src/app/api/maintenance/[id]/route.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/maintenance/jobs/page.tsx
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

feat: Implementar sistema de calificaciones para mantenimiento
  src/app/maintenance/jobs/page.tsx
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Agregar id a maintenanceProvider en interfaz MaintenanceRequest
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

feat: Implementar sistema de propuesta/aceptaciÃ³n de fechas para visitas de mantenimiento
  prisma/schema.prisma
  src/app/api/maintenance/[id]/accept-visit-proposal/route.ts
  src/app/api/maintenance/[id]/schedule-visit/route.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/broker/maintenance/[id]/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/owner/maintenance/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

feat: Agregar migraciÃ³n manual para campos de propuesta de visitas
  prisma/migrations/20241118_add_visit_proposal_fields/migration.sql
Owners: @rent360/backend-team

feat: mejorar flujo de propuestas en owner y broker
  src/app/api/maintenance/[id]/accept-visit-proposal/route.ts
  src/app/api/maintenance/[id]/route.ts
  src/app/api/maintenance/[id]/schedule-visit/route.ts
  src/app/api/maintenance/route.ts
  src/app/broker/maintenance/[id]/page.tsx
  src/app/broker/maintenance/page.tsx
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error 500 al completar trabajos de mantenimiento y mostrar imÃ¡genes adjuntas en detalles
  src/app/api/maintenance/[id]/complete/route.ts
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

fix: Corregir permisos de confirmaciÃ³n de mantenimiento, mostrar imÃ¡genes en detalles y actualizar dashboard con datos reales
  src/app/api/maintenance/[id]/confirm-completion/route.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/api/provider/stats/route.ts
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/page.tsx
Owners: @rent360/frontend-team

ActualizaciÃ³n: mejoras en mantenimiento y servicio de calificaciones
  src/app/api/maintenance/[id]/route.ts
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Fix: Mejorar manejo de errores en calificaciones y mostrar alert cuando se intenta calificar dos veces
  src/app/maintenance/jobs/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

ActualizaciÃ³n: build exitoso y mejoras en ratings
  src/app/api/ratings/route.ts
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

feat: Implementar 5 mejoras al sistema de calificaciones - Sistema de respuestas, filtros avanzados, exportaciÃ³n CSV, grÃ¡ficos de tendencias y recordatorios
  ANALISIS_SISTEMA_CALIFICACIONES.md
  ANALISIS_VISUALIZACION_CALIFICACIONES.md
  SISTEMA_CALIFICACIONES_COMPLETO.md
  SISTEMA_UNIFICADO_IMPLEMENTADO.md
  USUARIOS_SISTEMA_CALIFICACIONES.md
  prisma/schema.prisma
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/owner/runners/[id]/activity/route.ts
  src/app/api/ratings/[id]/response/route.ts
  src/app/api/ratings/export/route.ts
  src/app/api/ratings/reminders/route.ts
  src/app/api/ratings/route.ts
  src/app/api/ratings/trends/route.ts
  src/app/api/runner/dashboard/route.ts
  src/app/api/runner/incentives/available/route.ts
  src/app/api/runner/reports/route.ts
  src/app/api/service-providers/[id]/route.ts
  src/app/api/service-providers/route.ts
  src/app/api/visit/rate/route.ts
  src/app/broker/ratings/page.tsx
  src/app/client/providers/top-rated/page.tsx
  src/app/client/rate-service/[jobId]/page.tsx
  src/app/maintenance/ratings/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/provider/ratings/page.tsx
  src/app/rate/provider/[providerId]/page.tsx
  src/app/runner/ratings/page.tsx
  src/app/tenant/ratings/page.tsx
  src/lib/ratings/rating-service.ts
  src/lib/runner-incentives-service.ts
  src/lib/runner-rating-service.ts
  src/lib/user-rating-service.ts
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/frontend-team

docs: Actualizar documentacion con mejoras implementadas
  SISTEMA_CALIFICACIONES_COMPLETO.md
Owners: @rent360/docs-team

fix: Corregir sintaxis TypeScript en scripts JavaScript
  MIGRACION_DIGITALOCEAN.md
  SOLUCION_PROBLEMA_CALIFICACIONES.md
  prisma/migrations/20241119_add_rating_response_fields/migration.sql
  scripts/apply-rating-response-migration.js
  scripts/verify-ratings-data.js
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/maintainers

fix: Corregir construccion de filtros avanzados y agregar logging para debuggear problema de calificaciones
  src/app/owner/ratings/page.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

docs: Agregar guia de debugging para problema de calificaciones del owner
  DEBUG_CALIFICACIONES_OWNER.md
Owners: @rent360/docs-team

fix: Corregir manejo de errores y asegurar que ratingsList siempre sea un array
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Mejorar logging de errores en catch block
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir configuracion de puerto y health check para Digital Ocean App Platform
  Dockerfile
  app.yaml
  server.ts
Owners: @rent360/maintainers

fix: Usar node para health check en lugar de wget
  Dockerfile
Owners: @rent360/maintainers

fix: Hacer que el servidor escuche en 0.0.0.0 en produccion
  server.ts
Owners: @rent360/maintainers

fix: Proteger todos los map() con validaciones Array.isArray para evitar errores en produccion
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

fix: Proteger verificacion de ratings.length
  src/app/owner/ratings/page.tsx
Owners: @rent360/frontend-team

feat: Mostrar mantenimiento real y boton de info de calificaciones
  src/app/api/maintenance/route.ts
  src/app/api/owner/properties/[propertyId]/route.ts
  src/app/owner/maintenance/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/owner/runners/page.tsx
  src/components/ratings/UserRatingInfoButton.tsx
Owners: @rent360/frontend-team

feat: Mejorar detalle de propiedades para brokers con calificaciones publicas
  src/app/api/broker/properties/[propertyId]/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: Ajustar integraciones de ratings y tipados tras build
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/owner/maintenance/page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/components/ratings/UserRatingInfoButton.tsx
Owners: @rent360/frontend-team

feat: Mejorar visibilidad pÃºblica de calificaciones
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/owner/tenants/page.tsx
  src/components/ratings/UserRatingInfoButton.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir mÃºltiples problemas en mantenimiento y runners
  src/app/api/owner/runners/route.ts
  src/app/maintenance/calendar/page.tsx
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/properties/page.tsx
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

fix: Corregir ganancias mensuales y eliminar card duplicado en properties
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/properties/page.tsx
Owners: @rent360/frontend-team

feat: Implementar sistema de pagos completo para mantenimiento
  ANALISIS_SISTEMA_PAGOS_MANTENIMIENTO.md
  src/app/api/maintenance/[id]/confirm-completion/route.ts
  src/app/api/maintenance/[id]/quote/approve/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/lib/maintenance-payment-service.ts
Owners: @rent360/docs-team, @rent360/frontend-team, @rent360/backend-team

feat: Implementar modalidad hÃ­brida de chatbot con Google AI y seguridad reforzada
  CONFIGURACION_GOOGLE_AI_SEGURA.md
  MEJORAS_CHATBOT_IA_HIBRIDA.md
  env.example
  src/lib/ai-chatbot-service.ts
  src/lib/ai-training-data.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/backend-team

Implementar todas las mejoras del sistema de detecciÃ³n del chatbot: sistema unificado, sinÃ³nimos, normalizaciÃ³n, nuevas detecciones y eliminaciÃ³n de duplicaciÃ³n
  ANALISIS_MEJORAS_CHATBOT.md
  src/lib/ai-chatbot-service.ts
Owners: @rent360/docs-team, @rent360/backend-team

ActualizaciÃ³n del servicio de chatbot AI
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Mejora del chatbot: anÃ¡lisis de mensajes y respuestas mÃ¡s especÃ­ficas para proveedores de servicios
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Priorizar Google Gemini como proveedor principal de IA y mejorar detecciÃ³n de firmas digitales
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

Mejora exhaustiva del chatbot: priorizaciÃ³n de Google Gemini, mejor detecciÃ³n de intenciones y respuestas especÃ­ficas
  src/lib/ai-chatbot-service.ts
Owners: @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
