Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

feat: implement complete messaging system with file attachments
  ANALISIS_EXHAUSTIVO_SISTEMA_MENSAJERIA.md
  INSTRUCCIONES_IMPLEMENTACION_COMPLETA_MENSAJERIA.md
  INSTRUCCIONES_MIGRACION_USER_REPORTS_EMERGENCIA.md
  apply_user_reports_migration.js
  prisma/migrations/20241105_add_message_attachments/migration.sql
  prisma/schema.prisma
  src/app/api/messages/[id]/read/route.ts
  src/app/api/messages/[id]/route.ts
  src/app/api/messages/route.ts
  src/app/api/messages/upload/route.ts
  src/components/messaging/UnifiedMessagingSystem.tsx
  src/middleware.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team

feat: add migration script for production deployment
  apply-migrations.js
Owners: @rent360/maintainers

fix: resolve husky installation issue
  package.json
  setup-husky.js
Owners: @rent360/maintainers

fix: resolve WebSocket system conflicts and failures
  ANALISIS_WEBSOCKET_FALLOS.md
  setup-husky.js
  src/app/api/admin/integrations/route.ts
  src/app/layout.tsx
  src/components/auth/AuthProviderSimple.tsx
  src/components/providers/WebSocketProvider.tsx
  src/hooks/useSocket.ts
  src/lib/websocket/socket-client.ts
  src/lib/websocket/socket-server.ts
  test-websocket.js
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: resolve all WebSocket compilation errors and conflicts
  src/app/api/admin/integrations/route.ts
  src/components/notifications/ConnectionStatus.tsx
  src/components/notifications/ToastNotifications.tsx
  test-websocket.js
Owners: @rent360/frontend-team, @rent360/maintainers

fix: allow TENANT users to search and communicate with other TENANT users
  src/app/api/users/search/route.ts
Owners: @rent360/frontend-team

debug: add comprehensive logging for message sending to providers
  src/app/api/messages/route.ts
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: add compatibility for unified provider roles (SERVICEPROVIDER/MAINTENANCEPROVIDER)
  check-user-roles.js
  src/app/api/users/search/route.ts
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: correct messaging with service providers by using correct user IDs
  src/app/api/service-providers/[id]/route.ts
  src/app/api/service-providers/route.ts
  src/app/tenant/services/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

debug: improve new conversation initialization from service cards
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: resolve remaining issues with messaging and provider access
  check-managed-properties.js
  src/components/messaging/UnifiedMessagingSystem.tsx
  src/lib/auth.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: add missing websocketClient import in UnifiedMessagingSystem
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: resolve remaining messaging and search issues
  src/app/api/properties/route.ts
  src/app/provider/profile/page.tsx
  src/app/tenant/advanced-search/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: resolve remaining critical issues
  src/app/api/properties/[id]/route.ts
  src/app/tenant/advanced-search/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

fix: resolve TypeScript compilation error in advanced search
  src/app/tenant/advanced-search/page.tsx
Owners: @rent360/frontend-team

debug: add comprehensive logging for managed property contact and provider profile errors
  src/app/provider/profile/page.tsx
  src/app/tenant/advanced-search/page.tsx
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/frontend-team

feat: implement Pusher integration with Socket.io fallback
  src/app/api/pusher/auth/route.ts
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: activate Pusher integration with automatic detection
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: correct server startup logging to show proper host in production
  server.ts
Owners: @rent360/maintainers

debug: add detailed WebSocket authentication and connection debugging
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

debug: add forced console logs to verify WebSocket debugging is working
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

docs: add PORT configuration requirement to README
  build logs
Owners: @rent360/maintainers

debug: add server environment variable logging
  server.ts
Owners: @rent360/maintainers

debug: add detailed PORT environment variable debugging
  server.ts
Owners: @rent360/maintainers

fix: hardcode port 8080 for production (Digital Ocean App Platform)
  server.ts
Owners: @rent360/maintainers

fix: use PORT env var configured by Digital Ocean App Platform
  server.ts
Owners: @rent360/maintainers

fix: prevent React error #31 by adding null checks for profile.services
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

debug: enhance WebSocket cookie debugging to show detailed cookie information
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: resolve WebSocket authentication by creating API endpoint for tokens
  src/app/api/ws-token/route.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

cleanup: remove duplicate logs and clean up WebSocket debugging code
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: make WebSocket connect method async to support token fetching
  src/components/auth/AuthProviderSimple.tsx
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: add detailed logging for service data transformation
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

fix: resolve React error #31 by adding null checks for array access
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

cleanup: remove debug logging from service data transformation
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

feat: implement real-time message counter updates via WebSocket
  src/app/admin/dashboard/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/runner/dashboard/page.tsx
  src/app/support/dashboard/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: add comprehensive validation and logging for React error #31
  src/app/provider/profile/page.tsx
Owners: @rent360/frontend-team

debug: add detailed API logging to identify ServiceProvider vs MaintenanceProvider data inconsistencies
  src/app/api/provider/profile/route.ts
Owners: @rent360/frontend-team

fix: remove remaining unreadMessagesCount references from dashboards
  src/app/admin/dashboard/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/runner/dashboard/page.tsx
  src/app/support/dashboard/page.tsx
  src/components/layout/UnifiedDashboardLayout.tsx
Owners: @rent360/frontend-team

fix: implement profile saving and add message notification debugging
  src/app/api/messages/route.ts
  src/app/api/provider/profile/route.ts
  src/app/provider/profile/page.tsx
  src/lib/notification-service.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: restore corrupted provider profile API file
  src/app/api/provider/profile/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
