Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: corregir logger.error en fallback de WebPay
  src/lib/bank-integrations/bank-integration-factory.ts
Owners: @rent360/backend-team

fix: agregar operador de asignación definitiva a propiedad config en BaseBankIntegration
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

fix: permitir null en config y agregar verificaciones de seguridad
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

fix: agregar operadores ! para config en clases concretas
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/paypal-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
Owners: @rent360/backend-team

fix: quitar async de métodos abstractos en BaseBankIntegration
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

fix: agregar operador ! para errorMappings.TECHNICAL_ERROR
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

fix: agregar operador ! en isAvailable para this.config.enabled
  src/lib/bank-integrations/base-bank-integration.ts
Owners: @rent360/backend-team

fix: corregir paypal-integration.ts completo
  src/lib/bank-integrations/paypal-integration.ts
Owners: @rent360/backend-team

fix: corregir paypal-integration.ts completo - verificaciones null
  src/lib/bank-integrations/paypal-integration.ts
Owners: @rent360/backend-team

fix: corregir stripe-integration.ts completo - logger.error
  src/lib/bank-integrations/stripe-integration.ts
Owners: @rent360/backend-team

fix: agregar optional chaining para error en stripe-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
Owners: @rent360/backend-team

fix: convertir params anidados a Record<string, string> en stripe-integration
  src/lib/bank-integrations/stripe-integration.ts
Owners: @rent360/backend-team

fix: corregir webpay-integration.ts completo - logger.error
  src/lib/bank-integrations/webpay-integration.ts
Owners: @rent360/backend-team

fix: agregar optional chaining para error en webpay-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
Owners: @rent360/backend-team

fix: corregir banco-estado.ts completo - accessToken y logger.error
  src/lib/banking/banco-estado.ts
Owners: @rent360/backend-team

fix: corregir error.message desconocido en banco-estado.ts
  src/lib/banking/banco-estado.ts
Owners: @rent360/backend-team

fix: corregir archivos bancarios completos - tipos y logger.error
  src/lib/banking/bank-service.ts
  src/lib/banking/base-bank.ts
  src/lib/banking/bci.ts
Owners: @rent360/backend-team

fix: corregir tipos opcionales con exactOptionalPropertyTypes en archivos bancarios
  src/lib/bank-integrations/base-bank-integration.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/bank-integrations/webpay-integration.ts
  src/lib/banking/banco-estado.ts
  src/lib/banking/bank-service.ts
  src/lib/banking/bci.ts
Owners: @rent360/backend-team

fix: corregir tipos opcionales restantes en paypal y banco-estado integrations
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/bank-integrations/paypal-integration.ts
Owners: @rent360/backend-team

fix: corregir integración de Khipu con tipos opcionales y errores
  src/app/api/payments/khipu/create/route.ts
  src/components/payments/KhipuPayment.tsx
Owners: @rent360/frontend-team

fix: corregir tipos opcionales en database-stats/route.ts
  src/app/api/admin/database-stats/route.ts
Owners: @rent360/frontend-team

fix: corregir métodos abstractos async y tipos opcionales exactOptionalPropertyTypes
  src/lib/bank-account-service.ts
  src/lib/banking/base-bank.ts
  src/lib/types.ts
Owners: @rent360/backend-team

fix: corregir accessToken null en integraciones bancarias
  src/lib/api/payments.ts
  src/lib/bank-integrations/banco-estado-integration.ts
  src/lib/banking/bci.ts
Owners: @rent360/backend-team

fix: corregir inicialización de propiedades privadas con strictPropertyInitialization
  src/lib/api/payments.ts
  src/lib/backup-manager.ts
  src/lib/banking/bank-service.ts
  src/lib/banking/bci.ts
  src/lib/cache-manager.ts
  src/lib/cache.ts
  src/lib/logger-edge.ts
  src/lib/logger.ts
  src/lib/monitoring-advanced.ts
  src/lib/rate-limiter.ts
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/backend-team

fix: corregir tipos opcionales en chat-service.ts con exactOptionalPropertyTypes
  src/lib/chat/chat-service.ts
Owners: @rent360/backend-team

fix: corregir acceso inseguro a arrays y propiedades undefined
  src/lib/api/payments.ts
  src/lib/bank-integrations/paypal-integration.ts
  src/lib/chat/chat-service.ts
  src/lib/signature/providers/digitalsign.ts
Owners: @rent360/backend-team

fix: corregir logger.error formato estructurado en chat-service y websocket
  src/lib/chat/chat-service.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: corregir parsing inseguro de tiempo HH:mm
  src/lib/chat/chat-service.ts
  src/lib/notifications/firebase-service.ts
Owners: @rent360/backend-team

fix: corregir acceso inseguro a arrays y split operations
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/commission-service.ts
  src/lib/kyc-service.ts
  src/lib/notifications.ts
Owners: @rent360/backend-team

fix: corregir propiedad opcional table en QueryStats
  src/lib/db-optimizer.ts
Owners: @rent360/backend-team

fix: corregir para usar sql template literal
  src/lib/db-optimizer.ts
Owners: @rent360/backend-team

fix: corregir a para strings dinámicas
  src/lib/db-optimizer.ts
Owners: @rent360/backend-team

Update db-optimizer.ts
  src/lib/db-optimizer.ts
Owners: @rent360/backend-team

fix: corregir sintaxis en funciones de optimización de base de datos
  src/lib/db-optimizer.ts
Owners: @rent360/backend-team

fix: corregir propiedades opcionales en clases de error
  src/lib/errors.ts
Owners: @rent360/backend-team

fix: agregar declaración global para rateLimits
  src/lib/errors.ts
Owners: @rent360/backend-team

fix: corregir todas las propiedades opcionales Record<string, any> para compatibilidad con exactOptionalPropertyTypes
  ive-fix.js
  src/app/api/signatures/webhook/route.ts
  src/components/ui/chart.tsx
  src/lib/ai-chatbot-service.ts
  src/lib/audit.ts
  src/lib/bank-integrations/stripe-integration.ts
  src/lib/errors.ts
  src/lib/fraud-detection.ts
  src/lib/kyc-service.ts
  src/lib/logger-edge.ts
  src/lib/logger.ts
  src/lib/notification-service.ts
  src/lib/notifications.ts
  src/lib/notifications/firebase-service.ts
  src/lib/performance.ts
  src/lib/signature/types.ts
  src/lib/types.ts
  src/lib/types/index.ts
  src/types.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: corregir acceso inseguro a arrays en múltiples archivos
  src/app/api/documents/upload/route.ts
  src/components/ai/Chatbot.tsx
  src/lib/file-validation.ts
  src/lib/math-utils.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir llamadas logger.error en fraud-detection.ts y kyc-service.ts
  src/lib/fraud-detection.ts
  src/lib/kyc-service.ts
Owners: @rent360/backend-team

fix: corregir llamadas logger.warn, logger.info y logger.error para usar formato estructurado
  src/lib/fraud-detection.ts
  src/lib/geolocation/geolocation-service.ts
  src/lib/notifications/firebase-service.ts
  src/lib/payment-config.ts
Owners: @rent360/backend-team
