Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

Fix: CorrecciÃ³n final de errores de TypeScript en avatar
  test-property-creation.js
Owners: @rent360/maintainers

Fix: Reemplazar datos mock con datos reales en dashboards admin
  src/app/admin/payments/brokers/page.tsx
  src/app/admin/payments/owners/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/api/admin/payments/brokers/route.ts
  src/app/api/admin/payments/owners/route.ts
  src/app/api/admin/payments/providers/route.ts
  src/app/api/admin/payments/reports/route.ts
  src/app/api/admin/reports/financial/route.ts
  src/app/api/admin/reports/users/route.ts
  src/app/owner/dashboard/page.tsx
Owners: @rent360/frontend-team

Fix: Correcciones TypeScript en APIs de reportes admin
  src/app/api/admin/payments/brokers/route.ts
  src/app/api/admin/payments/owners/route.ts
  src/app/api/admin/payments/reports/route.ts
  src/app/api/admin/reports/financial/route.ts
  src/app/api/admin/reports/users/route.ts
Owners: @rent360/frontend-team

Fix: Actualizar correcciones finales en providers API
  src/app/api/admin/payments/providers/route.ts
Owners: @rent360/frontend-team

Fix: WebSocket connection issues
  package.json
  src/lib/websocket/socket-client.ts
  src/lib/websocket/socket-server.ts
Owners: @rent360/maintainers, @rent360/backend-team

Docs: Agregar configuraciÃ³n WebSocket a env.example
  env.example
Owners: @rent360/maintainers

Fix: CorrecciÃ³n de errores WebSocket y notificaciones
  src/app/demo-fase1/page.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

UI: Mover botÃ³n de notificaciones al header superior derecho
  src/app/api/contracts/[id]/pdf/route.ts
  src/app/api/contracts/sign/route.ts
  src/app/layout.tsx
  src/app/tenant/contracts/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/types/index.ts
Owners: @rent360/frontend-team, @rent360/maintainers

Fix: Corregir error de TypeScript en PDF endpoint
  src/app/api/contracts/[id]/pdf/route.ts
Owners: @rent360/frontend-team

Fix: Dashboard del corredor ahora muestra datos reales para todos los usuarios
  src/app/broker/dashboard/page.tsx
Owners: @rent360/frontend-team

Fix: Detalles de prospectos ahora muestran datos reales
  src/app/api/broker/clients/prospects/[prospectId]/route.ts
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

Style: Ajustes menores de formato en WebSocket client
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

Refactor: Sistema de prospectos completamente rediseÃ±ado
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/[prospectId]/page.tsx
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos title y address al select de propiedades en API de prospectos
  src/app/api/broker/clients/prospects/route.ts
Owners: @rent360/frontend-team

fix: Agregar contratos al select de Prisma para anÃ¡lisis de perfil de prospectos
  src/app/api/broker/clients/prospects/route.ts
Owners: @rent360/frontend-team

fix: Cambiar source 'platform' a 'website' para compatibilidad de tipos
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos faltantes role y portfolioStats/searchProfile al tipo Prospect
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Cambiar followUpDate de null a undefined para compatibilidad de tipos
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Actualizar interfaz Prospect en pÃ¡gina de detalles para incluir campos requeridos y analytics
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar secciÃ³n obsoleta Property Information que usaba campos no existentes
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

fix: Agregar import del logger en pÃ¡gina de prospectos
  src/app/broker/clients/prospects/page.tsx
Owners: @rent360/frontend-team

fix: Correcciones crÃ­ticas de tipos Prisma
  IMPLEMENTACION_SISTEMA_PROSPECTS_COMPLETO.md
  SISTEMA_PROSPECTS_CORREDORES_DOCUMENTACION.md
  prisma/schema.prisma
  src/app/api/broker/clients-new/[clientId]/manage-properties/route.ts
  src/app/api/broker/clients-new/route.ts
  src/app/api/broker/prospects/[prospectId]/activities/route.ts
  src/app/api/broker/prospects/[prospectId]/convert/route.ts
  src/app/api/broker/prospects/[prospectId]/route.ts
  src/app/api/broker/prospects/[prospectId]/share-property/route.ts
  src/app/api/broker/prospects/route.ts
  src/app/broker/prospects/page.tsx
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/frontend-team

fix: Actualizar ruta antigua de prospects para usar nueva API
  src/app/broker/clients/prospects/page.tsx
  sync-production-db.js
Owners: @rent360/frontend-team, @rent360/maintainers

refactor: Limpiar archivos antiguos de prospects y crear redirects
  src/app/api/broker/clients/prospects/[prospectId]/route.ts
  src/app/api/broker/clients/prospects/route.ts
  src/app/broker/clients/prospects/[prospectId]/page.tsx
  src/app/broker/clients/prospects/page.tsx
  src/app/broker/clients/prospects/page.tsx.backup
  src/app/broker/clients/prospects/page.tsx.backup2
  sync-production-db.js
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir error de tipo en params del redirect de prospectos
  src/app/broker/clients/prospects/[prospectId]/page.tsx
Owners: @rent360/frontend-team

feat: Sistema completo de captacion de clientes para corredores con 4 herramientas integradas (busqueda, recomendaciones IA, invitaciones y marketplace)
  prisma/schema.prisma
  src/app/api/broker/discover/invitations/route.ts
  src/app/api/broker/discover/marketplace/[requestId]/respond/route.ts
  src/app/api/broker/discover/marketplace/route.ts
  src/app/api/broker/discover/recommendations/[recommendationId]/route.ts
  src/app/api/broker/discover/recommendations/route.ts
  src/app/api/broker/discover/users/route.ts
  src/app/broker/discover/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

docs: Documentacion completa del sistema de captacion de clientes
  SISTEMA_CAPTACION_CLIENTES_COMPLETO.md
Owners: @rent360/docs-team

feat: Sistema bidireccional completo - Owners/Tenants pueden solicitar servicios de corretaje
  src/app/api/service-requests/[requestId]/responses/[responseId]/route.ts
  src/app/api/service-requests/[requestId]/route.ts
  src/app/api/service-requests/route.ts
  src/app/owner/broker-services/page.tsx
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/frontend-team

feat: Proteccion del modelo de negocio y notificaciones en tiempo real
  src/app/api/broker/clients-new/[clientId]/manage-properties/route.ts
  src/app/api/broker/discover/invitations/route.ts
  src/app/api/broker/discover/marketplace/[requestId]/respond/route.ts
  src/app/api/broker/discover/recommendations/route.ts
  src/app/api/notifications/[notificationId]/route.ts
  src/app/api/notifications/route.ts
  src/app/api/service-requests/[requestId]/responses/[responseId]/route.ts
  src/components/notifications/NotificationBell.tsx
  src/lib/commission-validator.ts
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

docs: Documentacion completa de proteccion de comisiones y notificaciones en tiempo real
  PROTECCION_MODELO_NEGOCIO_Y_NOTIFICACIONES.md
Owners: @rent360/docs-team

fix: Corregir errores de autenticaciÃ³n y tipos en APIs
  src/app/api/broker/discover/invitations/route.ts
  src/app/api/broker/discover/marketplace/[requestId]/respond/route.ts
  src/app/api/broker/discover/marketplace/route.ts
  src/app/api/broker/discover/recommendations/[recommendationId]/route.ts
  src/app/api/broker/discover/recommendations/route.ts
  src/app/api/broker/discover/users/route.ts
  src/app/api/broker/surveys/send/route.ts
  src/app/api/maintenance/[id]/assign-provider/route.ts
  src/app/api/notifications/[notificationId]/route.ts
  src/app/api/notifications/route.ts
  src/app/api/service-requests/[requestId]/responses/[responseId]/route.ts
  src/app/api/service-requests/[requestId]/route.ts
  src/app/api/service-requests/route.ts
Owners: @rent360/frontend-team

fix: Sistema de notificaciones y proteccion de comisiones funcional
  prisma/schema.prisma
  src/app/api/admin/notifications/send/route.ts
  src/app/api/contracts/sign/route.ts
  src/app/api/deposits/refunds/[id]/approve/route.ts
  src/app/api/deposits/refunds/route.ts
  src/app/api/maintenance/[id]/schedule-visit/route.ts
  src/app/api/messages/report/route.ts
  src/app/api/messages/route.ts
  src/app/api/notifications/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/app/api/refunds/route.ts
  src/app/api/service-requests/route.ts
  src/app/api/signatures/callback/firmapro/route.ts
  src/app/api/signatures/callback/trustfactory/route.ts
  src/app/api/signatures/route.ts
  src/app/api/signatures/webhook/route.ts
  src/lib/commission-service.ts
  src/lib/notification-queue.ts
  src/lib/notification-service.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Correcciones adicionales al sistema de notificaciones
  src/app/api/deposits/refunds/[id]/disputes/[disputeId]/route.ts
  src/app/api/deposits/refunds/[id]/disputes/route.ts
  src/app/api/deposits/refunds/[id]/documents/[docId]/route.ts
  src/app/api/deposits/refunds/[id]/documents/route.ts
  src/app/api/messages/report/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/app/api/signatures/callback/firmapro/route.ts
  src/app/api/signatures/callback/trustfactory/route.ts
  src/app/api/signatures/route.ts
  src/app/api/signatures/webhook/route.ts
Owners: @rent360/frontend-team

fix: Correcciones criticas sistema notificaciones
  src/app/api/deposits/refunds/[id]/process/route.ts
  src/app/api/deposits/refunds/[id]/route.ts
  src/app/api/deposits/refunds/route.ts
  src/app/api/messages/report/route.ts
  src/app/api/payments/[id]/mark-paid/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/app/api/refunds/route.ts
  src/app/api/signatures/callback/firmapro/route.ts
  src/app/api/signatures/callback/trustfactory/route.ts
  src/app/api/signatures/route.ts
  src/app/api/signatures/webhook/route.ts
  src/lib/alert-system.ts
  src/lib/notification-service.ts
  src/lib/payout-service.ts
  src/lib/provider-payouts-service.ts
  src/lib/runner-incentives-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Implement specific notification methods permanently and fix build errors
  src/lib/notification-service.ts
  src/lib/provider-payouts-service.ts
  src/lib/runner-incentives-service.ts
  src/lib/runner-rating-service.ts
  src/lib/runner-reports-service.ts
  src/lib/user-rating-service.ts
Owners: @rent360/backend-team

fix: Corregir paginas de broker-services y API de notificaciones - Build exitoso
  src/app/api/notifications/[notificationId]/route.ts
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar archivo duplicado notificationId y actualizar API correctamente
  src/app/api/notifications/[id]/route.ts
  src/app/api/notifications/[notificationId]/route.ts
Owners: @rent360/frontend-team

feat: Integrar navegacion completa a sistema de captacion de clientes
  src/app/broker/prospects/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Corregir problemas en ruta /broker/discover
  src/app/api/broker/discover/marketplace/route.ts
  src/app/api/broker/discover/recommendations/route.ts
  src/app/broker/discover/page.tsx
Owners: @rent360/frontend-team

feat: correcciones funcionales completadas
  src/app/broker/properties/new/page.tsx
  src/app/runner/settings/page.tsx
  src/app/support/tickets/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/lib/notification-service.ts
  src/lib/validations.ts
Owners: @rent360/frontend-team, @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
