Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

FIX: Corregir sistema de conteos y relaciones de clientes/propiedades del corredor
  test-broker-apis.js
Owners: @rent360/maintainers

FIX: Correcciones definitivas para dashboard y gestión de clientes
  src/app/api/broker/dashboard/route.ts
Owners: @rent360/frontend-team

FIX: Corrección de tipos en consultas del dashboard
  src/app/api/broker/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Mejorar logging de errores en properties y client detail endpoints - Agregar stack traces completos en catch blocks - Usar console.error ademÃ¡s de logger para visibilidad en producciÃ³n
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/api/broker/properties/route.ts
Owners: @rent360/frontend-team

fix: Corregir orden de health check de base de datos - Mover health check inicial despuÃ©s de definir checkDatabaseHealth - Agregar setTimeout para evitar problemas de inicializaciÃ³n
  src/lib/db.ts
Owners: @rent360/backend-team

fix: Agregar health check de base de datos en producciÃ³n - Verificar conexiÃ³n a base de datos despuÃ©s de inicializaciÃ³n - Agregar logs para debugging de conexiÃ³n
  src/lib/db.ts
Owners: @rent360/backend-team

fix: Eliminar export const dynamic de pÃ¡ginas con 'use client' para corregir error de renderizado estÃ¡tico
  src/app/broker/analytics/page.tsx
  src/app/broker/contracts/page.tsx
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/page.tsx
  src/app/broker/reports/page.tsx
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

feat: Agregar logs de debugging en dashboard y properties de broker
  SOLUCION_ERRORES_DASHBOARD_BROKER.md
  src/app/api/properties/[id]/route.ts
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/broker/properties/page.tsx
Owners: @rent360/docs-team, @rent360/frontend-team

fix: Corregir creaciÃ³n de propiedades del broker y botÃ³n Editar
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: Mejorar lÃ³gica de isOwned en API de propiedades
  src/app/api/properties/[id]/route.ts
Owners: @rent360/frontend-team

fix: Permitir que corredores editen propiedades administradas
  src/app/api/properties/[id]/route.ts
  src/app/broker/properties/[propertyId]/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar propiedad duplicada brokerId en API de propiedades
  src/app/api/properties/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir error 500 en API pÃºblica de propiedades y actualizaciÃ³n despuÃ©s de eliminar
  src/app/admin/properties/page.tsx
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Expandir actividades recientes del corredor y corregir aprobaciÃ³n automÃ¡tica
  src/app/api/broker/dashboard/route.ts
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en verificaciÃ³n de aprobaciÃ³n automÃ¡tica
  src/app/api/properties/route.ts
Owners: @rent360/frontend-team

fix: Corregir sidebar para nuevos usuarios y actualizar runner/tasks con datos reales
  src/app/api/runner/tasks/route.ts
  src/app/runner/tasks/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Actualizar runner/dashboard y runner/visits con datos reales
  src/app/api/runner/dashboard/route.ts
  src/app/api/runner/visits/route.ts
  src/app/runner/dashboard/page.tsx
  src/app/runner/visits/page.tsx
Owners: @rent360/frontend-team

fix: Actualizar runner/clients y runner/schedule con datos reales
  src/app/api/runner/clients/route.ts
  src/app/api/runner/schedule/route.ts
  src/app/runner/clients/page.tsx
  src/app/runner/schedule/page.tsx
Owners: @rent360/frontend-team

fix: Agregar tipo 'rut' en updateBankAccount tambiÃ©n
  src/lib/bank-account-service.ts
Owners: @rent360/backend-team

Corregir runner/reports: eliminar conversiones, calcular calificaciones reales; corregir error 500 en owner/runners/[id]/activity
  src/app/api/owner/runners/[id]/activity/route.ts
  src/app/runner/reports/page.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Corregir runner/reports: calcular totalPhotos, reportsSubmitted y tasksCompleted reales; corregir error 500 en owner/runners/[id]/activity con manejo defensivo de nulls
  src/app/api/owner/runners/[id]/activity/route.ts
  src/app/api/owner/runners/assigned/route.ts
  src/app/runner/reports/page.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Agregar totalPhotos, reportsSubmitted y tasksCompleted a interfaz RunnerPerformanceMetrics
  src/lib/runner-reports-service.ts
Owners: @rent360/backend-team

Mejorar manejo defensivo en owner/runners/[id]/activity para relaciones corruptas
  src/app/api/owner/runners/[id]/activity/route.ts
Owners: @rent360/frontend-team

Corregir tipo implÃ­cito de parÃ¡metro img en owner/runners/[id]/activity
  src/app/api/owner/runners/[id]/activity/route.ts
Owners: @rent360/frontend-team

Corregir todos los tipos implÃ­citos en owner/runners/[id]/activity: agregar tipos explÃ­citos a todos los map y filter
  src/app/api/owner/runners/[id]/activity/route.ts
Owners: @rent360/frontend-team

Corregir preview de imagen en modal de detalles de visita
  src/app/owner/runners/[id]/page.tsx
Owners: @rent360/frontend-team

Corregir error TypeScript: usar visit.property.owner?.id en lugar de visit.property.ownerId
  src/app/api/runner/tasks/[taskId]/route.ts
Owners: @rent360/frontend-team

Eliminar overlay negro que bloquea imÃ¡genes: mover overlay fuera del contenedor y usar bg-transparent
  src/app/owner/runners/[id]/page.tsx
  src/app/runner/photos/page.tsx
Owners: @rent360/frontend-team

Corregir error 500 en /api/runner/visits: - Remover uso simultÃ¡neo de select e include en property - Usar solo include para property con owner anidado - Agregar stack trace a logs de error
  src/app/api/runner/visits/route.ts
Owners: @rent360/frontend-team

Agregar import faltante de RunnerIncentivesService en API de admin incentives
  src/app/api/admin/incentives/route.ts
Owners: @rent360/frontend-team

feat: Integrar gestion de integraciones en settings y agregar WebSocket
  NOTIFICACIONES_RECOMENDACIONES.md
  prisma/schema.prisma
  src/app/admin/integrations/new/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/api/admin/integrations/route.ts
  src/app/api/owner/payments/[visitId]/route.ts
  src/app/api/owner/runners/[id]/assign/route.ts
  src/app/api/runner/tasks/[taskId]/route.ts
  src/app/layout.tsx
  src/app/owner/runners/page.tsx
  src/components/providers/WebSocketProvider.tsx
  src/lib/owner-payment-service.ts
Owners: @rent360/docs-team, @rent360/backend-team, @rent360/frontend-team

fix: Corregir contraste de botones y sidebar incorrecto al crear usuarios nuevos
  APLICAR_MIGRACION_MANUAL.md
  VERIFICAR_TABLA_SIMPLE.md
  VERIFICAR_TABLA_USER_REPORTS.md
  src/app/auth/register/page.tsx
  src/components/dashboard/QuickActionButton.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/docs-team, @rent360/frontend-team

feat: Implementar sistema completo de proveedor de servicios con datos reales
  src/app/api/provider/jobs/route.ts
  src/app/api/provider/profile/route.ts
  src/app/api/provider/requests/route.ts
  src/app/api/provider/services/route.ts
  src/app/api/provider/stats/route.ts
  src/app/provider/dashboard/page.tsx
  src/app/provider/earnings/page.tsx
  src/app/provider/ratings/page.tsx
  src/app/provider/requests/page.tsx
  src/app/provider/services/page.tsx
  src/app/provider/settings/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir visualización de servicios y reemplazar datos mock en provider/settings
  src/app/api/provider/services/route.ts
  src/app/auth/register/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/provider/services/page.tsx
  src/app/provider/settings/page.tsx
  src/components/auth/AuthProviderSimple.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: agregar logs de diagnóstico y reemplazar datos mock en provider/profile
  src/app/api/provider/services/route.ts
  src/app/provider/profile/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/provider/services/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

refactor: consolidar roles duplicados de proveedor con funciones helper
  src/app/api/provider/jobs/route.ts
  src/app/api/provider/profile/route.ts
  src/app/api/provider/requests/route.ts
  src/app/api/provider/services/route.ts
  src/app/api/provider/stats/route.ts
  src/app/api/provider/transactions/route.ts
  src/lib/auth.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: aceptar ambos formatos de roles de proveedor en admin y payouts
  src/app/api/admin/providers/list/route.ts
  src/app/api/admin/user-role/route.ts
  src/app/api/documents/[id]/access/route.ts
Owners: @rent360/frontend-team

fix: corregir 4 problemas en página de servicios del proveedor
  src/app/api/provider/services/[id]/route.ts
  src/app/api/provider/services/route.ts
  src/app/provider/services/[id]/edit/page.tsx
  src/app/provider/services/[id]/page.tsx
  src/app/provider/services/page.tsx
Owners: @rent360/backend-team

fix: agregar campo duration para maintenance providers en respuesta de API
  src/app/api/provider/services/route.ts
Owners: @rent360/backend-team

refactor: cambiar sistema de servicios para usar IDs únicos en lugar de nombres
  src/app/api/provider/services/[id]/route.ts
  src/app/api/provider/services/route.ts
  src/app/provider/services/[id]/edit/page.tsx
  src/app/provider/services/[id]/page.tsx
  src/app/provider/services/new/page.tsx
  src/app/provider/services/page.tsx
Owners: @rent360/backend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
