Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: Verificar configuraciones de notificaciones de usuario antes de enviar
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: Configuraciones de notificaciones no se guardaban para la mayoría de roles
  src/app/api/user/settings/route.ts
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

feat: Implementar guardado de configuraciones de notificaciones en TODOS los roles
  src/app/maintenance/settings/page.tsx
  src/app/owner/settings/page.tsx
  src/app/provider/settings/page.tsx
  src/app/tenant/settings/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos faltantes en ServiceJob para mostrar datos reales del tenant
  prisma/schema.prisma
  src/app/api/provider/requests/[id]/route.ts
  src/app/api/services/request/route.ts
  src/app/api/user/settings/route.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Agregar filtro para notificaciones de cotización
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: Corrección completa de problemas identificados
  scripts/check-user-settings.js
  src/app/api/debug/user-settings/route.ts
  src/app/tenant/service-requests/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: Correcciones finales de TypeScript para build exitoso
  src/app/api/debug/user-settings/route.ts
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir notificaciones Pusher y datos incompletos en solicitudes
  package.json
  scripts/check-service-requests.js
  src/lib/notification-service.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: corregir errores de linting y notificaciones Pusher
  package.json
  src/app/runner/earnings/page.tsx
  src/app/runner/profile/edit/page.tsx
  src/app/runner/schedule/page.tsx
  src/app/runner/tasks/page.tsx
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

fix: corregir comando de build para compatibilidad Linux/Windows
  package.json
  scripts/clean-build.js
Owners: @rent360/maintainers

fix: corregir problema de autenticación en producción
  server.ts
  src/lib/auth.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: agregar notificaciones en tiempo real al NotificationBell
  src/components/notifications/NotificationBell.tsx
Owners: @rent360/frontend-team

debug: agregar logs detallados para rastrear el flujo de notificaciones
  src/components/notifications/NotificationBell.tsx
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

debug: agregar logs detallados a RealTimeNotifications para rastrear procesamiento de notificaciones
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

debug: agregar logs críticos para identificar por qué no se muestran las notificaciones
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

debug: forzar renderizado de RealTimeNotifications para identificar el problema
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

debug: agregar indicadores visuales adicionales para verificar renderizado
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

debug: agregar try-catch correcto a RealTimeNotifications
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

debug: agregar logs detallados de carga del componente RealTimeNotifications
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

fix: eliminar bloqueo de notificaciones por configuraciones de usuario
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: agregar verificación de configuraciones GLOBALES del administrador
  scripts/check-admin-settings.js
  src/lib/notification-service.ts
Owners: @rent360/maintainers, @rent360/backend-team

fix: eliminar conexiones WebSocket duplicadas y mejorar callback de notificaciones
  src/components/auth/AuthProviderSimple.tsx
  src/components/notifications/ConnectionStatus.tsx
  src/lib/websocket/pusher-client.ts
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: implementar arquitectura CORRECTA de canales Pusher por usuario
  src/app/api/pusher/auth/route.ts
  src/lib/notification-service.ts
  src/lib/websocket/pusher-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: agregar forwarding de eventos Pusher al socket-client
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: agregar validaciones robustas para prevenir error React #185
  src/lib/websocket/socket-client.ts
Owners: @rent360/backend-team

fix: eliminar validación de userId en NotificationBell
  src/components/notifications/NotificationBell.tsx
Owners: @rent360/frontend-team

fix: resolver error React #185 en RealTimeNotifications
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

fix: timestamp consistente en NotificationService
  src/lib/notification-service.ts
Owners: @rent360/backend-team

fix: resolver duplicación de notificaciones y error React #185
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

feat: mejorar UI de notificaciones estilo Android y resolver duplicación
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

feat: mejoras completas en notificaciones con tema emerald
  src/components/layout/UnifiedSidebar.tsx
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/websocket/socket-client.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: mejoras en notificaciones y sistema de mensajes
  src/app/api/messages/route.ts
  src/components/notifications/RealTimeNotifications.tsx
  src/lib/user-rating-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: corregir scroll y botón 'Limpiar todas' en modal notificaciones
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

fix: corregir contención del modal de notificaciones
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

fix: corregir scroll del modal de notificaciones - usar CSS nativo
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

feat: mejorar layout del modal de notificaciones con flexbox
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

feat: mejoras en API de ratings y limpieza de debug
  src/app/api/ratings/route.ts
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

feat: mejoras masivas en dashboards, ratings y reportes
  src/app/api/broker/dashboard/route.ts
  src/app/api/provider/dashboard/route.ts
  src/app/api/provider/stats/route.ts
  src/app/api/runner/dashboard/route.ts
  src/app/api/runner/profile/route.ts
  src/app/api/runner/reports/route.ts
  src/app/broker/ratings/page.tsx
  src/app/maintenance/ratings/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/provider/ratings/page.tsx
  src/app/runner/ratings/page.tsx
  src/app/runner/reports/performance/page.tsx
  src/components/layout/UnifiedSidebar.tsx
  src/lib/runner-reports-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Mejoras en sistema de calificaciones, notificaciones y UI de gestión de trabajos
  src/app/api/provider/clients/route.ts
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/provider/services/[id]/route.ts
  src/app/api/provider/services/route.ts
  src/app/provider/clients/page.tsx
  src/app/provider/jobs/[id]/page.tsx
  src/app/provider/services/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

Correcciones: IDs de servicios, página de detalles de cliente y estadísticas
  src/app/api/provider/services/route.ts
  src/app/provider/clients/[clientId]/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team
