Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

Fix: verify-email endpoint - remove non-existent fields and use logger; simplify verification to emailVerified flag
  src/app/api/auth/verify-email/route.ts
Owners: @rent360/frontend-team

Fix: use AuditService.logUpdate in verify-email and switch logger-edge->logger in audit service
  src/app/api/auth/verify-email/route.ts
  src/lib/audit.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Fix: broker commissions endpoint - cast error as Error and use logger (no edge)
  src/app/api/broker/commissions/route.ts
Owners: @rent360/frontend-team

Fix: import logger in contracts [id] endpoint
  src/app/api/contracts/[id]/route.ts
Owners: @rent360/frontend-team

Fix: contracts endpoint - align roles with strings for providers, switch logger, cast errors
  src/app/api/contracts/route.ts
Owners: @rent360/frontend-team

Fix: contracts endpoint - use handleApiError instead of undefined handleError
  src/app/api/contracts/route.ts
Owners: @rent360/frontend-team

Fix: contracts PUT - map validatedData to Prisma fields and include only defined values (exactOptionalPropertyTypes)
  src/app/api/contracts/route.ts
Owners: @rent360/frontend-team

Fix: signatures endpoint - normalize DIGITAL to ADVANCED, add typing for providers, use logger and typed handleError
  src/app/api/contracts/sign/route.ts
Owners: @rent360/frontend-team

Fix: deposits refunds approve - replace Prisma ApprovalType import with string union type
  src/app/api/deposits/refunds/[id]/approve/route.ts
Owners: @rent360/frontend-team

Fix: refund approval creation - map undefined comments to null for Prisma
  src/app/api/deposits/refunds/[id]/approve/route.ts
Owners: @rent360/frontend-team

Fix: refund disputes endpoint - replace Prisma DisputeStatus import with string union type
  src/app/api/deposits/refunds/[id]/disputes/[disputeId]/route.ts
Owners: @rent360/frontend-team

Fix: refund disputes routes - replace Prisma DisputeType/Status imports with local union types and z.enum
  src/app/api/deposits/refunds/[id]/disputes/route.ts
Owners: @rent360/frontend-team

Fix: replace Prisma enums (DocumentType, RefundStatus) with local unions and z.enum; switch logger
  src/app/api/deposits/refunds/[id]/documents/route.ts
  src/app/api/deposits/refunds/route.ts
Owners: @rent360/frontend-team

Fix: use null instead of undefined for optional fields in refundDocument.create
  src/app/api/deposits/refunds/[id]/documents/route.ts
Owners: @rent360/frontend-team

Fix: use null instead of undefined for optional fields in payment and legal cases
  src/app/api/admin/deposit-refunds/[id]/route.ts
  src/app/api/deposits/refunds/[id]/process/route.ts
  src/app/api/legal/cases/[id]/court-proceedings/route.ts
  src/app/api/legal/cases/route.ts
Owners: @rent360/frontend-team

Fix: replace Prisma enum imports with local type definitions
  src/app/api/deposits/refunds/[id]/route.ts
  src/app/api/payments/khipu/create/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/types.ts
  src/types/generated.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir errores de exactOptionalPropertyTypes y logger imports
  src/app/api/deposits/refunds/[id]/route.ts
  src/app/api/payments/route.ts
  src/app/api/users/route.ts
Owners: @rent360/frontend-team

fix: Corregir errores de exactOptionalPropertyTypes y imports
  src/app/api/deposits/refunds/[id]/route.ts
  src/app/api/payments/route.ts
  src/app/api/users/route.ts
  src/lib/errors.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir schemas de Zod con default después de transform
  src/app/api/deposits/refunds/route.ts
  src/app/api/legal/cases/route.ts
  src/app/api/signatures/route.ts
  src/app/api/support/legal-cases/route.ts
Owners: @rent360/frontend-team

fix: Corregir índices incorrectos en validación de archivos
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Resolver error de TypeScript en validación de archivos
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Agregar verificaciones de seguridad en procesamiento de archivos
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Remover campo 'metadata' inexistente del modelo Document
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Agregar campo 'validation' al tipo de uploadedFiles
  src/app/api/documents/upload/route.ts
Owners: @rent360/frontend-team

fix: Corregir error de exactOptionalPropertyTypes en extrajudicial notices
  src/app/api/legal/cases/[id]/extrajudicial/route.ts
Owners: @rent360/frontend-team

fix: Corregir error de exactOptionalPropertyTypes en maintenance requests
  src/app/api/maintenance/route.ts
Owners: @rent360/frontend-team

fix: Corregir tipo de argumento en logger.error() en ML route
  src/app/api/ml/route.ts
Owners: @rent360/frontend-team

fix: Corregir llamadas a logger.error para usar formato Record
  src/app/api/ml/route.ts
Owners: @rent360/frontend-team

fix: Corregir error de exactOptionalPropertyTypes en ML property data
  src/app/api/ml/route.ts
Owners: @rent360/frontend-team

fix: Corregir llamada logger.error faltante en ML route
  src/app/api/ml/route.ts
Owners: @rent360/frontend-team

fix: Agregar importación faltante del logger y actualizar handleError
  src/app/api/notifications/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir logger y handleError en /api/notifications/route.ts
  src/app/api/notifications/route.ts
Owners: @rent360/frontend-team

fix: Corregir uso de PaymentStatus como enum en lugar de tipo
  scripts/fix-final-errors.js
  src/app/api/payments/khipu/create/route.ts
  src/app/api/payments/khipu/notify/route.ts
  src/app/api/payments/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir consulta where con valores undefined en khipu notify
  src/app/api/payments/khipu/notify/route.ts
Owners: @rent360/frontend-team

fix: Corregir actualización de pago con transactionId opcional en khipu notify
  src/app/api/payments/khipu/notify/route.ts
Owners: @rent360/frontend-team

fix: Corregir acceso a payment.id fuera del scope de null check
  src/app/api/payments/khipu/notify/route.ts
Owners: @rent360/frontend-team

fix: Recrear líneas problemáticas para corregir errores de sintaxis
  src/app/api/payments/khipu/notify/route.ts
Owners: @rent360/frontend-team

fix: Recrear archivo khipu notify route con sintaxis corregida
  src/app/api/payments/khipu/notify/route.ts.backup
Owners: @rent360/frontend-team

feat: Agregar roles MAINTENANCE_PROVIDER y SERVICE_PROVIDER al enum UserRole
  src/app/api/payments/route.ts
  src/types.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir creación de pago con propiedad method opcional
  src/app/api/payments/route.ts
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
