Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

debug(images): agregar logging detallado en subida de imágenes para diagnosticar por qué archivos no se guardan físicamente
  src/app/api/properties/[id]/images/route.ts
Owners: @rent360/frontend-team

debug(images): agregar logging detallado en frontend y backend para diagnosticar subida de imágenes
  src/app/api/properties/[id]/images/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
Owners: @rent360/frontend-team

debug(images): agregar logging detallado en API de subida de imágenes para diagnosticar por qué archivos no se guardan físicamente
  check-property-images.js
  public/uploads/properties/cmgso8wv00003p5qwva17zrmn/test_upload_1760963912266_e8sb59a3uk.png
  src/app/api/properties/[id]/images/route.ts
  test-image-upload.js
Owners: @rent360/maintainers, @rent360/frontend-team

debug(images): agregar logs detallados en frontend para rastrear flujo completo de subida de imágenes
  check-property-images.js
  public/uploads/properties/cmgso8wv00003p5qwva17zrmn/test_upload_1760963912266_e8sb59a3uk.png
  src/app/api/properties/[id]/images/route.ts
  src/app/owner/properties/[propertyId]/edit/page.tsx
  test-image-upload.js
Owners: @rent360/maintainers, @rent360/frontend-team

fix(build): corregir error TypeScript 'file is possibly undefined'
  src/app/api/properties/[id]/images/route.ts
Owners: @rent360/frontend-team

debug(images): agregar logs adicionales para rastrear selección de archivos y estado de newImages
  src/app/owner/properties/[propertyId]/edit/page.tsx
Owners: @rent360/frontend-team

debug(images): agregar información de debug visual más clara en la UI
  src/app/owner/properties/[propertyId]/edit/page.tsx
Owners: @rent360/frontend-team

fix: Corregir errores de TypeScript en archivos de admin y crear pÃ¡gina de ediciÃ³n de usuarios
  fix-params.ps1
  src/app/admin/contracts/[contractId]/edit/page.tsx
  src/app/admin/contracts/[contractId]/page.tsx
  src/app/admin/maintenance/[requestId]/page.tsx
  src/app/admin/properties/[id]/edit/page.tsx
  src/app/admin/properties/[id]/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/tickets/[id]/page.tsx
  src/app/admin/users/[id]/edit/page.tsx
  src/app/admin/users/[id]/page.tsx
  src/app/api/users/[id]/route.ts
  src/app/broker/appointments/[appointmentId]/edit/page.tsx
  src/app/owner/properties/[propertyId]/edit/page.tsx
  src/pages/_error.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: Corregir todos los errores de TypeScript restantes
  fix-params.js
  src/app/broker/appointments/[appointmentId]/page.tsx
  src/app/broker/clients/[clientId]/edit/page.tsx
  src/app/broker/clients/[clientId]/page.tsx
  src/app/broker/clients/prospects/[prospectId]/page.tsx
  src/app/broker/contracts/[contractId]/page.tsx
  src/app/broker/maintenance/[id]/page.tsx
  src/app/broker/messages/page.tsx
  src/app/broker/properties/[propertyId]/page.tsx
  src/app/broker/viewings/new/page.tsx
  src/app/client/rate-service/[jobId]/page.tsx
  src/app/owner/messages/chat-page.tsx
  src/app/owner/properties/[propertyId]/page.tsx
  src/app/owner/properties/[propertyId]/virtual-tour/page.tsx
  src/app/owner/tenants/[tenantId]/edit/page.tsx
  src/app/owner/tenants/[tenantId]/page.tsx
  src/app/properties/[id]/page.tsx
  src/app/provider/[providerId]/ratings/page.tsx
  src/app/provider/payments/[paymentId]/page.tsx
  src/app/provider/requests/[id]/page.tsx
  src/app/provider/services/[id]/edit/page.tsx
  src/app/provider/services/[id]/page.tsx
  src/app/rate/provider/[providerId]/page.tsx
  src/app/runner/payments/[paymentId]/page.tsx
  src/app/runner/tasks/[taskId]/page.tsx
  src/app/support/properties/[propertyId]/page.tsx
  src/app/support/tickets/[id]/page.tsx
  src/app/tenant/payments/[paymentId]/page.tsx
  src/app/tenant/payments/[paymentId]/pay/page.tsx
  src/components/LanguageSelector.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

cleanup: Eliminar archivos temporales de scripts de correcciÃ³n
  fix-params.js
  fix-params.ps1
Owners: @rent360/maintainers

fix: Resolver errores de imÃ¡genes 404 y owner undefined
  fix-missing-owners.js
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
  src/app/api/uploads/[...path]/route.ts
Owners: @rent360/maintainers, @rent360/frontend-team

feat: Implementar sistema completo de cloud storage para imÃ¡genes
  CLOUD_STORAGE_MIGRATION_README.md
  cloud-storage-config.example
  fix-missing-owners.js
  migrate-images-to-cloud.js
  src/app/api/properties/[id]/images/route-cloud.ts
  src/lib/cloud-storage.ts
Owners: @rent360/docs-team, @rent360/maintainers, @rent360/frontend-team, @rent360/backend-team

feat: ConfiguraciÃ³n completa de DigitalOcean Spaces para cloud storage
  configure-do-spaces.js
  digitalocean-spaces-setup.txt
  setup-digitalocean-spaces.js
  src/lib/cloud-storage.ts
  test-cloud-connection.js
Owners: @rent360/maintainers, @rent360/backend-team

fix: Corregir error de TypeScript en cloud-storage.ts - Manejar endpoint opcional correctamente - Resolver error de build en produccion
  src/lib/cloud-storage.ts
Owners: @rent360/backend-team

fix: Agregar fallback para subida de imagenes - Implementar almacenamiento local como fallback - Resolver error 500 en subida de imagenes - Script para verificar configuracion de cloud storage
  check-cloud-config.js
  src/app/api/properties/[id]/images/route-fallback.ts
Owners: @rent360/maintainers, @rent360/frontend-team

feat: Scripts para limpiar URLs de imagenes rotas - Resolver errores de carga de imagenes - Mantener solo URLs validas de cloud storage - Mejorar experiencia de usuario
  clean-all-broken-images.js
  clean-broken-images.js
  configure-production-env.js
  debug-image-issue.js
Owners: @rent360/maintainers

fix: Corregir renderizado de imagenes en admin - Eliminar JSON.parse innecesario - Agregar logging para debug - Mejorar manejo de errores de carga
  src/app/admin/properties/[id]/page.tsx
Owners: @rent360/frontend-team

fix: Corregir error de TypeScript en renderizado de imagenes - Manejar tanto array como string para property.images - Resolver error de build en produccion
  src/app/admin/properties/[id]/page.tsx
Owners: @rent360/frontend-team

feat: Agregar scripts de debug para imagenes - Scripts para verificar subidas recientes - Scripts para probar acceso a cloud storage - Herramientas de diagnostico
  check-recent-uploads.js
  test-cloud-images.js
Owners: @rent360/maintainers

fix: Corregir filtrado de imagenes en APIs - Mantener URLs de cloud storage sin filtrar - Solo filtrar URLs locales que no existen - Resolver problema de imagenes no mostradas
  src/app/api/properties/[id]/route.ts
  src/app/api/properties/list/route.ts
Owners: @rent360/frontend-team

fix: Corregir import duplicado de Shield en owner properties new - Eliminar import duplicado que causaba error de build - Resolver error de compilaciÃ³n en producciÃ³n
  src/app/owner/properties/new/page.tsx
Owners: @rent360/frontend-team

fix: Eliminar referencias restantes a sidebarStats para corregir error de build
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Fix: Corregir funcionalidad de mensajes en todos los roles y chatbot
  src/app/admin/messages/page.tsx
  src/app/maintenance/messages/page.tsx
  src/app/owner/messages/chat-page.tsx
  src/app/provider/messages/page.tsx
  src/app/runner/messages/page.tsx
  src/app/support/messages/page.tsx
  src/components/ai/Chatbot.tsx
Owners: @rent360/frontend-team

fix: Corregir funcionalidades del proveedor
  src/app/owner/contracts/page.tsx
  src/app/owner/ratings/page.tsx
  src/app/properties/[id]/page.tsx
  src/app/provider/dashboard/page.tsx
  src/app/provider/profile/page.tsx
  src/app/provider/requests/[id]/page.tsx
  src/app/services/request/page.tsx
  src/app/tenant/advanced-search/page.tsx
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir error 400 en API de mensajes
  src/app/api/messages/route.ts
Owners: @rent360/frontend-team

fix: Re-habilitar middleware de autenticaciÃ³n para APIs crÃ­ticas
  src/app/api/messages/route.ts
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Actualizar API de mensajes con cambios pendientes
  src/app/api/messages/route.ts
Owners: @rent360/frontend-team

fix: Corregir problema de autenticaciÃ³n en APIs de mensajerÃ­a
  src/app/api/messages/conversations/route.ts
  src/app/api/messages/route.ts
  src/middleware/auth.ts
Owners: @rent360/frontend-team, @rent360/maintainers

fix: Corregir error 400 en envÃ­o de mensajes
  src/app/tenant/messages/page.tsx
Owners: @rent360/frontend-team

fix: Corregir sistema de mensajerÃ­a para todos los roles
  src/app/maintenance/messages/page.tsx
  src/app/runner/messages/page.tsx
Owners: @rent360/frontend-team

Fix: Corregir problemas de mensajerÃ­a y implementar sistema de tickets de soporte
  src/app/api/auth/login/route.ts
  src/app/api/messages/route.ts
  src/app/api/support/tickets/[ticketId]/responses/route.ts
  src/app/api/support/tickets/route.ts
  src/app/broker/dashboard/page.tsx
  src/app/maintenance/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/runner/dashboard/page.tsx
  src/app/support/tickets/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/lib/security/input-validator.ts
Owners: @rent360/frontend-team, @rent360/security-team

feat: Estandarizar sistema de mensajerÃ­a y corregir funcionalidad de tickets
  src/app/admin/messages/page.tsx
  src/app/api/messages/conversations/route.ts
  src/app/api/messages/route.ts
  src/app/api/support/tickets/[ticketId]/responses/route.ts
  src/app/api/support/tickets/route.ts
  src/app/broker/messages/page.tsx
  src/app/maintenance/messages/page.tsx
  src/app/owner/messages/page.tsx
  src/app/provider/messages/page.tsx
  src/app/runner/messages/page.tsx
  src/app/support/messages/page.tsx
  src/app/support/tickets/page.tsx
  src/app/tenant/messages/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
  src/middleware.ts
Owners: @rent360/frontend-team, @rent360/maintainers

cleanup: Eliminar archivos residuales del sistema de mensajerÃ­a anterior
  src/app/owner/messages/chat-page.tsx
  src/app/owner/messages/page-new-clean.tsx
  src/app/owner/messages/page-new.tsx
  src/app/runner/messages/new/page.tsx
  src/components/chat/RealTimeChat.tsx
  src/lib/chat/chat-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

fix: Corregir problemas de autenticaciÃ³n en el sistema de mensajerÃ­a
  src/middleware/auth.ts
Owners: @rent360/maintainers

debug: Agregar logging detallado para investigar problema de autenticaciÃ³n
  src/app/api/messages/conversations/route.ts
  src/app/api/messages/route.ts
  src/middleware/auth.ts
Owners: @rent360/frontend-team, @rent360/maintainers

debug: Agregar logging detallado al middleware principal
  src/middleware.ts
Owners: @rent360/maintainers

fix: Corregir matcher del middleware para incluir rutas de API de mensajerÃ­a
  src/middleware.ts
Owners: @rent360/maintainers

fix: Corregir middleware de autenticaciÃ³n para decodificar JWT correctamente
  src/middleware.ts
Owners: @rent360/maintainers

fix: Corregir decodificaciÃ³n JWT en middleware usando Buffer en lugar de atob
  src/middleware/auth.ts
Owners: @rent360/maintainers

feat: Mejora completa del sistema de autenticaciÃ³n y mensajerÃ­a
  init-db.js
  src/middleware-backup.ts
  src/middleware.ts
  src/middleware/auth.ts
Owners: @rent360/maintainers

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
