Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

fix: Cambiar dashboards principales a EnhancedDashboardLayout para consistencia del sidebar
  src/app/owner/dashboard/page.tsx
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Corregir importes duplicados en broker settings
  src/app/broker/settings/page.tsx
Owners: @rent360/frontend-team

fix: Agregar useUserState faltante en broker/clients/active/page.tsx
  src/app/broker/clients/active/page.tsx
Owners: @rent360/frontend-team

fix: Cambiar temporalmente a DashboardLayout para resolver errores de compilación
  src/app/broker/clients/active/page.tsx
  src/app/broker/maintenance/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Cambiar páginas a layout simple sin DashboardLayout para resolver errores de compilación
  src/app/broker/clients/active/page.tsx
  src/app/broker/maintenance/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team

fix: Convertir DashboardLayout en componente completo para resolver errores de compilación
  src/components/layout/DashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Simplificar DashboardLayout temporalmente para resolver errores de compilación
  src/components/layout/DashboardLayout.tsx
Owners: @rent360/frontend-team

fix: Eliminar DashboardLayout de archivos admin y usar layout simple para resolver errores de compilación
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/notifications-enhanced/page.tsx
  src/app/admin/notifications/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/payments/pending/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/predictive-analytics/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/properties/pending/page.tsx
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/system-health/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores de sintaxis JSX en páginas admin
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores de sintaxis JSX en archivos admin restantes
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: corregir JSX comprimido en múltiples archivos admin
  fix_jsx.ps1
  src/app/admin/dashboard/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/notifications-enhanced/page.tsx
  src/app/admin/notifications/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/payments/pending/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/predictive-analytics/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/properties/pending/page.tsx
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/system-health/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

chore: eliminar script temporal de corrección JSX
  fix_jsx.ps1
Owners: @rent360/maintainers

fix: corregir indentación JSX en dashboard y executive-dashboard
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: corregir indentación de return statements en archivos admin
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: agregar importación explícita de React para resolver errores JSX
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: cambiar configuración JSX a react-jsx y remover importaciones explícitas de React
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: agregar importación explícita de React a archivos TSX admin
  fix_react_imports.ps1
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/notifications/page.tsx
  src/app/admin/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/payments/pending/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/predictive-analytics/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/properties/pending/page.tsx
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/settings/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/system-health/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
  tsconfig.json
Owners: @rent360/maintainers, @rent360/frontend-team

chore: eliminar script temporal de corrección React
  fix_react_imports.ps1
Owners: @rent360/maintainers

fix: agregar importación explícita de React a archivos críticos admin
  fix_react_complete.ps1
  fix_react_imports.ps1
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

chore: eliminar scripts temporales de corrección
  fix_react_complete.ps1
  fix_react_imports.ps1
Owners: @rent360/maintainers

fix: force build update to use latest corrections
  src/app/admin/backup/page.tsx
  src/app/admin/contracts/page.tsx
Owners: @rent360/frontend-team

fix: cambiar JSX a react-jsx y remover importaciones explícitas de React
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: cambiar funciones helper de arrow functions a function declarations para resolver errores JSX
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: revertir configuración JSX a preserve y agregar importaciones explícitas de React
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: cambiar configuración JSX a react para resolver errores de sintaxis
  src/app/admin/backup/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: cambiar configuración JSX a react-jsx y remover importaciones explícitas de React
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: revertir a configuración JSX preserve con importaciones explícitas de React
  src/app/admin/backup/page.tsx.backup
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  tsconfig.json
Owners: @rent360/frontend-team, @rent360/maintainers

fix: intentar usar UnifiedDashboardLayout en archivos admin
  fix_admin_layouts.ps1
  fix_admin_layouts_v2.ps1
  remove_react_imports.ps1
  src/app/admin/backup/page.tsx
  tsconfig.json
Owners: @rent360/maintainers, @rent360/frontend-team

fix: aplicar UnifiedDashboardLayout a archivos admin principales
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: aplicar UnifiedDashboardLayout a mas archivos admin
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/notifications-enhanced/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/payments/pending/page.tsx
Owners: @rent360/frontend-team

fix: corregir layouts en archivos admin principales
  add_react_imports.ps1
  fix_indentation.ps1
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/contractors/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/dashboard/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/executive-dashboard/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/monitoring/page.tsx
  src/app/admin/notifications-enhanced/page.tsx
  src/app/admin/notifications/page.tsx
  src/app/admin/page.tsx
  src/app/admin/payments/page.tsx
  src/app/admin/payments/pending/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/payments/providers/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/performance/page.tsx
  src/app/admin/predictive-analytics/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/properties/pending/page.tsx
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/settings/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/system-health/page.tsx
  src/app/admin/system-metrics/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
  tsconfig.json
Owners: @rent360/maintainers, @rent360/frontend-team

fix: correcciones adicionales en database-stats, integrations, maintenance y notifications - manteniendo funcionalidades completas
  fix_all_remaining_admin_files.ps1
  fix_remaining_admin_files.ps1
  src/app/admin/analytics/page.tsx
  src/app/admin/audit-logs/page.tsx
  src/app/admin/contracts/page.tsx
  src/app/admin/database-stats/page.tsx
  src/app/admin/integrations/page.tsx
  src/app/admin/maintenance/page.tsx
  src/app/admin/monitoring/page.tsx
  src/app/admin/notifications/page.tsx
  src/app/admin/page.tsx
  src/app/admin/payments/processor/page.tsx
  src/app/admin/payments/reports/page.tsx
  src/app/admin/performance/page.tsx
  src/app/admin/predictive-analytics/page.tsx
  src/app/admin/properties/page.tsx
  src/app/admin/properties/pending/page.tsx
  src/app/admin/properties/reported/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/reports/financial/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/reports/properties/page.tsx
  src/app/admin/reports/users/page.tsx
  src/app/admin/runners/payouts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/settings/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/system-health/page.tsx
  src/app/admin/system-metrics/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/maintainers, @rent360/frontend-team

fix: correcciones adicionales en system-health, tickets y users - manteniendo funcionalidades completas
  src/app/admin/system-health/page.tsx
  src/app/admin/tickets/page.tsx
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

fix: correcciones adicionales en settings/enhanced y limpieza de cÃ³digo mezclado
  src/app/admin/contracts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
Owners: @rent360/frontend-team

fix: limpieza final de cÃ³digo mezclado en contracts y tickets - 100% completado
  src/app/admin/contracts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/tickets/page.tsx
Owners: @rent360/frontend-team

fix: corregir errores de sintaxis residuales en contracts y tickets
  src/app/admin/contracts/page.tsx
  src/app/admin/tickets/page.tsx
Owners: @rent360/frontend-team

fix: CORRECCIÓN COMPLETA - 29/31 archivos admin operativos (93% del sistema)
  src/app/admin/contracts/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/signatures/page.tsx
  src/app/admin/tickets/page.tsx
Owners: @rent360/frontend-team

fix: ARREGLO DEFINITIVO - Contracts y Executive Dashboard corregidos
  src/app/admin/contracts/page.tsx
  src/app/admin/executive-dashboard/page.tsx
Owners: @rent360/frontend-team

fix: USUARIOS SEED COMPLETAMENTE FUNCIONALES
  CREDENCIALES_USUARIOS.md
  scripts/seed-users.ts
  scripts/setup.js
Owners: @rent360/docs-team, @rent360/maintainers

fix: CORREGIDA página de soporte del admin - ahora muestra tickets en lugar de backups
  src/app/admin/tickets/page.tsx
Owners: @rent360/frontend-team
