Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team

feat: Implementar pagos cliente-proveedor y visualización de documentos aprobados
  src/app/api/client/payments/[serviceJobId]/route.ts
  src/app/api/provider/jobs/[id]/progress/route.ts
  src/app/api/service-providers/[id]/route.ts
  src/app/api/services/request/route.ts
  src/app/provider/[providerId]/ratings/page.tsx
  src/app/tenant/broker-services/page.tsx
  src/lib/client-payment-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: Corregir flujo completo de pagos cliente-proveedor con sistema de payouts
  src/lib/client-payment-service.ts
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

feat: Implementar solicitud de visitas Runner360 y visualización de documentos del inquilino
  src/app/api/owner/visits/pending/route.ts
  src/app/api/tenant/[tenantId]/documents/route.ts
  src/app/api/tenant/visits/request/route.ts
  src/app/owner/visits/page.tsx
  src/app/page.tsx
  src/app/properties/[id]/page.tsx
  src/app/tenant/advanced-search/page.tsx
  src/components/ai/Chatbot.tsx
  src/lib/ai-chatbot-service.ts
  src/lib/ai-training-data.ts
Owners: @rent360/frontend-team, @rent360/backend-team

feat: Implementar gestión completa de visitas Runner360 para propietarios y brokers
  src/app/api/broker/runners/route.ts
  src/app/api/owner/visits/pending/route.ts
  src/app/api/visits/[visitId]/assign-runner/route.ts
  src/app/api/visits/[visitId]/reject/route.ts
  src/app/api/visits/[visitId]/self-assign/route.ts
  src/app/broker/visits/page.tsx
Owners: @rent360/frontend-team

chore: Eliminar API /api/broker/runners no utilizada - Los brokers no pueden asignar runners del sistema - Esta API fue creada pero nunca se utiliza - Eliminada para mantener el código limpio
  src/app/api/broker/runners/route.ts
Owners: @rent360/frontend-team

fix: Convertir página principal en Client Component para corregir error de build
  src/app/page.tsx
Owners: @rent360/frontend-team

feat: Implementar actividad reciente real en dashboards
  src/app/api/tenant/dashboard/route.ts
  src/app/broker/dashboard/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

fix: Corregir múltiples problemas en flujo de solicitud de visitas
  src/app/api/documents/[id]/access/route.ts
  src/app/api/tenant/[tenantId]/documents/route.ts
  src/app/api/tenant/visits/request/route.ts
  src/app/broker/visits/page.tsx
  src/app/owner/visits/page.tsx
  src/app/properties/[id]/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Fix: Correcciones en sistema de visitas y documentos
  src/app/api/broker/visits/history/route.ts
  src/app/api/owner/visits/history/route.ts
  src/app/api/tenant/visits/scheduled/route.ts
  src/app/api/visits/[visitId]/assign-runner/route.ts
  src/app/api/visits/[visitId]/self-assign/route.ts
  src/app/broker/visits/page.tsx
  src/app/owner/visits/page.tsx
  src/app/tenant/dashboard/page.tsx
Owners: @rent360/frontend-team

Fix: Reorganizar card de visitas programadas y cerrar modal de notificaciones al hacer clic fuera
  src/app/tenant/dashboard/page.tsx
  src/components/notifications/RealTimeNotifications.tsx
Owners: @rent360/frontend-team

Corregir títulos duplicados en todas las páginas - Eliminar headers redundantes para vista más limpia
  src/app/broker/dashboard/page.tsx
  src/app/broker/properties/page.tsx
  src/app/broker/settings/page.tsx
  src/app/broker/tickets/page.tsx
  src/app/maintenance/tickets/page.tsx
  src/app/owner/dashboard/page.tsx
  src/app/owner/properties/page.tsx
  src/app/owner/settings/page.tsx
  src/app/owner/tickets/page.tsx
  src/app/provider/tickets/page.tsx
  src/app/runner/incentives/page.tsx
  src/app/runner/tickets/page.tsx
  src/app/tenant/dashboard/page.tsx
  src/app/tenant/tickets/page.tsx
Owners: @rent360/frontend-team

Corregir múltiples problemas: botones duplicados, acciones rápidas, estados propiedades, vistas/consultas, recomendaciones, recarga silenciosa y flujo completo para inquilinos
  src/app/api/broker/dashboard/route.ts
  src/app/api/broker/discover/recommendations/route.ts
  src/app/api/broker/properties/route.ts
  src/app/api/service-requests/[requestId]/responses/[responseId]/route.ts
  src/app/broker/dashboard/page.tsx
  src/app/owner/payments/page.tsx
  src/app/tenant/broker-services/page.tsx
Owners: @rent360/frontend-team

Corregir layout de acciones rápidas del broker - Ajustar grid y tamaño de texto para evitar superposición
  src/app/broker/dashboard/page.tsx
  src/components/dashboard/QuickActionButton.tsx
Owners: @rent360/frontend-team

Corregir múltiples problemas del broker: layout acciones rápidas, métricas reales, documentos clientes, botón mensaje, nuevos este mes y funcionalidad compartir propiedades
  src/app/api/broker/clients/[clientId]/route.ts
  src/app/api/broker/clients/[clientId]/share-property/route.ts
  src/app/api/broker/dashboard/route.ts
  src/app/broker/clients/page.tsx
  src/app/broker/dashboard/page.tsx
Owners: @rent360/frontend-team

Implementar flujo completo de compartir propiedades: UI en broker/clients, visualización mejorada de mensajes PROPERTY_SHARE, tracking de enlaces compartidos, y banner en propiedades compartidas
  src/app/api/broker/clients/[clientId]/share-property/route.ts
  src/app/api/properties/[id]/track-share/route.ts
  src/app/api/users/[id]/route.ts
  src/app/broker/clients/[clientId]/page.tsx
  src/app/properties/[id]/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

Corregir problemas de compartir propiedades: permitir propiedades gestionadas, mejorar card visual y agregar notificaciones
  src/app/api/broker/clients/[clientId]/share-property/route.ts
  src/app/api/messages/route.ts
  src/app/broker/clients/[clientId]/page.tsx
  src/components/messaging/UnifiedMessagingSystem.tsx
Owners: @rent360/frontend-team

Mejorar rutas de mantenimiento: eliminar datos hardcodeados, reorganizar layouts, agregar cuenta bancaria y mejorar configuración de servicios
  src/app/api/maintenance/jobs/route.ts
  src/app/api/maintenance/reports/route.ts
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/jobs/page.tsx
  src/app/maintenance/ratings/page.tsx
  src/app/maintenance/reports/page.tsx
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

Correcciones para rol MAINTENANCE: API properties, analytics earnings, documentos reales, facturación y acceso a mensajes desde sidebar
  src/app/api/maintenance/earnings/analytics/route.ts
  src/app/api/maintenance/properties/route.ts
  src/app/maintenance/earnings/page.tsx
  src/app/maintenance/settings/page.tsx
  src/components/layout/UnifiedSidebar.tsx
Owners: @rent360/frontend-team

Crear página específica de configuración bancaria para mantenimiento y corregir redirecciones
  src/app/maintenance/payments/configure/page.tsx
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

Corregir ProviderPayoutsService para usar configuraciones del admin en lugar de valores hardcodeados
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

Corregir valores hardcodeados de comisiones en todas las APIs de providers para usar configuraciones del admin
  src/app/api/payments/provider/route.ts
  src/app/api/provider/stats/route.ts
  src/app/api/provider/transactions/route.ts
  src/lib/client-payment-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Corregir error de tipos en logger.error de provider-payouts-service
  src/lib/provider-payouts-service.ts
Owners: @rent360/backend-team

Implementar flujo completo de mantenimiento con sistema de cotizaciones
  src/app/api/maintenance/[id]/quote/approve/route.ts
  src/app/api/maintenance/[id]/quote/reject/route.ts
  src/app/api/maintenance/[id]/quote/route.ts
  src/app/api/maintenance/[id]/schedule-visit/route.ts
  src/app/api/maintenance/jobs/route.ts
  src/app/maintenance/jobs/page.tsx
  src/app/owner/maintenance/new/page.tsx
  src/app/owner/maintenance/page.tsx
  src/lib/notification-service.ts
Owners: @rent360/frontend-team, @rent360/backend-team

Corregir endpoint de mantenimiento para manejar FormData y subir imágenes
  src/app/api/maintenance/route.ts
Owners: @rent360/frontend-team

Corregir endpoint de proveedores disponibles y cambiar color del botón a verde esmeralda
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

Corregir guardado de configuraciones de mantenimiento y agregar filtro de ubicación
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/provider/profile/route.ts
  src/app/maintenance/settings/page.tsx
  src/app/owner/maintenance/page.tsx
Owners: @rent360/frontend-team

Mejora en filtrado de proveedores de mantenimiento: soporte para mÃºltiples estados, mejor manejo de especialidades y disponibilidad
  src/app/api/maintenance/[id]/available-providers/route.ts
Owners: @rent360/frontend-team

Mejora en filtrado de proveedores de mantenimiento: mapeo expandido de categorÃ­as, normalizaciÃ³n de strings y logging detallado para diagnÃ³stico
  ANALISIS_INCONSISTENCIA_ESPECIALIDADES.md
  ANALISIS_PROVEEDORES_MANTENIMIENTO.md
  src/app/api/maintenance/[id]/available-providers/route.ts
Owners: @rent360/docs-team, @rent360/frontend-team

SoluciÃ³n completa: Proveedores no verificados - Endpoint de verificaciÃ³n automÃ¡tica, mejoras en diagnÃ³stico y mensajes informativos en frontend
  SOLUCION_PROVEEDORES_NO_VERIFICADOS.md
  src/app/api/admin/providers/auto-verify/route.ts
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/owner/maintenance/page.tsx
Owners: @rent360/docs-team, @rent360/frontend-team

ActualizaciÃ³n: mejoras en admin, eliminaciÃ³n de providers duplicados y correcciones en rutas API
  CHECKLIST_SIDEBAR_RUTAS.md
  src/app/admin/maintenance/page.tsx
  src/app/admin/providers/new/page.tsx
  src/app/admin/providers/page.tsx
  src/app/admin/settings/enhanced/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/admin/providers/list/route.ts
  src/app/api/auth/register-provider/route.ts
  src/app/api/users/route.ts
Owners: @rent360/docs-team, @rent360/frontend-team

Fix: Corregir error en botÃ³n de aprobaciÃ³n de usuarios y agregar botÃ³n para ver detalles completos
  src/app/admin/users/page.tsx
Owners: @rent360/frontend-team

feat: implementar pagina completa de detalle de usuario para admin
  src/app/admin/users/[id]/page.tsx
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

Mejora vista de detalles de usuario: biografÃ­a parseada, documentos, calificaciones y propiedades
  src/app/admin/users/[id]/page.tsx
  src/app/api/users/[id]/route.ts
Owners: @rent360/frontend-team

ActualizaciÃ³n: cambios en providers y register routes
  src/app/api/admin/providers/route.ts
  src/app/api/auth/register/route.ts
Owners: @rent360/frontend-team

Fix: Agregar tipos para puppeteer - Crear archivo de declaraciÃ³n de tipos src/types/puppeteer.d.ts - Resolver error de TypeScript: Could not find a declaration file for module 'puppeteer'
  src/types/puppeteer.d.ts
Owners: @rent360/maintainers

Fix: Corregir tipo de waitUntil en puppeteer - Cambiar waitUntil de string[] a string | string[] - Resolver error: Type 'string' is not assignable to type 'string[]'
  src/types/puppeteer.d.ts
Owners: @rent360/maintainers

fix: Corregir estado ocupado de proveedores y aÃ±adir campo direcciÃ³n en perfil mantenimiento
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/maintenance/settings/page.tsx
Owners: @rent360/frontend-team

feat: AÃ±adir campos regiÃ³n, comuna y direcciÃ³n al perfil de mantenimiento
  prisma/schema.prisma
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/provider/profile/route.ts
  src/app/maintenance/settings/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Corregir uso de ciudad en lugar de comuna para MaintenanceProvider
  prisma/schema.prisma
  src/app/api/maintenance/[id]/available-providers/route.ts
  src/app/api/provider/profile/route.ts
  src/app/maintenance/settings/page.tsx
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Eliminar referencia a commune en MaintenanceProvider profile GET
  src/app/api/provider/profile/route.ts
Owners: @rent360/frontend-team
