Repository ignacioargenis-dev/Rent360.finalizado, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rent360/maintainers, @rent360/backend-team, @rent360/frontend-team, @rent360/devops-team, @rent360/qa-team, @rent360/docs-team, @rent360/security-team

fix: Corregir campo details por newValues en AuditLog para descarga de documentos
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

fix: Corregir tipo de respuesta para descarga de documentos
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

fix: Convertir Buffer a Uint8Array para Response
  src/app/api/signatures/[id]/download/route.ts
Owners: @rent360/frontend-team

fix: Corregir include en SignatureRequest query
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Remover verificación de creador en permisos de firma
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Remover campo completedAt inexistente en SignatureRequest
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir método DELETE de firmas
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir manejo de resultado void en cancelación de firmas
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir actualización de SignatureRequest en cancelación
  src/app/api/signatures/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir callback de FirmaPro
  src/app/api/signatures/callback/firmapro/route.ts
Owners: @rent360/frontend-team

fix: Corregir spread de metadata nullable en callback FirmaPro
  src/app/api/signatures/callback/firmapro/route.ts
Owners: @rent360/frontend-team

fix: Corregir callback de TrustFactory
  src/app/api/signatures/callback/trustfactory/route.ts
Owners: @rent360/frontend-team

fix: Corregir verificación de permisos en creación de firmas
  src/app/api/signatures/route.ts
Owners: @rent360/frontend-team

fix: Corregir validación de signatureId y manejo de expiresAt
  src/app/api/signatures/route.ts
Owners: @rent360/frontend-team

fix: Remover campos inexistentes del select de Property
  src/app/api/support/legal-cases/[id]/route.ts
Owners: @rent360/frontend-team

fix: Corregir filtro de mantenimiento en dashboard de tenant
  src/app/api/tenant/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Corregir campos inexistentes en select de AuditLog
  src/app/api/tenant/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Actualizar mapeo de actividad reciente para usar nuevos campos de AuditLog
  src/app/api/tenant/dashboard/route.ts
Owners: @rent360/frontend-team

fix: Remover campos inexistentes kycStatus y kycLevel del select de User
  src/app/api/user/kyc/initiate/route.ts
Owners: @rent360/frontend-team

fix: Corregir enum KYCLevel en esquema de validación
  src/app/api/user/kyc/initiate/route.ts
Owners: @rent360/frontend-team

fix: Importar KYCLevel enum y hacer cast explícito
  src/app/api/user/kyc/initiate/route.ts
Owners: @rent360/frontend-team

feat: Agregar modelo PropertyFavorite al esquema de Prisma
  prisma/schema.prisma
Owners: @rent360/backend-team

fix: Convertir undefined a null en campos opcionales de usuario
  src/app/api/users/route.ts
Owners: @rent360/frontend-team

feat: Agregar modelo RunnerRating y corregir API de calificaciones
  prisma/schema.prisma
  src/app/api/visit/rate/route.ts
Owners: @rent360/backend-team, @rent360/frontend-team

fix: Agregar importación faltante de db en API de calificaciones
  src/app/api/visit/rate/route.ts
Owners: @rent360/frontend-team

fix: Corregir nombre de relación en modelo Visit
  src/app/api/visit/rate/route.ts
Owners: @rent360/frontend-team

fix: Corregir uso de logger.error en API de calificaciones
  src/app/api/visit/rate/route.ts
Owners: @rent360/frontend-team

fix: Convertir undefined a string vacía en propiedades opcionales de appointments
  src/app/broker/appointments/page.tsx
Owners: @rent360/frontend-team

fix: Convertir undefined a new Date() en selectedDate del AppointmentForm
  src/app/broker/appointments/page.tsx
Owners: @rent360/frontend-team

fix: Resolver error 'Object is possibly undefined' en acceso a array
  src/app/broker/commissions/page.tsx
Owners: @rent360/frontend-team

fix: Resolver problema de tipos en paidDate de commissions
  src/app/broker/commissions/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipo paidDate en updateCommissionStatus
  src/app/broker/commissions/page.tsx
Owners: @rent360/frontend-team

fix: Corregir spread condicional para paidDate en commissions
  src/app/broker/commissions/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos faltantes a objetos User mock en contracts
  src/app/broker/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Completar campos faltantes en todos los objetos User mock
  src/app/broker/contracts/page.tsx
Owners: @rent360/frontend-team

fix: Corregir tipo de emptyImages de string[] a File[]
  src/app/broker/properties/new/page.tsx
Owners: @rent360/frontend-team

fix: Convertir arrays a strings JSON en mock data de properties
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

fix: Cambiar strings ISO a objetos Date en mock properties
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

fix: Limpiar referencias a campos inexistentes en Property
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

fix: Agregar campos requeridos faltantes en mock properties
  src/app/broker/properties/page.tsx
Owners: @rent360/frontend-team

.github/CODEOWNERS:

# Code owners for Rent360
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (todos los cambios requieren revisi贸n)
* @rent360/maintainers

# Backend/API
src/app/api/ @rent360/backend-team
src/lib/ @rent360/backend-team
prisma/ @rent360/backend-team

# Frontend
src/app/ @rent360/frontend-team
src/components/ @rent360/frontend-team
src/hooks/ @rent360/frontend-team

# Microservicios
services/ @rent360/backend-team

# Configuraci贸n
*.config.js @rent360/devops-team
*.config.ts @rent360/devops-team
.github/ @rent360/devops-team

# Tests
tests/ @rent360/qa-team
__tests__/ @rent360/qa-team

# Documentaci贸n
docs/ @rent360/docs-team
*.md @rent360/docs-team

# Security (requiere aprobaci贸n de security team)
src/lib/security/ @rent360/security-team
src/lib/auth/ @rent360/security-team
